[2022-02-12 20:36] okonet commented on #123
I assume Sublime doesn't support some open type features. We will provide a separate download for the script version soon. Stay tuned.

[2022-02-14 17:35] dwhenson commented on #123
I think Sublime does support open type features, in this case I think it should work in Sublime under the ss02 option. I think it might be because the script font is not strictly monospace?

[2022-02-14 21:56] jowens opened #124 "May I have a license to your fonts so that I can get them to work in otfinst?"
Hi, I built a tool called [otfinst](https://ctan.org/pkg/otfinst?lang=en) for use in installing OpenType fonts into LaTeX. I have never tested such a tool with a monospace font with so many variants and I'd like to make sure the tool works with your variants. Would you consider issuing me a license for testing?

[2022-02-15 03:58] fz6m opened #125 "How to set alternative fonts in terminal on vscode"
## Background information

* Font edition (i.e. trial, personal, plus, pro): `plus`
* Font version (i.e. 1.805): `1.805`
* The type of the font file you are using (i.e. otf, ttf): `otf`
* Operating system (i.e. MacOS, Windows): `MacOS`

* IDE：`vscode`

## Issue

How to use the alternative fonts of `ss01` ... `ss*` in the terminal ?
I don't seem to find a configurable way on vscode

<img width="70%

[2022-02-15 06:06] dwhenson commented on #123
Sounds good

[2022-02-15 20:23] bebraw commented on #125
Please see https://www.monolisa.dev/faq .

[2022-02-15 20:27] #125 closed

[2022-02-16 22:19] leonbreedt opened #126 "Weird behaviour with multiple hyphens"
We welcome any feedback regarding technical issues (broken letters, ligatures not working, bad spacing etc). We will have a look and try to implement the changes in future versions.

---

## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): **Plus**
* Font version (i.e. 1.805): **1.805**
* The t

[2022-02-16 22:27] leonbreedt commented on #126
Closing, looks like it will be fixed soon by a new build of Kitty as mentioned in https://github.com/MonoLisaFont/feedback/issues/15.

[2022-02-16 22:27] #126 closed

[2022-02-18 07:11] bebraw commented on #124
I believe [the trial version](https://www.monolisa.dev/buy/661578) would be enough for testing as it includes the basic characteristics of the fonts while missing many of the characters and special features.

I recommend checking out open source alternatives like Fira Code, JetBrains Mono, Cascadia Code, or Victor Mono to further improve your test suite.

[2022-02-18 07:11] #124 closed

[2022-02-18 09:47] okonet commented on #121
I've tested it as well and it looks like it depends on the font size. For me, setting font size to `16` results in almost identical width, but setting `15` or `17` produces very different line lengths. Check that out:
![CleanShot 2022-02-18 at 10 46 10](https://user-images.githubusercontent.com/11071/154658453-e4b0e7b6-c3e0-426d-802b-3e9c8a56a331.gif)

[2022-02-18 11:05] sylbru commented on #121
Oh, interesting! Yeah I guess it’s a Sublime Text issue then, in any case I’m a happy MonoLisa user now :)

[2022-02-19 09:04] codecapitano opened #127 "No ligatures for trial version on (M1) Mac"
Hi MonoLisa team,

currently using the trial version of the Font on a M1 Mac but Ligatures won't show.
Apps I tested: VsCode, Intellij, Terminal.

---

## Background information
* Font edition: trial
* Font version: ? (latest trial as of Feb. 19.)
* The type of the font file you are using: otf
* Operating system: MacOS Montery 12.2.1 / Apple M1 Pro
* Display resolution: 16-inch (3456 × 2234)
~* An

[2022-02-19 10:33] okonet commented on #127
Ligatures aren't included in the trial version.

[2022-02-19 10:33] #127 closed

[2022-02-21 10:08] MarcusSterz commented on #113
@dinhquochan Honestly there is not much we can do. MacOS does Hinting on the fly which means whatever we change on our side, it won’t show. With older monitors there is always problems at some certain size. If we change the size or angle of the `>` we would have to change all of the connected ligatures as well which is a lot of hassle.

[2022-02-21 14:21] #109 closed, assigned to mekkablue, MarcusSterz

[2022-02-22 07:26] bebraw commented on #109
1.806 is available now.

[2022-02-22 07:26] bebraw commented on #100
Fixed and published in 1.806.

[2022-02-22 07:26] #100 closed

[2022-02-22 07:26] bebraw commented on #120
Fixed and published in 1.806.

[2022-02-22 07:26] #120 closed

[2022-02-22 07:26] bebraw commented on #115
Fixed and published in 1.806.

[2022-02-22 07:26] #115 closed

[2022-02-22 12:25] aleksejsolovev opened #128 "Font weights are broken again"
* Font edition (i.e. trial, personal, plus, pro): plus
* Font version (i.e. 1.805): 1.806
* The type of the font file you are using (i.e. otf, ttf): ttf
* Operating system (i.e. MacOS, Windows): Linux
* Display resolution (i.e. 3072x1920): 1920x1080

Font version 1.806 weights are broken again exactly in the same way as in version 1.804, see issue #112. Only normal font has proper weight, light, m

[2022-02-22 12:35] okonet commented on #128
@aleksejsolovev I'm very sorry for this! I agree that we should invest more into the automated release management process that prevents this and we will with a higher priority.

[2022-02-22 15:31] MarcusSterz commented on #128
@okonet Can you confirm? I do not see any problem here.
@vikky49 Do you see this when you preview?
<img width="1089" alt="Bildschirmfoto 2022-02-22 um 16 11 35" src="https://user-images.githubusercontent.com/51958720/155164655-069b93be-9201-4db7-988d-5ab994afcd63.png">
<img width="1032" alt="Bildschirmfoto 2022-02-22 um 16 11 23" src="https://user-images.githubusercontent.com/51958720/155164671-6e

[2022-02-22 15:50] vikky49 commented on #128
@MarcusSterz  Actually my bad. It looks good not sure why i thought it was not working. Just reverified it and looks good

[2022-02-22 19:38] ankidoc opened #129 "activating all fonts but using it selectively?"
We welcome any feedback regarding technical issues (broken letters, ligatures not working, bad spacing etc). We will have a look and try to implement the changes in future versions.

---

## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): personal
* Font version (i.e. 1.805): latest 1.806
* Th

[2022-02-22 20:24] ankidoc commented on #129
solved, sry for posting

[2022-02-22 20:24] #129 closed

[2022-02-23 07:54] karchung0930 opened #130 "Commercial Use"
I saw 'commercial use' is available in PROFESSIONAL plan, but we can do with it?

[2022-02-23 09:02] okonet commented on #130
We actually removed this as a differentiator but forgot to update the page. Now it's up to date. You can use either bundle commercially but we encourage companies to buy professional.

[2022-02-23 09:02] #130 closed

[2022-02-23 11:59] bebraw commented on #128
Fixed in 1.807.

As a sidenote, my understanding is that it can be preferable to use OTF under Linux though TTF is an option. TTF tends to be better on Windows, though.

[2022-02-23 11:59] #128 closed

[2022-02-25 16:30] Steve-OH opened #131 "Irregular spacing in === and !== ligatures in Sublime Text on Windows"
We welcome any feedback regarding technical issues (broken letters, ligatures not working, bad spacing etc). We will have a look and try to implement the changes in future versions.

---

## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): Personal
* Font version (i.e. 1.805): 1.806
* The type

[2022-02-25 18:02] bebraw commented on #131
There's a technical limitation here. Especially on low resolution, it's possible to optimize the font only for specific pixel sizes. It's exactly this what you see in your screenshots. If we fix the issue for 12px, then it will likely break it for another size. That said, I am not sure if this is a problem we can fix as it's fundamentally not solvable.

I believe @MarcusSterz can provide more insi

[2022-02-25 18:20] Steve-OH commented on #131
I would accept that, were it not for the fact that, as I mentioned, the problem does not occur in Cascadia Code at all:

![image](https://user-images.githubusercontent.com/612027/155767050-c891b1b2-d760-49d2-be2e-dfd186a71f79.png)

Here's the source html for the above:
[code]

[2022-02-26 08:10] bebraw commented on #131
@Steve-OH Gotcha. Let's see if Marcus can figure this one out then. My understanding is that TTF might give some extra control over hinting for Windows so maybe they leveraged that.

[2022-02-27 13:27] krish-r opened #132 "zip file for v1.807 seems to have ttf v1.806 bundled"
Hello,

* Font edition: Personal
* Font version: 1.807
* Font Type: ttf

The .zip file for **v1.807** seems to have TTF **v1.806** bundled instead (OTF folder has v1.807).
Can you please take a look into this?

[2022-02-27 13:55] aleksejsolovev commented on #132
1.807 zip file has fixed TTF issue #128 for me, and SHA1 sums of TTF files in 1.806 and 1.807 bundles differ. But version tags of TTF files in 1.807 bundle left unchanged:
[code]
For me 1.807 bundle works perfect, and IMHO versions are very minor issue.

[2022-02-28 05:00] bebraw commented on #132
Yes, it's a version tag issue.

@MarcusSterz Can you please attach the correct version tag to the new ttf so I can fix this one?

[2022-02-28 08:00] krish-r commented on #132
ah! okay, Thanks to both of you for checking.
Since this is a minor observation, I'm happy to close this issue if you think this can correct be as a part of next release.

[2022-02-28 08:03] bebraw commented on #132
@krish-r No worries. It's worth it to get it fixed and maybe I can add a check to the process to verify versions. I'll close the issue then.

[2022-02-28 11:15] bebraw commented on #22
We've updated the license page so it's more clear about the usage. Feel free to open another issue if there's still something that's not quite right.

[2022-02-28 11:15] #22 closed

[2022-02-28 15:20] bebraw commented on #132
Fixed in 1.808.

[2022-02-28 15:20] #132 closed

[2022-03-01 08:48] tiagovla commented on #100
Perfect!
![image](https://user-images.githubusercontent.com/30515389/156135702-a8d98f44-eeb4-407c-af6c-f86a0f196636.png)

[2022-03-03 09:53] okonet commented on #49
@jonathanbennett73 we provide two sets of ligatures: `calt` OpenType flag for whitespace adjustments i.e. no glyph changes but only positioning of them. For example for pairs like `{|`. `calt` is applied by default.

The second set is under `liga` OpenType flag and is not enabled by default. This one changes some glyphs presentation. For example `!=` becomes `≠` etc.

Could you please confirm that

[2022-03-03 11:58] jonathanbennett73 commented on #49
Hi, yes both are enabled.  Screenshot attached

![MonoLisa](https://user-images.githubusercontent.com/14364181/156560500-67a3a380-0ea2-421f-90e4-4b1d11f4dd47.png)

[2022-03-08 11:17] MarcusSterz commented on #131
@mekkablue Rainer, can you comment on that. If not let’s fix this, please!

[2022-03-09 08:46] lovelymono opened #133 "Support Fira Code-style progress bars?"
Fira Code since 6.0 uses Unicode Private Use Area to provide dedicated glyphs for progress bars and loading animations. It would be really nice to have support for them in MonoLisa as well.

![image](https://user-images.githubusercontent.com/99364286/157404297-8b12bdae-fe50-4df0-90ff-4c3890cf2e53.png)

![image](https://i.imgur.com/q0Ms8n0.gif)

[2022-03-09 08:52] okonet commented on #133
Thanks for the suggestion! It's a free at one. @MarcusSterz Do you want to take a look at this one?

[2022-03-10 11:44] MarcusSterz commented on #133
Can do! Which unicode slots shall we use for this?

[2022-03-10 11:59] lovelymono commented on #133
Preferably the same ones as Fira Code. It's EE00 to EE05 for progress bar, and EE06 to EE0B for spinner animation.

[2022-03-10 16:42] asahaf commented on #49
I would like to disable ligatures and have only "calt" enabled

[2022-03-10 17:05] okonet commented on #49
We are working on make it possible. Stay tuned.

[2022-03-11 16:04] jsngalloway opened #134 "Unlisted ligature &>"
## Unlisted ligature ( &> )
When ligatures are enabled the symbols & and > combine to form
![image](https://user-images.githubusercontent.com/41742410/157901928-87eaab70-8275-4b0c-90bb-fc316862cc5c.png)

This is not documented on the website under: https://www.monolisa.dev/specimen (liga or calt)

#### Usage
While this specific ligature has advantages when writing shell code, redirecting i/o for e

[2022-03-13 11:04] bebraw commented on #134
@jsngalloway Do you know how other fonts like Fira Code handle this one? I wonder if the bash specific ligatures should live behind something like a `bash` set. I can see how it's tricky for the cpp case.

[2022-03-13 15:17] lovelymono commented on #134
@bebraw Fira Code handles that one by simply not having this ligature.

[2022-03-15 12:50] bebraw commented on #123
We just launched a service that lets you write script to the font itself as the default option. This avoids the trouble with Sublime Text in this case.

Also see https://twitter.com/monolisafont/status/1503709310915915781 .

[2022-03-15 12:50] #123 closed

[2022-03-15 12:51] #114 closed

[2022-03-15 12:52] bebraw commented on #52
As a workaround, you can use the font website to freeze certain font features to create a custom build. I think that's the best we can do for Visual Studio.

See https://twitter.com/monolisafont/status/1503709310915915781 for further info.

[2022-03-15 12:52] #52 closed

[2022-03-15 12:53] #49 closed

[2022-03-15 12:53] bebraw commented on #122
You can use the font website to remove ligatures from the font now.

See https://twitter.com/monolisafont/status/1503709310915915781 for further info.

[2022-03-15 12:53] #122 closed

[2022-03-15 15:12] vikky49 opened #135 "Custom Font download does not seem to work"
I have a paid version of the code alt ligatures. I can email you my order number if you want. I am trying to customize it and download it. The UI says "Requesting Font" but fails with a cross mark.

This is how I configured

<img width="915" alt="1" src="https://user-images.githubusercontent.com/180512/158409711-c3188c43-7f26-4bd7-b944-e36a411d4b77.png">

This is the error message
<img width="532"

[2022-03-15 15:15] okonet commented on #52
I have been testing with Visual Studio and ligatures are working just fine there. You can't disable them though. For that you can use the new feature and drop them from the build completely.

[2022-03-15 15:26] vikky49 commented on #135
Here are my orders from my email
<img width="638" alt="Spark - vikky49@gmail com 2022-03-15 08-24-59" src="https://user-images.githubusercontent.com/180512/158412249-2be41f66-e89b-4bda-ad94-5eefdad43c6c.png">

My email id is - vikky49@gmail.com

Please let me know

[2022-03-15 20:40] vikky49 opened #136 "Ligature <> is broken after adding a brace"
Ligature <> is broken when there is a bracket added in Java code. Here are the examples

This is how it looks when there is a brace added.

<img width="442" alt="1" src="https://user-images.githubusercontent.com/180512/158468333-a4d1399f-aaee-462d-8eef-40a626d5003c.png">

This is how it looks when the brace is moved by a space.

<img width="401" alt="2" src="https://user-images.githubusercontent.c

[2022-03-16 09:14] okonet commented on #135
Just a FYI: I removed redacted your email so it's not exposed in public. I'm also seeing something wrong on our end and I'm investigating it now. I'll close the issue when it's resolved. Thanks for reporting!

[2022-03-16 10:21] okonet commented on #135
PR is in the review. We will release the fix very soon.

[2022-03-16 10:52] #135 closed

[2022-03-16 10:52] okonet commented on #135
@vikky49 please try again. The issue should be fixed now.

[2022-03-16 11:04] MarcusSterz commented on #133
I am on it. It there an explanation why the circle segments do not have the same shape but differ in size?

[2022-03-16 15:35] lovelymono commented on #133
Not that I know of, no.
Asked for feedback at tonsky/FiraCode#1392.

[2022-03-17 13:49] jsngalloway commented on #134
No matter how this is handled it needs to be documented. This character isn't currently included in the set of ligatures detailed on the monolisa website

[2022-03-17 13:53] bebraw commented on #134
Yup, agreed. It's missing from the specimen page. I think it was introduced when the Bash characters were added.

[2022-03-18 10:36] okonet commented on #107
I've just tested Sublime Text and those ligatures work just fine for me. As for font features, we just released a feature to customize your font download: https://twitter.com/monolisafont/status/1503709310915915781

Maybe give it a try? http://monolisa.dev/orders/customize

[2022-03-18 18:27] tiagovla commented on #126
@leonbreedt did you manage to solve it? That's the only thing keeping me from using kitty.

[2022-03-19 00:45] leonbreedt commented on #126
@tiagovla i only got it working by disabling ligatures (`disable_ligatures always`). latest release of Kitty didn't fix it without this config :( would prefer not to lose ligatures, but oh well.

[2022-03-19 03:59] tiagovla commented on #126
I tried to change the size of that ligature to the same size of the arrow ligature, but it still breaks. I ended up removing it (hyphen_hyphen.liga) with [FontForge](https://fontforge.org/en-US/) till it gets fixed.
![image](https://user-images.githubusercontent.com/30515389/159105811-d4e3f984-9c39-433e-b0e0-515a387647b5.png)

[2022-03-22 23:10] tje opened #137 "Download link from order page failing with 500 error"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): pro
* Font version (i.e. 1.805): 1.7 (I'm a bit behind)

## Issue

Ahoy! I'm having trouble downloading a later version of the font from the orders page. Clicking the general "download" button spins for a few seconds before propping up a notif

[2022-03-23 07:40] bebraw commented on #137
@tje Can you try it now? As far as I understand, GitHub had serious downtime and that might have affected the downloads since they are hosted on their infrastructure.

[2022-03-23 18:56] tje commented on #137
Hey! I tried it again this morning, also tried purging my session and logging back in first, but still getting the same red "X" toaster / 500 `FUNCTION_INVOCATION_FAILED` response

Could it be something related to my account maybe?

[2022-03-23 19:54] okonet commented on #137
Can you please email me your email and order id to info@monolisa.dev and I'll take a look. Thanks!

[2022-03-24 08:37] marktripney opened #138 "Ligature issue in Nova, VS Code, but not WebStorm"
## Background information

* Font edition (i.e. trial, personal, plus, pro): Personal
* Font version (i.e. 1.805): 1.808
* The type of the font file you are using (i.e. otf, ttf): otf
* Operating system (i.e. MacOS, Windows): Mac
* Display resolution (i.e. 3072x1920): 2560 x 1600
* Any other information that might be helpful: Issue persists across different editors and themes

## Issue

**Given th

[2022-03-24 13:35] MarcusSterz commented on #136
@mekkablue Can you have a look?

[2022-03-25 07:32] bebraw commented on #138
@marktripney Out of curiosity, can you check how it renders in Fira Code? They implement the same ligature so it would be interesting to know if they suffer from the same issue or if it's isolated.

[2022-03-25 07:50] marktripney commented on #138
@bebraw Interesting! Below, Fira Code (in Nova)...

<img width="520" alt="Screenshot 2022-03-25 at 07 43 35" src="https://user-images.githubusercontent.com/73220840/160076630-e37e22ad-82f2-4b09-8c3c-ce211bd4ea06.png">

... and, for comparison, MonoLisa:

<img width="525" alt="Screenshot 2022-03-25 at 07 46 10" src="https://user-images.githubusercontent.com/73220840/160076879-21c59e4c-ecf5-4222-af6

[2022-03-25 10:34] okonet commented on #137
@tje we just released a new UI for downloading the font that fixes this problem. Please try it out and let us know if you have any issues. Thanks!

[2022-03-25 10:34] #137 closed

[2022-03-25 18:14] zakora opened #139 "Trouble understanding availability of font customization with Personal bundle"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): personal
* Font version (i.e. 1.805): –
* The type of the font file you are using (i.e. otf, ttf): –
* Operating system (i.e. MacOS, Windows): –
* Display resolution (i.e. 3072x1920): –
* Any other information that might be helpful: –

## Issu

[2022-03-25 20:46] bebraw commented on #139
The customize tool is limited to plus/pro packages at the moment.

You could try using https://github.com/twardoch/fonttools-opentype-feature-freezer to apply the alternate zero to the font files.

[2022-03-26 11:25] zakora commented on #139
Thanks, that clarify things a bit 😃 !

Do I understand correctly that the Personal edition contains exactly 1 OTF file and 1 TTF file?
The TTF file being "freezed" with the default Monolisa variants. Whereas the OTF would make the slashed zero available either in application that support OpenType features, or alternatively with https://github.com/twardoch/fonttools-opentype-feature-freezer.
And on

[2022-03-26 11:31] bebraw commented on #139
The personal edition contains regular and bold weights in separate files for each format (otf, ttf, woff, woff2).

Feature freezing works even with ttf and it's not limited to otf as far as I understand.

Plus and pro provide a simple UI for font modifications, yup, but the freezer tool I linked can do more or less the same.

[2022-03-26 18:08] zakora commented on #139
Thanks, I have all the info I need then 😃 !

<hr>

Here is a small suggestion of what could be added in the Monolisa FAQ:

**What files are included in the Personal edition?**
The Personal edition comes with the following files:
- 1 TTF file for Monolisa Regular
- 1 TTF file for Monolisa Bold
- 1 OTF file for Monolisa Regular
- 1 OTF file for Monolisa Bold
- 1 WOFF file for Monolisa Regular
- 1 WO

[2022-03-26 18:08] #139 closed

[2022-03-28 17:35] miszo commented on #57
I've prepared NerdFont patch today, and it wasn't that hard. But to be honest, I would be over the moon and forever grateful if the NerdFont glyphs would be available out of the box.

[2022-03-28 17:45] jjpiv commented on #57
Yeah, it really isn't that hard. However, not needing to patch the font as new releases are published would be quite nice.

[2022-03-29 01:01] jahirfiquitiva opened #140 "Easier way to request a student discount"
Hello,

I wanted to ask if you could add an easier way to request a student discount. Last week I sent an email and haven't got any response.

Additionally I wanted to ask if it's possible to add parity / location-based discounts.

Thanks in advance!

[2022-03-29 05:46] bebraw commented on #140
Can you send a request to students@monolisa.dev ?

This has been done already.

[2022-03-29 05:46] #140 closed

[2022-03-29 05:48] bebraw commented on #140
@jahirfiquitiva I see you requested discount already. Did you check your spam? I also sent another message just in case.

How would you simplify the process?

[2022-03-29 09:15] bebraw opened #141 "Allow alternate >= and <="
Since #85 was fixed and => width was tweaked to be consistent with other combinations, there have been several requests to restore the previous solution. This might be a good spot for a character variant or a stylistic set to be enabled through the customization UI.

[2022-03-29 11:28] okonet commented on #141
I'd prefer going back to the previous variant TBH. I don't like the current look at all. We can add what we have now as a variant and allow freezing. This will increase the amount of features to choose from too.

[2022-03-29 11:37] bebraw commented on #141
Yeah, that would be a good way to go.

[2022-03-29 14:51] bebraw commented on #140
There was some configuration issue in mail so they shouldn't go to the spam anymore.

This depends on [Paddle](https://www.paddle.com/). They have their limitations and technically it's per currency. It's a technical limitation we cannot solve without changing the entire payment flow.

It's limited to personal due to historical reasons and this is unlikely to change. This also keeps the price poin

[2022-03-29 15:44] jahirfiquitiva commented on #140
Then would you be open to offer the additional discounts for countries upon request, similar to the student discounts? Because based on the currency seems like not a significative discount for Colombia, compared to the ones offered by Wes Bos 🤔

And also, does it mean, should it show my currency (COP - Colombian Pesos) as I'm in Colombia? if so, why is it showing dollars? 🤔

[2022-03-29 15:46] bebraw commented on #140
This might be a limitation on Paddle side as they support only a fraction of all currencies available. When a currency isn't supported by their system, they use a fallback currency instead.

[2022-03-29 15:47] bebraw commented on #140
It would be too much work to support this.

[2022-03-31 07:35] okonet commented on #96
Interestingly I still experience issues with the latest `1.808`:
<img width="252" alt="CleanShot 2022-03-31 at 09 33 07@2x" src="https://user-images.githubusercontent.com/11071/161002060-3e839c2d-2520-4b9e-8681-c95a3d83c85b.png">

<img width="350" alt="image" src="https://user-images.githubusercontent.com/11071/161002030-044a72ac-58ad-41b9-b1c0-dde66a7da2dd.png">

There are also weird issues with

[2022-03-31 07:38] bebraw commented on #96
Let's re-open so this can be checked again.

[2022-03-31 07:52] sgigou commented on #107
After a retry, it seems to work now. Maybe it was a bug in SublimeText display.

By the way, thank you very much for the download customization tool, it is awesome!

[2022-03-31 07:52] #107 closed

[2022-03-31 07:57] bebraw commented on #96
My renders below:

**1.806**

<img width="121" alt="Screen Shot 2022-03-31 at 10 54 25" src="https://user-images.githubusercontent.com/166921/161005734-6e552ffd-5495-4dd0-ad00-6b6535dfb25d.png">
<img width="66" alt="Screen Shot 2022-03-31 at 10 54 21" src="https://user-images.githubusercontent.com/166921/161005737-c2031e60-2a92-4da2-957c-8bed3ecf5286.png">

**1.808**

<img width="148" alt="Screen

[2022-03-31 08:06] bebraw commented on #96
It's size 11 on a 3072x1920 display. With that resolution the alignment is acceptable as normally you don't look at it very close.

[2022-03-31 08:58] bebraw commented on #32
@MarcusSterz Would it make sense to push this combination behind a character variant? It can then be exposed through the customize UI.

[2022-04-01 10:15] MarcusSterz commented on #96
I have a adjusted the heights of the traingles to the block symbols. The latters had been altered previeously due to consistency with border symbols. It’s all connected... 8-/

Will be visible in the next update.

[2022-04-04 10:46] MarcusSterz commented on #136
These two ligatures are in conflict when written subsequently.
<img width="158" alt="Bildschirmfoto 2022-04-04 um 12 45 03" src="https://user-images.githubusercontent.com/51958720/161528201-7e1b79b9-403c-4616-b5a4-8a156faf6a82.png">
Both are `calt` ligatures.
If we move `<>` to `liga`(which makes sense by appearance) this would help since you could at least chose to have only one activated.
What d

[2022-04-04 10:49] okonet commented on #136
I think a more appropriate solution would be to introduce a third ligature `<>(` or drop `>(`

[2022-04-04 10:59] MarcusSterz commented on #136
Both no problem. Let me know. But remember we have `<(` as well so we would have to delete that one, too.

[2022-04-04 11:02] bebraw commented on #136
I would drop `>(` from `calt` as I could imagine constructs like `<>{` or `<>[` or something else depending on `<>` (common syntax for a template) and then you would have to accommodate for these if and when reports come.

What's the original reasoning for supporting `>(`? If it's still good to have, then it feels like a character variant to enable separately.

[2022-04-05 15:11] lovelymono opened #142 "Allow disabling `#{`, `#(`, `#[` and `]#` ligatures"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): Personal
* Font version (i.e. 1.805): 1.808
* The type of the font file you are using (i.e. otf, ttf): OTF
* Operating system (i.e. MacOS, Windows): Linux
* Display resolution (i.e. 3072x1920): 2560x1440@2x
* Any other information that might b

[2022-04-05 18:20] okonet commented on #142
Yeah I agree, let's drop them from `calt` and move to a special set.

[2022-04-08 10:54] infokomes opened #143 "Website broken links"
In FAQ page some links are broken.

Links instead of host monolisa.dev include "localhost:3000"

In sections :
- How to download the typeface?
- How to upgrade to ...

[2022-04-08 11:38] okonet commented on #143
Thanks for repotting! I just fixed the linkes but it might take some time until it's published. Again, thanks for reporting!

[2022-04-08 11:38] #143 closed

[2022-04-10 04:22] vikky49 opened #144 "The customize fonts keep throwing me the error saying order number not found"
I keep playing with different alternatives once in a while, Today i tried changing my @ to an alternate and I tried generating new font from customize font

<img width="1728" alt="Screen Shot 2022-04-09 at 9 19 27 PM" src="https://user-images.githubusercontent.com/180512/162601329-fd9dc11e-8d1c-4454-badd-a69ce77ff769.png">

Keep getting could not get the matching order. Not sure why i keep getting

[2022-04-10 07:42] okonet commented on #144
Hey. Sorry to hear that. What email did you use to purchase it?

[2022-04-11 14:28] vikky49 commented on #144
@okonet vikky49@gmail.com

[2022-04-11 14:34] okonet commented on #144
@vikky49 it should be fixed now. Please try again.

[2022-04-11 14:40] vikky49 commented on #144
Thanks its working now

[2022-04-11 14:40] #144 closed

[2022-04-18 04:40] avidworks commented on #131
Just thought I'd chime in to say I just bought the latest version of this font, and am also having this issue on Windows at 1440p resolution. Screenshots are 18px font size at 400 and 600 weights however this issue occurs with all weights at various font sizes with differing results.  I compared to version 1.303 which did not seem to have the issue but is significantly blurrier (top screenshot).

[2022-04-18 04:50] aaronbell commented on #131
IMO, well-hinted TTFs will always give better results on Windows than OTFs. There's simply more control.

If y'all need a TTF hinter, you know where to find me :)

[2022-04-21 19:05] weikinhuang opened #145 "Certain emojis glyphs are not rendering properly in VSCode"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): plus
* Font version (i.e. 1.805): 1.808
* The type of the font file you are using (i.e. otf, ttf): otf
* Operating system (i.e. MacOS, Windows): Windows
* Display resolution (i.e. 3072x1920): 1920x1080
* Any other information that might be hel

[2022-04-21 23:21] lovelymono commented on #145
MonoLisa defines some custom emojis like ✔️ and 🔒, to make some commonly used symbols in the CLI fit with the font. There isn't really a way to disable them, as far as I know. You could try putting an emoji font name before `MonoLisa`, like so:

    "editor.fontFamily": "'Apple Color Emoji', MonoLisa, Consolas, ...",

but I'm not sure if it's going to work fine, since (some?) emoji fonts also defi

[2022-04-21 23:41] weikinhuang commented on #145
I've tried that with `Segoe UI Emoji`, but it completely overrides the MonoLisa font, and then I just end up with a weird mess.

[2022-04-22 00:08] lovelymono commented on #145
A somewhat simpler option would be to drop the emojis from the main character set and move them into a special set, which could be kept on by default.

[2022-04-22 11:45] dwhenson commented on #45
I use Substance (I think from the same desigers) and think it goes nicely.

[2022-04-22 12:12] dwhenson commented on #123
Just came back to check for progress - this is perfect. Thank you!

[2022-04-22 12:22] weikinhuang commented on #145
That would be good, and if anything, can be included separately if needed.

[2022-04-22 16:17] bebraw opened #146 "ss03 and ss04 are missing italic versions"
Simple as that - it seems ss03 and ss04 come only in regular shape and are missing italics. To be consistent, it would likely be a good idea to include italic versions for these two as well.

[2022-04-25 09:05] fxn opened #147 "Version mismatch"
Hi!

The website shows `1.808` in the download dropdown

<img width="437" alt="Screen Shot 2022-04-25 at 11 03 42" src="https://user-images.githubusercontent.com/3387/165057075-49c96217-aebe-401d-aa8f-aeac37df016a.png">

but inspecting in Font Book says `1.807`:

<img width="473" alt="Screen Shot 2022-04-25 at 11 04 24" src="https://user-images.githubusercontent.com/3387/165057194-a93a00ac-6bea-48

[2022-04-27 06:49] bebraw commented on #147
For reference, here's what I get through our internal GitHub API (either individual file or from zip):

<img width="272" alt="Screen Shot 2022-04-27 at 9 46 35" src="https://user-images.githubusercontent.com/166921/165457918-3b742c40-38fd-4a53-b677-5a0d7d642ccd.png">

Maybe there's something in between catching the wrong version as there's some API bit on top of the GitHub layer.

@fxn Note that t

[2022-04-27 06:53] okonet commented on #147
What is the Finder.app saying when you download the font but before you install it? I'm getting the right version so could it be the Fonts.app?

[2022-04-27 07:15] fxn commented on #147
Interesting! Inspecting in Finder says 1.808, and now FontBook says 1.808.

Since the bug report I closed FontBook and there has also been a reboot. Smells like caching.

All seems good then as far as the font metadata is concerned. Closing!

[2022-04-27 07:19] #147 closed

[2022-04-28 13:18] HuaDeity opened #148 "student discount upgrade"
Can't student discount order upgrade to plus or professional version?It shows me that.
<img width="552" alt="截屏2022-04-28 21 18 16" src="https://user-images.githubusercontent.com/64831499/165761127-a5247c77-1808-4a16-868e-43d9068249a5.png">

[2022-04-28 14:28] bebraw commented on #148
What's your order id?

[2022-04-28 14:30] aakast opened #149 "At least one latin letter not properly implemented ( æ )"
We welcome any feedback regarding technical issues (broken letters, ligatures not working, bad spacing etc). We will have a look and try to implement the changes in future versions.

---

## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): trail
* Font version (i.e. 1.805): Newest as of writing

[2022-04-28 15:05] MarcusSterz commented on #149
The trial version has a reduced character set. The `ae` shown is a fallback font.

[2022-04-28 16:13] #149 closed

[2022-04-29 05:18] bebraw commented on #148
This is getting handled elsewhere so I'm closing it here.

[2022-04-29 05:18] #148 closed

[2022-04-29 09:43] #146 closed, assigned to nobody

[2022-04-29 10:04] okonet commented on #145
Yeah, I think what we should drop emojis on our end.

So, if there is a symbol like an "checkbox" there are multiple versions of it: https://unicode-table.com/en/sets/check/ I think MonoLisa should not replace Emojis but rather use the "flat" version. So, for checkbox we could move it to `U+2713` and keep `U+2714` intact.

Alternatively, we could move those symbols to a stylistic set. @MarcusSterz

[2022-05-01 07:11] krish-r opened #150 "Feature Request: Adding the previous version of curly braces {} as a character variant"
Hello,

Could you please consider adding back the previous version of the curly braces `{}` (i.e. the variant prior to v1.700) as a character variant?
(As mentioned in #141, we'll have more than one variant to choose from)

Previous version (prior to v1.700):
![image](https://user-images.githubusercontent.com/54745129/166135285-8622ba50-57e2-4c0d-807c-d0cea98b7778.png)

Current version:
![image](h

[2022-05-03 08:09] MarcusSterz commented on #131
Meanwhile I have hinted the particular glyphs. Let’s see if it improves the rendering in the next version.

[2022-05-03 12:22] MarcusSterz commented on #145
Yes, @okonet might be a solution. Thinking about how to do it since I can only put a stylistic set to something that is already an existinng glyph. It would be a reverse fallback in a way.

[2022-05-06 07:27] bebraw commented on #99
We decided to keep the issue open for now to track its prevalence. The problem is that we cannot fix this on our end at the font.

[2022-05-06 07:27] #99 closed

[2022-05-06 07:32] bebraw commented on #138
Related to #142.

[2022-05-06 08:04] bebraw commented on #142
We discussed this further and agreed to remove `#{,` `#(`, `#[` and `]#` from the typeface.

[2022-05-06 08:25] okonet commented on #145
It looks like this depends on https://github.com/MonoLisaFont/website/issues/532

[2022-05-06 08:26] okonet commented on #134
This will be fixed in https://github.com/MonoLisaFont/website/issues/532

[2022-05-06 08:35] bebraw commented on #138
I opened a related issue at https://github.com/microsoft/vscode/issues/148885 to capture feedback from VS Code side.

[2022-05-10 22:49] vikky49 commented on #136
Any idea on when this would be fixed. just asking out of curiosity

[2022-05-11 06:44] okonet commented on #136
I'd suggest we go with adding `<>(` and other bracket combinations to `calt` to make a non-breaking change.

We can re-consider removal later.

WYT @MarcusSterz?

[2022-05-11 12:41] MarcusSterz commented on #141
Will be available as discussed in the next version.

[2022-05-13 11:47] MarcusSterz commented on #136
Yes let’s try that.

[2022-05-13 11:57] #103 closed

[2022-05-15 20:41] mbuczko opened #151 "Ligature '///' on Linux might be broken"
Hey, I'm using `///` ligature for Rust docstrings and it behaves really weird (at least on Linux with Emacs). Hard to describe  it with words (triple slashes somehow get replaced by double ones), so please have a look at attached recording :)

https://user-images.githubusercontent.com/586537/168492893-62e25f41-dc2b-4faf-a7dd-c7e1f15713d2.mp4

This does not happen with other fonts (like JetBrains M

[2022-05-16 06:24] okonet commented on #151
@mekkablue any idea what could cause this?

[2022-05-16 08:07] MarcusSterz commented on #142
Will be removed in the upcoming version.

[2022-05-16 08:18] MarcusSterz commented on #133
@okonet @bebraw How is the status here? The design is ready.

[2022-05-16 08:29] MarcusSterz commented on #133
The design is finished. Andrey wanted to create some animation to check if it looks good.

[2022-05-16 08:34] bebraw commented on #133
Ah, ok.

Are the glyphs in the dev version? I guess he would need a font to test with.

@lovelymono Do you know specific terminal applications that use glyphs already?

[2022-05-16 08:49] MarcusSterz commented on #133
Yes they are.
<img width="1269" alt="Bildschirmfoto 2022-05-16 um 10 47 48" src="https://user-images.githubusercontent.com/51958720/168554915-07427c36-4613-4cf6-b575-ec4999d197c2.png">

[2022-05-16 10:06] MarcusSterz commented on #145
I can uncheck them for export as a quick solution. A bit of a shame because emojis’ looks vary from OS to OS and tend to be no design master pieces.

[2022-05-16 10:12] MarcusSterz commented on #145
I just found a way to insert emojis in Glyph so we could keep our symbols as stylistic set.

[2022-05-16 12:16] MarcusSterz commented on #133
You should be able to acces them now.

[2022-05-17 10:11] MarcusSterz commented on #150
Will be available as `cv` in the upcoming version.

[2022-05-17 11:02] MarcusSterz commented on #63
I am keen to look into that more deeply.

[2022-05-17 12:48] MarcusSterz commented on #145
OK, bad news. It is excactly whatI feared: I cannot add the system emojis and make them replaceable (means: I can add them in Glyphs but they don’t show in apps).
So I will exclude them from export generally.

[2022-05-17 22:46] vinorodrigues opened #152 "Fonts are not mono-spaced (i.e. equal width across ALL characters)"
## Background information

Playing around with your font at https://www.monolisa.dev/playground and disappointed that the characters do not align for the following code block in the "Java" code sampler.  *(The other fonts do.)*

[code]

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): Your website
* Font version (i.e.

[2022-05-18 04:23] bebraw commented on #152
I think the issue is restricted to the playground. Here's a render from VS code with ligatures enabled:

<img width="196" alt="Screen Shot 2022-05-18 at 7 22 13" src="https://user-images.githubusercontent.com/166921/168956662-ad1dc609-ecd2-4f29-961a-adae6a0e388c.png">

Did you try with the trial as well on your computer?

[2022-05-18 06:19] vinorodrigues commented on #152
is it the same in italics?  i have italics comment style in my editor.

[2022-05-18 06:25] bebraw commented on #152
Ok, I can confirm the issue now. Screenshot below:

<img width="189" alt="Screen Shot 2022-05-18 at 9 24 20" src="https://user-images.githubusercontent.com/166921/168971397-55eabc14-0c4a-4220-839c-a75ba814ce02.png">

For future reference, I use `"editor.fontFamily": "MonoLisa-RegularItalic",` in VS Code to test as it sets it to italic globally (easy to test).

[2022-05-18 11:58] MarcusSterz commented on #63
@okonet @bebraw I reached out for a feriend who is south korean. What would out budget be for that?

[2022-05-18 12:11] bebraw commented on #63
@MarcusSterz If I understood correctly, it's about 40 characters to cover and italic for each I imagine. Then there's some amount of effort per character. It's difficult to give an exact figure but that's the starting point at least for some kind of hour estimate.

[2022-05-18 12:49] MarcusSterz commented on #63
@bebraw I do not know enough but it is a bit more complicated:
https://glyphsapp.com/learn/creating-a-hangeul-font

[2022-05-20 08:47] #113 closed

[2022-05-23 10:40] MarcusSterz commented on #152
After looking into it I can say this:
– It is not broken in Glyphs, looks just fine (no matter if `liga` or `calt` are activated or not) – also share the same width of 640 units.

<img width="962" alt="Bildschirmfoto 2022-05-23 um 12 38 21" src="https://user-images.githubusercontent.com/51958720/169801758-9a334d33-9e7f-4b27-b926-083e6808725b.png">

– Other fonts (Fira Code, Source Code, Jetrbains

[2022-05-23 12:59] MarcusSterz commented on #152
Found some rogue letter space in hyphen in one italic master. Will be fixed in upcoming version.
This does not explain the other phenomena though.

[2022-05-23 13:21] okonet commented on #152
@MarcusSterz are you using italics when checking it out in Glyphs?

[2022-05-23 14:25] MarcusSterz commented on #152
As I wrote: I found a rogue spacing in one italic master. Will be fixed.
This does not explain why Fira Code et al are looking in Firefox, too, though.

[2022-05-24 03:08] vinorodrigues commented on #152
this is a known issue with FF - see https://stackoverflow.com/questions/54718201/unicode-box-drawing-does-not-render-correctly-in-browsers

[2022-05-24 03:22] vinorodrigues commented on #152
interesting link in that sof link is the "historical doc" mentioned.  it has a unicode test page ... and right at the bottom you get:

[code]

and this renders as

![image](https://user-images.githubusercontent.com/366673/169942253-8c5c4453-2741-40ac-b22f-8d3dec82bb96.png)

(on mac, with chrome)

note the not so perfect alignment - and this is NOT italics ... and the other 3 fonts align ok

[2022-05-24 03:27] vinorodrigues commented on #152
interested to know is char U+0020 (space) ***and*** char U+00A0 (nbsp) are defined as actual chars and not left to the font engine to aggregate ... because is that is the case it's going to aggregate with the wider 2x & 3x ligatures in play so the average will be wider than 640.

[2022-05-24 10:36] MarcusSterz commented on #152
@vinorodrigues THX for this test. Looking just fine in Glyphs and other apps.
Both `space` and `nbspace` are defined as characters and share the same width as the other glyphs.

@bebraw Mind testing the latest ‘develop’ version in VS Code?

[2022-05-24 11:03] bebraw commented on #152
Here's a render from the fixed version in VS Code:

<img width="177" alt="Screen Shot 2022-05-24 at 14 02 45" src="https://user-images.githubusercontent.com/166921/170020242-6449ef18-c202-44da-b7b2-edf75bc749d9.png">

The more complex case looks like this:

<img width="641" alt="Screen Shot 2022-05-24 at 14 03 11" src="https://user-images.githubusercontent.com/166921/170020331-1a01053f-5ef0-4753-b

[2022-05-24 11:55] vinorodrigues commented on #152
awesome!  I'll close this as concluded then.  ty.

[2022-05-24 11:55] #152 closed

[2022-05-25 07:24] MarcusSterz commented on #136
Delaying this for now.

[2022-05-29 00:31] sudotliu opened #153 "How do we enable slashed zero with "Personal" package?"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): personal
* Font version (i.e. 1.805): 1.808
* The type of the font file you are using (i.e. otf, ttf): otf
* Operating system (i.e. MacOS, Windows): MacOS
* Display resolution (i.e. 3072x1920): irrelevant
* Any other information that might be

[2022-05-29 04:05] bebraw commented on #153
It's explained at https://www.monolisa.dev/faq#how-to-enable-stylistic-sets-and-the-script-variant .

The alternate zero is behind `zero`.

Depending on your editor, you might have to use https://github.com/twardoch/fonttools-opentype-feature-freezer to freeze it to the font itself.

[2022-05-29 09:42] sudotliu commented on #153
Thanks, that works for VS code - it's unfortunate that other editors require extra work though. Basically means features like slashed zero are only partially supported (without extra work) since we can't customize it into the font before download without upgrading.

[2022-05-29 09:42] #153 closed

[2022-05-31 20:59] nikitaourazbaev opened #154 "Italics alignment issue in Sublime Text"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): plus
* Font version (i.e. 1.805): 1.808
* The type of the font file you are using (i.e. otf, ttf): otf
* Operating system (i.e. MacOS, Windows): macOS
* Display resolution (i.e. 3072x1920): 2048 x 1152 @ 2x (4096 x 2304)
* Any other informatio

[2022-06-07 04:41] mayaul commented on #63
hello. I purchased last night.
I used for a few days the trial version.
I think this font is good, for developer.

I expect korean support.
thank you.

[2022-06-09 20:55] Christian-Martinez1 opened #155 "Question about Script Variant styling"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): Pro
* Font version (i.e. 1.805): 1.808
* The type of the font file you are using (i.e. otf, ttf): ttf
* Operating system (i.e. MacOS, Windows): Windows
* Display resolution (i.e. 3072x1920): 2560x1080
* Any other information that might be help

[2022-06-10 07:33] bebraw commented on #155
Likely the additional styling is caused by the theme or language you are using.

This is something we cannot fix at the font and you would have to adjust the theme or language definition itself to make it look the way you prefer.

There's a bit more here: https://stackoverflow.com/questions/55054156/how-to-customise-the-textmaterules-for-multiple-themes-in-vs-code . To undo the change, you would h

[2022-06-10 08:15] Christian-Martinez1 commented on #155
Thank you for that; what was weird was even after removing all script variant styling the italics was kept on elements. I made no other theme changes aside from adding your snippet to turn on script variant for comments (the one below)
![image](https://user-images.githubusercontent.com/43798323/173021999-0c2699e8-59dc-4a1d-9219-9bef43edcd27.png)
and after removing that it still stayed.

Had to end

[2022-06-10 08:15] #155 closed

[2022-06-10 08:17] bebraw commented on #155
Note that technically the script variant **replaces** italic as far as I understand so that might explain a thing or two.

The override you did seems like the way to go for your use case. 👍

[2022-06-10 09:02] okonet commented on #155
I think you could generate 2 different fonts using "Customize font" feature on the website where one version would have a `script` feature enabled by default. This way you could setup your editor to use this version in the specific scope (not 100% sure it's possible though).

[2022-06-10 12:27] dwhenson commented on #154
Just came here to raise the same issue - thanks!

[2022-06-10 16:40] konrad-straube opened #156 "Cursive hyphen too wide when ligatures are disabled"
## Background information

* Font edition (i.e. trial, personal, plus, pro): personal
* Font version (i.e. 1.805): 1.808
* The type of the font file you are using (i.e. otf, ttf): otf
* Operating system (i.e. MacOS, Windows): Windows
* Display resolution (i.e. 3072x1920): 1080p

## Issue

VS Code allows you to disable ligatures by putting `"editor.fontLigatures": false,` in `settings.json`. So I h

[2022-06-10 17:29] bebraw commented on #156
I think this might be a duplicate of #152 so it will be fixed in the next release.

[2022-06-12 00:53] santigarcor opened #157 "Font looks really bad in vscode in ubuntu"
---

## Background information

* Font edition (i.e. trial, personal, plus, pro): Trial
* Font version (i.e. 1.805): It doesn't say
* The type of the font file you are using (i.e. otf, ttf): otf
* Operating system (i.e. MacOS, Windows): Ubuntu 20.04
* Display resolution (i.e. 3072x1920): 1920x1080 (24'' IPS Led Monitor)

## Issue

I downloaded the trial version to see how it looks on my vscode bef

[2022-06-12 04:38] bebraw commented on #157
Out of curiosity, is it any better with ttf? It can be some combination of low resolution and font rendering.

[2022-06-12 14:01] santigarcor commented on #157
@bebraw
With ttf it looks better, but then the ligatures don't work :/
![image](https://user-images.githubusercontent.com/7565417/173236822-60cefc7b-2b8f-4de9-812d-7f7789f419f1.png)
![image](https://user-images.githubusercontent.com/7565417/173236892-dbd10240-e454-4319-84df-48562a96b35a.png)

[2022-06-12 14:16] bebraw commented on #157
@santigarcor Which version are you using? The trial version doesn't come with ligatures.

[2022-06-12 14:26] santigarcor commented on #157
@bebraw I'm using this version 1.808.

Then why in the first image from the post I see some ligatures?

[2022-06-12 14:29] bebraw commented on #157
It sounds like a scripting mistake on my side. I've reduced the character range and removed some features. Likely the thing to do is to drop ttf from the trial distribution altogether to limit further.

You would need at least personal version for ligatures to work.

I added a note about ttf on Linux to the FAQ.

As there isn't anything actionable on this issue to fix in the typeface itself, I'm c

[2022-06-12 14:29] #157 closed

[2022-06-12 14:36] santigarcor commented on #157
@bebraw The ligatures worked when I used the otf, but they didn't when I switched to the ttf FYI.

Then what would be the solution for me before I buy the fonts? Use the ttf instead of the otf?

[2022-06-12 14:42] bebraw commented on #157
There's no way to test with ligatures enabled as it's one of the commercial features.

[2022-06-13 21:56] josh-collinsworth opened #158 "Ligatures `>=` and `<=` are rendering too wide on Mac"
## Background information

* Font edition: Plus
* Font version: 1.808
* The type of the font file you are using: Tried both OTF and TTF
* Operating system: MacOS
* Display resolution: Both my 4K monitor and the built-in 13" retina display
* Any other information that might be helpful: See below

## Issue

For some reason, the `>=` and `<=` ligatures both render stretched at two characters wide, ra

[2022-06-14 02:51] bebraw commented on #158
It's a known issue and this will be changed in the next release.

[2022-06-14 19:55] josh-collinsworth commented on #141
Just a suggestion, but: if a ligature that's two characters wide is desired, a whole new symbol might be better. Maybe something that still mimics the original characters (similar to, for example, the `=>` or `>-` ligatures, which closely resemble the original glyphs, but joined).

I can't speak for anyone else, but for me personally, how the ligature looks stretched is what's bothersome. A _diffe

[2022-06-17 07:08] bebraw commented on #154
Can you provide a minimal text snippet to paste into Sublime to test? I would also need your exact font configuration in Sublime Text as I was unable to reproduce the issue.

[2022-06-17 11:45] dwhenson commented on #154
I can try, this should show the issue:

  --clr-primary-300: hsl(31, 100%, 65%);
 // Colon between propterty and value is hidden under preceding '0'

  color: var(--clr-neutral-300);
 // Final bracket hidden under preceding '0'

I'm not sure what font configuration you need but I have the following in my settings file:

 "font_face": "MonoLisa",
  "font_size": 16,

Please let me know if you need a

[2022-06-17 11:49] bebraw commented on #154
How did you enable the script feature in sublime? Did you use the customize tool for that?

It's starting to feel like that the issue is specific to that. Can you confirm that it renders correctly with a regular italic?

[2022-06-17 15:11] dwhenson commented on #154
I don't have regular italic, I downloaded the custom font set and the script variant as my italic version.

The script version worked fine on previous releases of the font.

I don't really want to re-download and install the fonts to test that out. If you want me to do that let me know and I'll set aside some time to do it.

[2022-06-17 15:27] bebraw commented on #154
No probs. That's good info I think.

[2022-06-20 16:49] nikitaourazbaev commented on #154
Apologies for not replying sooner, I was away last week.

This happens with both the script italic (custom download, no OT freezing) and the regular italic. The italic in the screenshot in my original report is the regular italic.

The italics are being applied by the Monokai Pro theme:

https://monokai.pro/

I’m not sure the issue is with how the italics are being applied because Operator and Fir

[2022-06-20 17:30] bebraw commented on #154
Can you see the issue with other themes? I was testing with the default theme of Sublime. I wonder if that's the problem.

To test, I would need a free theme or minimal theme declaration that can be used to reproduce the issue.

[2022-06-20 18:54] nikitaourazbaev commented on #154
Hmm, actually, no, I can't see the issue with other themes. I had noticed this but chalked it up to other themes not italicizing as many tokens that can be long. I tried a longer CSS property name with Sublime’s default theme and can't see the issue:

![CleanShot 2022-06-20 at 14 53 12@2x](https://user-images.githubusercontent.com/41582891/174663253-da76eae8-86a1-421f-bd4e-b5f7239742a1.png)

I wil

[2022-06-20 19:00] nikitaourazbaev commented on #154
A quick update on the above: I tried some other longer CSS property names and I can see a little bit of the issue, though not nearly to the same extent:

![CleanShot 2022-06-20 at 14 58 54@2x](https://user-images.githubusercontent.com/41582891/174663863-7bba1993-9178-43c6-89e1-def0cdad376c.png)

The colon does seem to be a little close to the italic text but it doesn't get worse the more character

[2022-06-21 04:49] bebraw commented on #154
@nikitaourazbaev Thanks, that helped a lot.

I was able to find out that the issue actually has to do with the wrong width of `-`. It's the same issue as #152 and that has been fixed already. The fix will be available in the next release.

[2022-06-21 09:36] psadi opened #159 "Good but expensive"
The font is sleek and the well rendered,
But coming from India with a student background the asking price is too high.

Will use FiraCode Nerdfont till the price is reasonable or if a free version is available in future.

[2022-06-21 13:01] okonet commented on #159
We have a 50% student discounts and parity pricing so I don’t really understand this sentiment.

[2022-06-21 13:01] #159 closed

[2022-06-24 13:32] dwhenson commented on #154
Thanks for this guys. Look forward to the fix in the next release.

[2022-06-28 10:29] numbpad1 commented on #142
It turned out to be a font issue, I thought it was an editor issue.

I agree to remove it.😂😂😂

[2022-07-01 07:28] bebraw commented on #32
We decided to drop the `.-` combination entirely from the typeface after considering different options.

[2022-07-15 07:43] bebraw commented on #108
We decided not to implement the feature. The tricky part is that even at the best case we could provide only an input field as we don't have access to user fonts in a simple way.

It's much better to download the trial for a better go.

[2022-07-15 07:43] #108 closed

[2022-07-15 10:28] MarcusSterz commented on #136
@okonet @bebraw We have `<(` , too. for reasons of consistency we should delete this lig as well.

[2022-07-15 10:30] bebraw commented on #136
@MarcusSterz Ok, makes sense.

[2022-07-15 10:35] MarcusSterz commented on #136
Ligatures  `<(`  and `>(` will be not available in the upcoming version due to conflicts with `<>`.

[2022-07-15 10:35] #136 closed

[2022-07-15 12:21] chmanie opened #160 "Script variant and kitty"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): Plus
* Font version (i.e. 1.805): 1.808
* The type of the font file you are using (i.e. otf, ttf): otf
* Operating system (i.e. MacOS, Windows): Linux
* Display resolution (i.e. 3072x1920): 1920x1080
* Any other information that might be helpf

[2022-07-17 09:12] chmanie commented on #160
Hm. I wonder why the `Italic` styles don't show up for me. They're in the `fonts` folder:

[code]

[2022-07-17 09:32] #160 closed

[2022-07-17 15:38] freyjasasi commented on #158
It's same in windows 11 also. When will be the next release?

[2022-07-19 00:37] vikky49 commented on #136
Just curious , is this fixed ?

[2022-07-19 04:08] bebraw commented on #136
It will be fixed in the next release (under preparation).

[2022-07-29 07:40] bebraw commented on #46
Maybe something like this, https://img.shields.io/badge/powered%20by-monolisa-c792ea .

[2022-07-29 08:22] robinpokorny commented on #46
I was thinking more like:

![](https://img.shields.io/badge/font-MonoLisa-c792ea?labelColor=001626&logo=data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDUxMiA1MTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiPgo8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0iIzAwMTYyNiIvPgo8cGF0aCBkPSJNMzcxIDQxMEwzNTYuMDk3ID

[2022-07-31 15:50] freyjasasi opened #161 "Bold style not showing in IDE in Windows 11"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): **personal**
* Font version (i.e. 1.805): **2.000**
* The type of the font file you are using (i.e. otf, ttf): **ttf**
* Operating system (i.e. MacOS, Windows): **Windows**
* Display resolution (i.e. 3072x1920): **1920x1080**

**## Issue**
I a

[2022-08-01 04:10] bebraw commented on #161
Thanks for the heads up.

The problem was that the font weight range had changed (there are more weights now) so I had to extend the range on my side.

Can you try downloading again to see how it goes now?

[2022-08-01 04:54] freyjasasi commented on #161
Ok, I will try and update you. Thanks

[2022-08-01 05:27] freyjasasi commented on #161
Now, i can see Bold weight but its not reflecting in IDE, see screenshot below
<img width="928" alt="image" src="https://user-images.githubusercontent.com/25368842/182078139-52ddf591-9b31-44c9-b2eb-4bc10ab02ff6.png">

[2022-08-01 05:38] bebraw commented on #161
Thanks, that's valuable info. Maybe I have to include separate ttf files per weight to the build for this reason.

Out of curiosity, can you try with VS Code?

[2022-08-01 05:42] freyjasasi commented on #161
Yes, may be separate ttf for weights will work like last versions. I have vs code installed. Will try and update you

[2022-08-01 07:12] freyjasasi commented on #161
See below images for VS Code
**400**
<img width="391" alt="image" src="https://user-images.githubusercontent.com/25368842/182092823-e68297c4-10ba-4171-b6e0-c7822c992940.png">
**500**
<img width="354" alt="image" src="https://user-images.githubusercontent.com/25368842/182092869-4c87e458-4b9a-4435-8576-608e117e4bad.png">
**600**
<img width="426" alt="image" src="https://user-images.githubusercontent

[2022-08-01 07:22] freyjasasi commented on #161
update here once separate ttf for weights are added, i will check it

[2022-08-01 07:33] bebraw commented on #161
VS Code looks correct to me.

I'll ping you once the separate ttfs are included so you can test.

[2022-08-01 07:34] freyjasasi commented on #161
Ok, thanks

[2022-08-01 08:27] bebraw commented on #161
@freyjasasi I made the preview version include separate files for ttf.

Note that the version metadata is off (not pointing to 2.0) but apart from that it should be correct. I can get this fixed in two weeks earliest due to a Summer break.

[2022-08-01 08:44] freyjasasi commented on #161
I confirm metadata not updated
<img width="480" alt="image" src="https://user-images.githubusercontent.com/25368842/182109209-09026169-0dbe-4dc3-9429-b73f09127056.png">

but now its working in IDE
<img width="517" alt="image" src="https://user-images.githubusercontent.com/25368842/182109129-2c87857b-1bc6-4e87-84d2-4c77477fec7a.png">

but the fixes made for #131 and #141 are missing in separate ttf

[2022-08-01 08:50] bebraw commented on #161
The font author isn't available for two weeks so I cannot update the separate version until he is back since only he can build the font.

I think we're stuck with the current version until then.

[2022-08-01 08:53] freyjasasi commented on #161
Ok, thanks for the update. No problem 😊

[2022-08-01 13:03] freyjasasi commented on #161
Hi, found some workaround, installing both individual ttfs and variable ttfs giving the options to choose old weight also and #131 and #141 fixes
<img width="507" alt="image" src="https://user-images.githubusercontent.com/25368842/182153875-d2bf1978-4d6b-412e-89db-0288c27456e2.png">

<img width="280" alt="image" src="https://user-images.githubusercontent.com/25368842/182153969-b62b3ab9-1df3-4eab-9

[2022-08-01 14:19] freyjasasi commented on #161
Cool, thanks

[2022-08-04 17:29] kkirsche commented on #53
I have this issue with 1.808 on macOS, will try again with 2.0.0 prerelease:

the following:
[code]

Renders as:

<img width="268" alt="CleanShot 2022-08-04 at 13 29 37@2x" src="https://user-images.githubusercontent.com/947110/182913838-3fcfcfe9-a838-487c-9066-8c8a9144b240.png">

[2022-08-08 14:49] nikitaourazbaev commented on #154
@bebraw Has this fix made it into the 2.0.0 pre-release version that’s currently available for download by any chance? Just curious as I’m still seeing this issue here with that version.

[2022-08-08 14:57] bebraw commented on #154
The fix is in the variable version of the prerelease.

The version with the separate files might miss it (waiting for a build).

[2022-08-08 15:22] nikitaourazbaev commented on #154
Ahh yes, the variable version works perfectly, thank you!

[2022-08-11 11:34] kkirsche commented on #53
Tested, reproduced and isolated the issue I'm seeing:

1. Reproducible in VSCode 1.70.0 on macOS 12.5 with version 2.0 of the font.
2. Only reproducible when using a NERD font patched version of MonoLisa

Font related settings:
1. Font size: 12
2. Font Family: MonoLisa Nerd Font
3. Tab size: 4
4. `editor.fontLigatures: true`
5. `editor.fontWeight: "normal"`

[2022-08-11 11:41] bebraw commented on #53
@kkirsche Are you using the variable version?

I am waiting for a fixed build for separate weights so it's better to use the variable one.

[2022-08-11 12:11] kkirsche commented on #53
Yes I am using the variable version, which does not require installing as many .ttf files.

[2022-08-11 12:13] bebraw commented on #53
@kkirsche Do you see the issue **only** with the patched version or with the "vanilla" version as well?

[2022-08-11 12:13] bebraw commented on #53
Ah, you responded that already.

I think the problem here might be that we cannot guarantee the font to work with external modifications but I'll re-open the issue regardless.

[2022-08-11 12:22] kkirsche commented on #53
I think that's fine but the way it's modified is coming from your issue tracker, which while a user-provided solution is still a likely course of action for many users given NERD icons were an early request in #57

[2022-08-12 01:04] KingQuarter opened #162 "Italic dashes aren't monospace"
## Background information

* Font edition: trial
* Font version: 1.808
* The type of the font file you are using: otf and ttf (both were tested by deleting one then installing the other)
* Operating system: Windows 11
* Display resolution: 1366x768
* IDE: VS Code

## Issue
Italic dashes aren't monospace; they're longer than they should be.
### Non-italic:
![image](https://user-images.githubusercon

[2022-08-12 04:57] bebraw commented on #162
Can you try the prerelease version (2.0)? Use the variable one as it works with VS Code.

I believe the issue has been fixed there.

[2022-08-12 13:28] KingQuarter commented on #162
Is it possible to download the prelease version if I chose the trial version?

[2022-08-12 13:46] bebraw commented on #162
@KingQuarter The prerelease isn't available as a trial.

[2022-08-16 13:04] KingQuarter commented on #162
Closing for now until I try out v2.0.

[2022-08-16 13:04] #162 closed

[2022-08-17 02:59] zhimoe commented on #158
still too wide in 2.0 prerelease version ttf
variable version is rigt, but jetbrains ide cannot use variable font

[2022-08-17 03:03] zhimoe opened #163 "please add u2714 u2715 u2716 u2717 u2718 glyphs"
the checkmark  and crossing  sign  are very common glyph in terminal, wish can have them in personal plan version

![FFAEE177-A690-49CC-A7FB-E0AFE0D86221](https://user-images.githubusercontent.com/24514012/185026759-8baf002e-f9f9-469a-bb9a-73c7112754dd.png)

[2022-08-17 08:03] krish-r commented on #53
Hello, there's already an open [issue](https://github.com/ryanoasis/nerd-fonts/issues/858) and a [PR](https://github.com/ryanoasis/nerd-fonts/pull/860) with a fix in the nerd fonts repository for this backtick issue.

Until it gets merged, you can self-patch the font from the command-line using the options suggested in [this comment](https://github.com/ryanoasis/nerd-fonts/issues/858#issuecomment-

[2022-08-17 12:28] bebraw commented on #162
FYI, I updated trial to use 2.0 prerelease so it should have the fix now.

[2022-08-18 08:12] bebraw commented on #161
I pushed updated versions for the separate ttfs so it's safe to close this now.

[2022-08-18 08:12] #161 closed

[2022-08-19 11:25] krish-r commented on #53
Its merged now. You can now patch the font using -
- the command-line approach mentioned in my previous reply until their next release (v2.2.0)
(or)
- their latest docker image

[2022-08-20 02:39] KingQuarter commented on #162
It works! Thanks so much.

[2022-08-20 02:48] KingQuarter commented on #162
When I download the prerelease, it's still v1.808.

[2022-08-20 03:39] bebraw commented on #162
@KingQuarter I assume you used the Paddle link to download. I forgot the trial there so I pushed the version there as well. We use a separate end point for the rest. For some reason trial is delivered differently than the rest.

[2022-08-20 03:59] bebraw commented on #158
@zhimoe Can you download the prerelease again? I updated the version that has separate files in it. Earlier it was using some older version as I didn't have the right build available.

[2022-08-20 04:00] bebraw commented on #158
I'm closing this as a duplicate of #141.

In any case, the issue should be fixed in the prerelease

[2022-08-20 04:00] #158 closed

[2022-08-20 04:01] bebraw commented on #141
Fixed in 2.0 prerelease.

[2022-08-20 04:01] #141 closed

[2022-08-20 04:02] bebraw commented on #138
The issue has been fixed at 2.0 prerelease by dropping the combination. It turns out it's a `wontfix` issue at VS Code anyway so that's likely the best solution.

[2022-08-20 04:03] bebraw commented on #142
This has been done in 2.0 prerelease.

[2022-08-20 04:03] #142 closed

[2022-08-20 04:03] bebraw commented on #156
This has been fixed in 2.0 prerelease.

[2022-08-20 04:03] #156 closed

[2022-08-21 02:02] KingQuarter commented on #162
Is this the Paddle link you're referring to?
![image](https://user-images.githubusercontent.com/92368853/185771935-ecee805a-2464-453c-8c82-4dc68e34d529.png)

Just now, I entered my email, verified that I was a human, and downloaded the trial, but it's still v1.808.

[2022-08-21 04:22] bebraw commented on #162
Ok, the issue will be fixed in the next stable release.

There's likely something I missed in the pipeline. Probably the trial download is pointing to the stable version still and I don't want to rewrite that portion as prerelease can have other faults etc.

[2022-08-23 03:42] philiparvidsson opened #164 "[praise] easily the best monospaced font"
Hey everyone. I bought MonoLisa a while back. I've been into both software programming and typographic (writing academic papers) for a couple of decades. I have been through so many fonts, always looking for a better one. Rarely do the fonts stick for more than a few weeks or sometimes days - always finding my pet peeves that make the font unusable.

That changed with MonoLisa for me. I never need

[2022-08-23 05:45] bebraw commented on #164
For 2., make sure to try out 2.0 prerelease as it has a related fix for a special case. You can access it through the orders page at the website.

[2022-08-26 15:50] Finii commented on #53
There is a new release :tada: https://github.com/ryanoasis/nerd-fonts/releases/tag/v2.2.0

;)

[2022-08-26 19:30] philiparvidsson commented on #164
Interestingly, I am using the 2.0 prerelease. Here's a screenshot:

![image](https://user-images.githubusercontent.com/1163299/186978096-d9e9a31c-29b7-4bf2-80cd-e803e941ea50.png)

As you might be able to tell, everything is misaligned. This only happens here, though.

[2022-08-26 19:56] bebraw commented on #164
@philiparvidsson Are you using the variable version or the separate font files?

Can you paste the ASCII here so it's easier to test?

Can you see the issue in other editors as well or is it specific to emacs?

[2022-08-26 20:14] philiparvidsson commented on #164
I am using the /ttf/ fonts from MonoLisa-Plus-2.000.zip.

Pasted ASCII:

[code]

I'm only using it in Emacs so I haven't seen it anywhere else.

[2022-08-26 23:41] JustBarnt opened #165 "Feature Request for more glyphs for github and branching"
We welcome any feedback regarding technical issues (broken letters, ligatures not working, bad spacing etc). We will have a look and try to implement the changes in future versions.

---

## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): Plus
* Font version (i.e. 1.805): 2.00
* The type of th

[2022-08-27 16:21] dinhquochan commented on #164
FYI: Below is v2.00-pre, emacs on macOS

<img width="828" alt="image" src="https://user-images.githubusercontent.com/9979458/187038931-5013b4ff-9653-48e7-9ea0-9822dbeff506.png">

[2022-08-27 16:40] bebraw commented on #164
@dinhquochan Are you using the variable version? Can you try with it?

[2022-08-27 17:58] dinhquochan commented on #164
@bebraw yes, I try variable version!

[2022-08-30 05:41] devaayushraj opened #166 "Ligatures for those working with template engines."
Can we request you something?

If possible please bring ligature for <% and<%=

Lots of templating stuff we do in the backend can be made to look pleasant. It would a pleasure to work with them.

Please 🙏

[2022-08-30 08:00] bebraw commented on #164
I think I'm missing something. I tried with both variable and separate build on MacOS with iTerm 2 and both rendered perfectly:

<img width="590" alt="Screen Shot 2022-08-30 at 10 59 04" src="https://user-images.githubusercontent.com/166921/187382768-d9d724c9-c558-4616-b9f7-fef6203ba5f1.png">

[2022-08-31 09:05] bebraw commented on #164
@philiparvidsson Which operating system are you using? I wonder if we could reduce this to OS/Emacs combination as it seems to render as expected on MacOS/Emacs at least.

[2022-08-31 09:06] bebraw commented on #164
@philiparvidsson Also make sure to download the prerelease again as there was a subtle fix to the version with separate ttfs a while ago. One option is that you are using the one that doesn't have all the fixes in it.

[2022-09-01 07:07] krish-r commented on #133
Hello,

I tried to play with the progress bar glyphs based on `v2.0.0 Prerelease` release notes.
However, I don't see them in `v2.0.0`. Can you please check?

|||
|-|-|
| Font Version | v2.0.0 Prerelease |
| Font format | variable ttf (Professional) |

![image](https://user-images.githubusercontent.com/54745129/187848594-019d9571-7718-4800-9af3-b57bada1c264.png)

[code]

[2022-09-01 07:25] bebraw commented on #133
@MarcusSterz Can you validate that the progress bar glyphs are included in the 2.0 build output? What's a good way to check which glyphs are included to a font on MacOS?

[2022-09-01 07:38] bebraw commented on #133
These are from Font book.

**Fira Code:**

<img width="1041" alt="Screen Shot 2022-09-01 at 10 34 43" src="https://user-images.githubusercontent.com/166921/187858472-96d26d65-7d38-4bf4-bba9-91911fc104a6.png">

**MonoLisa:**

<img width="1021" alt="Screen Shot 2022-09-01 at 10 35 03" src="https://user-images.githubusercontent.com/166921/187858465-90bca405-9015-4438-8663-94412af45809.png">

It seems

[2022-09-01 07:41] philiparvidsson commented on #164
I downloaded the .zip again and it now looks as it should:

![image](https://user-images.githubusercontent.com/1163299/187859555-a1444085-e294-4027-8100-7e4ee988334b.png)

It's still called 2.000 pre-release (please be mindful of versioning!). Thank you so much.

[2022-09-01 07:43] bebraw commented on #164
@philiparvidsson Ok, I guess that was it.

Good point on versioning. Next prerelease could be 2.001 or so as that would avoid the confusion.

[2022-09-01 08:20] okonet commented on #164
I think we won't be doing proper semantic versioning until the final release since it will complicate things quite a lot on our end. Right @bebraw?

[2022-09-01 08:39] bebraw commented on #164
@okonet There's value in bumping version when a new prerelease is published as otherwise reports will be confusing. Doing that would have saved effort here. When a release is stable, it becomes the version the last prerelease was.

[2022-09-01 08:40] bebraw commented on #164
@okonet Only gotcha is that @MarcusSterz needs to bump the version slightly if he changes something in the prerelease before building.

[2022-09-01 09:35] MarcusSterz commented on #133
My bad! They are available but the unicodes were missing for some reason. Fixed it already and will be available in the next version.

[2022-09-01 10:28] dinhquochan commented on #164
Off-topic: @bebraw Before, if new version is release, it has a newsletter to email. Recently, its doesn't. I must go to homepage and access to changelog to known that. How I know when a new version release?

[2022-09-01 10:32] bebraw commented on #164
@dinhquochan We'll send email for stable releases. We haven't done a mail on the prerelease yet as it's still a new thing. Basically we want to change the process a little bit so that people can try out new releases before they go stable to catch issues earlier. 2.0 is a big change so it made sense to start there.

[2022-09-01 11:52] bebraw commented on #165
Does [Nerd Fonts](https://www.nerdfonts.com/) contain these?

[2022-09-01 11:54] bebraw commented on #164
I guess we can close this now.

@philiparvidsson Feel free to open an issue about "The font sometimes renders a bit too thinly in my browser (Firefox). Unsure what is causing it." with some screenshots and thanks for the praise.

[2022-09-01 11:54] #164 closed

[2022-09-01 11:56] bebraw commented on #151
@mbuczko I cannot guarantee it will fix it but out of curiosity you could try 2.0 prerelease available through [the orders page](https://www.monolisa.dev/orders).

I wonder if it's an issue related to ligatures somehow.

[2022-09-01 12:53] JustBarnt commented on #165
@bebraw I believe so yes. I used to use Cascadia Cove NF (Nerd Fonts version of MS Cascadia Code)  which had probably hundreds of those glyphs.

[2022-09-01 12:54] bebraw commented on #165
Ok, let's close in favor of #57 then.

I have a Nerd Fonts build in the latest 2.0 prerelease (only pro version).

I recommend using their Docker based solution for patching. It's covered here: https://github.com/MonoLisaFont/feedback/issues/57#issuecomment-949724000 .

[2022-09-01 12:54] #165 closed

[2022-09-01 13:04] JustBarnt commented on #165
Gotcha, so I can use docker to patch- or I have a professional use license I can just download it in per-release (2.0) build? I would be against purchasing an upgraded license, I bought plus. But I know designing fonts is very hard, and I am all for pay fair amounts for work.

[2022-09-01 13:13] bebraw commented on #165
@JustBarnt You can apply the tool easily against any version. No problem with that. 👍

[2022-09-01 13:15] JustBarnt commented on #165
@bebraw Okay, thank you!

[2022-09-03 05:02] KingQuarter commented on #162
Is there a way I can be notified on new stable releases?

[2022-09-03 05:44] bebraw commented on #162
@KingQuarter We announce them at Twitter (@Monolisafont) and RSS (available through the site).

[2022-09-03 06:43] KingQuarter commented on #162
I don't think [@MonoLisaFont](https://twitter.com/monolisafont) announced v2, but I have now subscribed to the MonoLisa Releases RSS feed. Thanks.

[2022-09-03 07:07] bebraw commented on #162
@KingQuarter Yup, it's in prerelease mode as we're testing things. Correct.

[2022-09-03 21:28] mbuczko commented on #151
Unfortunately, 2.0-prelease behaves the same. And yes, it's definitely a ligature problem. What's interesting, it happens only for 3 characters-based ligatures (like `///` or `-->`). In all these cases a most-right character is erased as on recording above.

[2022-09-04 03:55] bebraw commented on #151
@MarcusSterz Do you think removing these two three character ligatures would be an option?

[2022-09-05 07:50] mbuczko commented on #151
Honestly, having no 3-character ligatures would be a big loss for MonoLisa, I think - I'd rather keep them, even if they're buggy on emacs (which is probably 0.0001% of use-case).

Out of my curiosity (and by all means I'm not an expert in fonts), how eg. FiraCode deals internally with this kind of ligatures? It all works perfectly for this font.

[2022-09-05 08:03] bebraw commented on #151
@mbuczko Yeah, it would be a bummer.

I was reading up on Emacs and it seems at least in 2020 getting ligatures to work there was somehow tricky.

I wonder what's the difference with Fira Code as it works there. I know both are authored with the same app so I imagine it's some setting that's wrong somewhere.

[2022-09-05 08:03] okonet commented on #151
I agree we shouldn't remove something if we can fix it.

[2022-09-05 10:12] bebraw commented on #131
@Steve-OH There's a 2.0 prerelease available from the orders page with the tweaks included. It would be cool if you could try it to see how hinting works out now.

[2022-09-05 15:02] Steve-OH commented on #131
@bebraw It's definitely an improvement, although the results are slightly mixed:
![image](https://user-images.githubusercontent.com/612027/188476538-295222dd-8a7e-4dcc-9c83-055cbd3b461c.png)

The === is much better, but at the expense of the single = (end of first line) and to a lesser extent the =>.

And while the spacing between the lines is good at all sizes, the line weights are a bit uneven a

[2022-09-05 22:17] Steve-OH commented on #131
@bebraw Here's another oddity with the new font, possibly worthy of a new issue (I don't think it was there with the earlier version). At some font sizes, the left and right parentheses, square brackets, and curly braces are vertically misaligned with respect to each other (see especially 12px and also 18px, where the offset is in the opposite direction):
![image](https://user-images.githubusercon

[2022-09-06 16:12] MarcusSterz commented on #131
Regarding === this issue is almost impossible to prevent since we are dealing with a so-called moiré effect: Two grids overlay each other and form an unwanted, hardly predictable result.

Looking into the bracket thing though ...

[2022-09-06 17:03] aaronbell commented on #131
If I had to guess, one bracket is a horizontally mirrored & vertically flipped component of the other. So the hints are upside down and under certain conditions rounding occurs differently.

Changing it to just mirrored would solve it.

[2022-09-07 08:34] MarcusSterz commented on #131
That’s very likley the case.

[2022-09-09 10:01] devaayushraj commented on #166
Hello and thank you for accepting the request.

I'd like to take this opportunity to thank the creator (and team) of MONOLISA.
Isn't it better to make something look better when we're staring at it for hours on end? Thank you for doing it for us.

Maybe not every user said it (they feel it for sure), but I'd like to say it on their (all Monolisa users) behalf that you're **_awesome_**.
I am (we al

[2022-09-14 15:21] devaayushraj commented on #166
<img width="254" alt="image" src="https://user-images.githubusercontent.com/84487608/190195963-ceb88987-bb25-4cd2-b163-00ee9ebf862a.png">
I was trying out something, how is it?

[2022-09-15 08:26] devaayushraj commented on #166
<img width="388" alt="image" src="https://user-images.githubusercontent.com/84487608/190354452-e7379e57-7122-4e61-80ee-d5b4ffe7ee34.png">
Some more for inspiration.

[2022-09-23 06:55] bebraw commented on #133
@krish-r There's a new prerelease (2.001) that should now contain the glyphs.

[2022-09-23 10:47] krish-r commented on #133
wow! looks awesome! :clap:

especially -
* the use of rounded corners in the progress bar
* that there's more than variation of throbber/loading icon to choose from

![Peek 2022-09-23 14-16](https://user-images.githubusercontent.com/54745129/191924370-45cea1ce-875d-4ca1-871c-c1022f2888fc.gif)

![Peek 2022-09-23 14-43](https://user-images.githubusercontent.com/54745129/191929208-226e439b-dcd8-47a3-

[2022-09-23 11:15] MarcusSterz commented on #133
Cool – thanks for sharing!

[2022-10-10 00:53] arempe93 opened #167 "Request: greater/less-than-or-equal "unslanted" variant"
It would be nice to have a "unslanted" variant of the greater/less-than-or-equal programming ligatures similar to Fira Code's stylistic set 02.

<img width="612" alt="fira_code_ss02" src="https://user-images.githubusercontent.com/4637120/194787229-691c669c-6be9-449f-98a0-3d8f25203864.png">

[2022-10-15 22:10] dl0dth opened #168 "Upgrade font version to include script?"
Is there a way to upgrade the font from the basic version?  I didn't check the script aspect and would be interested in that feature.

[2022-10-17 10:52] bebraw commented on #168
It's possible through http://monolisa.dev/orders .

See also https://www.monolisa.dev/faq#how-to-upgrade-to-a-higher-tier-bundle.

[2022-10-17 10:52] #168 closed

[2022-10-26 19:40] pdobrovolny opened #169 "feature: escape and hexadecimal ligatures"
Please be so kind and add ligatures according to the attachment, following the FiraCode font pattern. Thank You.

<img width="235" alt="Snímek obrazovky 2022-10-26 v 21 20 28" src="https://user-images.githubusercontent.com/39558363/198120489-2dfa4b9d-4c46-4d70-89ea-060188e34ee1.png">
<img width="319" alt="Snímek obrazovky 2022-10-26 v 21 25 21" src="https://user-images.githubusercontent.com/3955

[2022-10-28 05:48] cmarincia commented on #159
AFAIK the student discounts only apply to the personal license which isn't providing the full font.

[2022-10-29 03:21] psadi commented on #159
@cmarincia  i eventually ended up getting the personal license with student discount. Basic font support with ligatures is there. It is expensive for folks at india, but considering that it's a one time purchase we can look past it.

[2022-11-15 15:51] mpauper commented on #81
Apologies for digging up this old issue, but I see a similar problem and I am so confused.

I have just bought and downloaded the font. Initially I was trying with OTF but apparently the FAQ and releases pages suggest to stick to TTF. I see the same problem whether I download the version 2.002 or 1.808 of the font, and whether I customize or not the features, but below I will show what happens wit

[2022-11-29 07:45] bebraw opened #170 "2.0 - ss07 doesn't apply to braceleft_bar and bar_braceright"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): Pro
* Font version (i.e. 1.805): 2.002
* The type of the font file you are using (i.e. otf, ttf): TTF
* Operating system (i.e. MacOS, Windows): MacOS
* Display resolution (i.e. 3072x1920): 3072x1920
* Any other information that might be helpfu

[2022-11-29 10:00] MarcusSterz commented on #170
It does not because there is no reason to do so. The endings of the braces are prolongued to match the bar. I would not change anything here.

[2022-11-29 10:03] bebraw commented on #170
Ok, closing as wontfix.

[2022-11-29 10:03] #170 closed

[2022-11-29 11:12] bebraw opened #171 "2.0 - ss08 and dollar_parenleft aren't consistent when used together"
## Background information

To help debugging, fill the following information before describing the issue:

* Font edition (i.e. trial, personal, plus, pro): plus/pro
* Font version (i.e. 1.805): 2.002
* The type of the font file you are using (i.e. otf, ttf): ttf
* Operating system (i.e. MacOS, Windows): Any

## Issue

When `ss08` and `dollar_parenleft` from `calt` are used together, the result do