[2020-02-29 18:08] mitsuhiko opened #1 "Ligatures in Rust Attributes"
Rust uses attributes to add meta information to functions, structs etc. These can be declared in two ways: `#[meta]` attach to the next item or `#![meta]` to the previous.

Example:

[code]

Looks like:

<img width="439" alt="image" src="https://user-images.githubusercontent.com/7396/75612758-da71d700-5b26-11ea-8d1b-c3615a355472.png">

I would prefer if the first ligature was not a thing.

[2020-03-01 10:15] bebraw commented on #1
I wonder what's the best way to achieve this. I suppose the target would be to still have other ligatures working still, correct? I wonder if that means that we'll have to disable this ligature altogether.

@okonet What's the use case for this specific ligature? Do you see value in having it included?

[2020-03-01 11:35] okonet commented on #1
Not really. I think we can drop it easily.

[2020-03-03 22:27] mitsuhiko opened #2 "Python Ligatures to consider"
Now that I'm actually trying ligatures a bit I figured there might be some potential to make things look nicer in some more languages.

Python has triple quotes to start and end doc strings:

[code]

This might be interesting to explore as a ligature considering how prevalent this is in python code and how little the accidental chance is that this shows up somewhere else. I'm not aware of a font t

[2020-03-05 14:00] bebraw commented on #2
That's a cool idea, yeah. Thanks for bringing this up! Let's see what our designer thinks.

[2020-03-05 14:52] MarcusSterz commented on #2
Triple quotes as ligs do not make much sense since they would not change much in appearance. I could only adjust the space between a bit.

-*- on the other hand would be nice to make a lig of.

[2020-03-10 14:49] bebraw opened #3 "dyslexiefont variant?"
Source: https://news.ycombinator.com/item?id=22535174 .

[2020-03-10 14:57] MarcusSterz commented on #3
Nice!

[2020-03-10 14:59] MarcusSterz commented on #3
The design of ML covers most problems dyslexic people have but a particular variant just for that is not on my list.

[2020-03-10 21:53] benjaminreid opened #4 "Could the "double underscore" ligature be added please?"
Hey 👋

First, this font is lovely. One small request though if you think it’s appropriate.

Could a "double underscore" ligature be added? This exact issue was raised with Fira, https://github.com/tonsky/FiraCode/issues/120.

I think Github actually preview this correctly.

[code]

Thank you!

[2020-03-11 05:51] pstrum opened #5 "Sublime Text alignment"
I'm noticing in Sublime that the font is aligned at the top of each line, which makes for an awkward, not centered look.

![image](https://user-images.githubusercontent.com/12450486/76386315-78cd1c00-6321-11ea-8a7a-45382ea8d8c3.png)

Is this an issue with Sublime or with MonoLisa? Thank you for your help.

[2020-03-11 08:42] MarcusSterz commented on #4
Thanks for your feedback – we will certainly consider it!

[2020-03-11 09:13] danielbartsch opened #6 "rendering issues on Linux: letters have thick areas"
Seen in https://monolisa.dev/ Playground

![image](https://user-images.githubusercontent.com/19350749/76400738-160b6d00-6381-11ea-98ed-b8ceadb6a77e.png)

![image](https://user-images.githubusercontent.com/19350749/76400421-9087bd00-6380-11ea-83c9-5c8e7e84727b.png)

You can see some thick areas in the letters:
normal: `i`, `j`, `r`, `t`, `z`
italics: same as above, `r` is a little less prevalent

[2020-03-11 09:15] okonet commented on #6
Can you please provide details about OS version and browser used?

[2020-03-11 09:19] danielbartsch commented on #6
[code]
I'm using [Vivaldi](https://vivaldi.com/) which uses chromium version 76 in my current installation.

[2020-03-11 09:21] okonet commented on #6
Thanks for the report. We're investigating this hinting issue ATM.

[2020-03-11 13:21] sapegin opened #7 "^ and ~ are hard to distinguish"
It's hard to distinguish `^` and `~` in the code:

![image](https://user-images.githubusercontent.com/70067/76421056-61367780-63a3-11ea-970a-b2e8ce7167f1.png)

For comparison, in Hack they are bigger and the shape is more distinguishable:

![image](https://user-images.githubusercontent.com/70067/76421199-9b077e00-63a3-11ea-8c1e-aeeedea8f510.png)

Screenshots are from WebStorm on macOS Catalina.

[2020-03-11 14:35] okonet opened #8 "Terminals of italic "f""
The bottom terminal of the italic `f` is long and it looks weird in combination with `i` which is a very common keyword (`if`):

![CleanShot 2020-03-11 at 15 33 00](https://user-images.githubusercontent.com/11071/76428239-b11a3c00-63ad-11ea-901d-3546c63d33a0.png)

I really like how it looks in case of `fi` since (I think) it's being cut by the editor a bit.

Can we tune the terminal of `f` to be a

[2020-03-11 15:02] georggrubner commented on #6
same for me too

browser zoom 100%
![image](https://user-images.githubusercontent.com/24992489/76431014-4e2aa400-63b1-11ea-87b3-98c5032a6103.png)

browser zoom 500%
![image](https://user-images.githubusercontent.com/24992489/76431174-8b8f3180-63b1-11ea-92d9-62af9d8b7422.png)

`Linux A-N-W-055 4.15.0-88-generic #88-Ubuntu SMP Tue Feb 11 20:11:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
`
using Chrom

[2020-03-11 17:05] bebraw opened #9 "Add support for Esperanto"
**Missing characters:**

[code]

[2020-03-11 21:52] hsleewis commented on #5
Not ideal, but these settings help:
[code]

[2020-03-12 19:40] bebraw commented on #5
@hsleewis I tried it and those settings look good. Let's wait for a bit more feedback and add to the FAQ eventually.

If you want a reference, check how it renders in VS Code.

[2020-03-12 21:48] F1LT3R opened #10 "Feature request: All Fira Code Ligatures"
Are there any plans to add the other ligatures found in Fira Code?

Eg:
- `...`
- `www`

![Fira Code Ligatures](https://raw.githubusercontent.com/tonsky/FiraCode/master/showcases/all_ligatures.png)

[2020-03-14 17:24] mitsuhiko opened #11 ">>= ligature is confusing"
The `>>=` operator is barely readable.

![image](https://user-images.githubusercontent.com/7396/76687089-fb572380-6620-11ea-9f5b-382fcf5d50f3.png)

[2020-03-14 17:25] mitsuhiko opened #12 ">>= ligature is confusing"
The `>>=` operator is barely readable.

![image](https://user-images.githubusercontent.com/7396/76687089-fb572380-6620-11ea-9f5b-382fcf5d50f3.png)

[2020-03-14 21:29] F1LT3R commented on #11
This seems pretty standard to those using Fira Code. How were you thinking it should look?

[2020-03-14 21:31] mitsuhiko commented on #11
I would expect `>>` to be bigger (same size as they are without ligatures). It makes little sense that `>>` renders entirely different than `>>=` event though one is just the assignment version of it.

![image](https://user-images.githubusercontent.com/7396/76690744-9b25a900-6643-11ea-8e82-c4d6a4e18057.png)

[2020-03-14 21:36] F1LT3R opened #13 "Upgrade Pricing Option?"
It would be wonderful to see an upgrade option for customers who purchased the basic option and wanted to purchase the other weights.

I would like to buy the basic as a trial, and then upgrade if I find I like the font.

I mostly program with the thinest version of fonts, because I find them easier to scan. If it was possible to buy the weights individually, you may find more people buy the font.

[2020-03-14 23:12] mitsuhiko commented on #11
Same applies for `<<=` as well.

[2020-03-14 23:13] mitsuhiko commented on #12
Duplicate of #11.

[2020-03-14 23:13] #12 closed

[2020-03-15 06:38] bkircher commented on #6
Same here for Fedora 31, Firefox 74.0
Font rendering on Linux is, um, dissatisfactory.
80% Zoom:
![ml-1](https://user-images.githubusercontent.com/536464/76696720-c41f5b80-668e-11ea-8f48-a0026f1e20c0.png)

![ml-2](https://user-images.githubusercontent.com/536464/76696748-ee711900-668e-11ea-9cfb-edf255271d17.png)

Higher zoom levels look way better. Screen resolution 3840x2160. Antialiasing is stan

[2020-03-15 08:58] okonet commented on #11
I agree with that it looks weird when it changes so drastically.

[2020-03-15 09:17] okonet commented on #13
We can offer that on per-request basis by giving you a discount for the second purchase. Please write us an email from/with the email you used to purchase and I'll issue a discount code for you.

[2020-03-16 04:33] eduardo-valenzuela opened #14 "Ligatures in intellij idea appear distorted."
Ligatures like the triple equal appear distorted in intellij idea, the editor shows a thick line at the top and two thin lines at the bottom instead of showing them with equal thickness.

[2020-03-16 06:57] okonet commented on #14
Please provide a screenshots and versions of OS and Idea.

[2020-03-16 15:40] #13 closed

[2020-03-17 03:32] charliesbot opened #15 "Ligatures look tiny in Kitty terminal"
OS: MacOS Catalina
Terminal: Kitty (https://github.com/kovidgoyal/kitty)

I've used other fonts with ligatures and they work as expected.

(In the screenshot, => ... and /> look super small)

![image](https://user-images.githubusercontent.com/10927770/76819305-077be600-67c5-11ea-9ec1-047376556ecc.png)

[2020-03-17 09:16] albertorestifo commented on #15
I'm experiencing the same issue, I'm pretty sure that it's because kitty uses HarfBuzz, I've seen this issue happen with other fonts as well, eg: https://github.com/kovidgoyal/kitty/issues/297

[2020-03-19 14:52] MarcusSterz commented on #6
@bebraw can you please add Rainer to this conversation?

[2020-03-19 15:56] bebraw commented on #6
cc @mekkablue. It would be good to check if this is something related to Glyphs export. I imagine if there's something wrong with export, we should see it in other fonts created with Glyphs as well.

[2020-03-20 04:35] dwightwatson opened #16 "Single-line PHP comment ligatures not right"
This is in Sublime Text. When using the single-line php comment (used by PHPUnit for test annotations) the second asterisk doesn't look quite right.

![image](https://user-images.githubusercontent.com/1100408/77137023-35607380-6ac0-11ea-9148-5fb57fc7693f.png)

The text is literally `/** @test */`

Interestingly it works fine for multi-line PHP comments.

![image](https://user-images.githubusercont

[2020-03-21 10:54] dinhquochan opened #17 "Support Vietnamese characters"
Dear,
I hope the font has support Vietnamese characters soon.

### Vietnamese Characters:

* a á à ả ã ạ ă ắ ằ ẵ ẳ ặ â ấ ầ ẫ ẩ ậ
* A Á À Ả Ã Ạ Ă Ắ Ằ Ẵ Ẳ Ặ Â Ấ Ầ Ẫ Ẩ Ậ
* i í ì ỉ ĩ ị
* I Í Ì Ỉ Ĩ
* u ú ù ũ ủ ụ ư ứ ừ ữ ử ự
* U Ú Ù Ũ Ủ Ụ Ư Ứ Ừ Ữ Ử Ự
* o ó ò õ ỏ ọ ô ố ồ ỗ ổ ộ ơ ớ ờ ỡ ở ợ
* O Ó Ò Õ Ỏ Ọ Ô Ố Ồ Ỗ Ổ Ộ Ơ Ớ Ờ Ỡ Ở Ợ
* y ý ỳ ỷ ỹ ỵ
* Y Ý Ỳ Ỷ Ỹ Ỵ

Src: https://vietnamesetypography.com/ (maybe help

[2020-03-21 13:33] alephnull commented on #15
There appears to be a similar problem with Indic fonts. Some glyphs seem fine but others are not. See below.

![image](https://user-images.githubusercontent.com/233612/77227466-9a8e9480-6ba6-11ea-8dec-ae20ce3c78fe.png)

[2020-03-23 10:22] mekkablue commented on #6
The problem was the bottom zone for superscript figures. The Regular’s horizontal stems at the x-height touched it and were aligned with the raised figures. Only solution was to remove it.

Other updates for better rendering:
* blueFuzz (zone extension) fixed at 1 unit
* reduced V and H standard stems to one each (there were two in each, very close together)

![Screenshot 2020-03-23 at 11 22 32](h

[2020-03-23 10:26] mekkablue commented on #6
Version 1.303 fixes this. You can close the issue.

[2020-03-23 10:47] bebraw commented on #6
@danielbartsch @georggrubner @bkircher Can you please check https://monolisa-website-git-feat-1303.monolisa.now.sh/ and confirm the font renders correctly now?

[2020-03-23 10:58] bebraw commented on #6
I managed to confirm it renders well. Pushing release in a short while.

[2020-03-23 11:06] bebraw commented on #6
I've pushed `1.303` to Paddle.

Please let us know if you encounter any further rendering issues.

[2020-03-23 11:06] #6 closed

[2020-03-23 12:24] georggrubner commented on #6
looks good there :tada:

[2020-03-24 18:36] kfollesdal opened #18 "Lambda λ is missing"
The symbol λ (Lambda) is missing. Had been nice if it was implemented.

https://en.wikipedia.org/wiki/Lambda

[2020-03-27 04:26] bgever opened #19 "Windows rendering inconsistent stoke thickness and spacing issues"
I absolutely love the font and it works great on macOS – thank you for boosting my productivity!

However, when I switched to Windows 10 (1909) in my Parallels Desktop 15 VM, I was a little bit shocked how poor the rendering looks on 4K resolution.

(click on the images below for high resolution screen shot)

## Visual Studio Code (with recommended settings)

Note the following:
* In `zoomLevel`,

[2020-03-27 07:16] bebraw commented on #19
@bgever Which version of the font are you using? You can see this in Font Book.

<img width="761" alt="Screenshot 2020-03-27 at 9 15 25" src="https://user-images.githubusercontent.com/166921/77731402-87971c80-700b-11ea-99ed-47a41bd164d1.png">

We published 1.303 with a series of hinting fixes recently. You can download the newest version using the original download link in the email by Paddle.

[2020-03-27 08:37] bgever commented on #19
I'm using 1.303, I've downloaded it 5 hours ago.

[2020-04-03 14:22] albertorestifo opened #20 "RSS feed for updates"
It would be really nice if the MonoLisa website exposed a RSS feed so we can use our favourite Feed reader to subscribe for updates.

A mailing list could also work, but that seems like more work.

[2020-04-04 09:45] #20 closed

[2020-04-04 09:46] okonet commented on #20
Just added RSS feed to the website. Enjoy :)

[2020-04-15 14:57] Eldair commented on #15
It's the same (tiny) in the playground of the website (windows 10/1920*1080) with 14px font size - 13px looks fine.

[2020-04-16 06:25] bebraw commented on #17
Let's keep this one open for future reference.

[2020-04-16 06:36] bebraw commented on #15
@charliesbot Can you provide your Kitty configuration to enable MonoLisa with ligatures there?

@alephnull The indic font problem is separate to this as they'll have to be re-implemented for MonoLisa to take the wider glyph size into account. Can you open a separate issue?

[2020-04-16 07:10] dinhquochan commented on #17
Thanks @bebraw

[2020-04-17 21:21] mattdkerr commented on #19
Font rendering can be affected by your ClearType Windows settings, as well as your IntelliJ's settings for subpixel vs greyscale anti-aliasing.

[2020-04-17 22:01] mattdkerr commented on #19
IntelliJ. Appearance set to "greyscale" for anti-aliasing ("subpixel" makes the font squat down, it's very strange), weight 15.
![image](https://user-images.githubusercontent.com/595328/79617378-30d9ab80-80bc-11ea-9dc1-ba990e63f26c.png)

[2020-04-20 17:38] mattdkerr commented on #19
I paid for the font but wish the legibility was the same on Windows as on other platforms. For now, I have gone back to using Ligconsolata

[2020-04-20 17:39] mattdkerr commented on #14
duplicate of issue https://github.com/MonoLisaFont/feedback/issues/19

[2020-04-20 18:30] MarcusSterz commented on #19
Alright, folks! Thanks for the feedback, we will have a look at this.

[2020-04-21 10:42] bebraw commented on #19
@mattdkerr I sent you a ttf version to test via email.

@bgever Ping me at **info@monolisa.dev** in case you want to test as well.

[2020-04-21 17:37] mattdkerr commented on #19
I'm not sure where it went. You can reach me at mattkerr at outlook dot com

[2020-04-21 17:55] bebraw commented on #19
Hi Matt,

Ok, sent.

On Tue, 21 Apr 2020 at 20:37, Matt Kerr <notifications@github.com> wrote:

[2020-04-22 06:56] bgever commented on #19
@bebraw thanks again for sending the file, here are the test results:

## Visual Studio Code

Consistent line thickness and spacing similar to macOS. Note that Windows' implementation of ClearType renders the line thickness slightly thinner (consistent with other fonts).

**macOS**

<img width="679" alt="Screen Shot 2020-04-22 at 2 20 49 PM" src="https://user-images.githubusercontent.com/1618765/7

[2020-04-22 10:30] Eldair commented on #19
Does this fix also fixes === ? It is not good on windows (1920*1080) vscode, zoom level 0

size 14:
![image](https://user-images.githubusercontent.com/470003/79971497-ae266700-8494-11ea-9bc0-5efcc629f51b.png)
size 12:
![image](https://user-images.githubusercontent.com/470003/79971553-baaabf80-8494-11ea-8ff8-0a4f4ec0c994.png)
size 13:
![image](https://user-images.githubusercontent.com/470003/799715

[2020-04-22 14:27] Eldair opened #21 "Characters/glyphs size inconsistent 13/14px vscode windows"
Hello,

Some of the characters are not rendering correctly on some font sizes
using vscode on windows 10 (1920*1080)

13px:
![image](https://user-images.githubusercontent.com/470003/79994213-f3a75c00-84b5-11ea-8513-34d4dc6c5cde.png)

14px:
![image](https://user-images.githubusercontent.com/470003/79994271-0588ff00-84b6-11ea-87f5-b9117bfe858b.png)

It's larger (normal) on 13px

[2020-04-22 16:04] mekkablue commented on #19
Is this the .ttf or the .otf file?

[2020-04-22 16:44] Eldair commented on #19
.otf file (latest version from the download link)

[2020-04-23 01:04] bgever commented on #1
The custom behavior could be configured by the user using stylistic sets like FiraCode does:
https://github.com/tonsky/FiraCode/wiki/How-to-enable-stylistic-sets

I personally like this `#[` ligature, as it brings more focus to the content of the annotation. In fact, maybe `#![` could be turned into a ligature as well. :-)

However, it would be nice to align the open and close brackets:

<img widt

[2020-04-23 07:18] MarcusSterz commented on #1
Thanks for pointing it out!
Thing is: the regular brackets ([{ are vertically placed to fit best with upper and lower case text, the lig bracket are aligned to be viewed best in combination with the other symbols (center aligned). Question is if we sacrifice the better alignment of the regular brackets for this. Maybe find a compromise for both situations. Thoughts? @bebraw @okonet

[2020-04-23 07:22] okonet commented on #1
I think aligning all brackets and sacrifice the alignment in ligatures should be fine.

[2020-04-23 15:49] mattdkerr commented on #19
rendering is significantly improved under subpixel!

[2020-04-23 15:58] MarcusSterz commented on #19
Does this refer to TTF rendering?

[2020-04-23 16:00] mattdkerr commented on #19
Yes, the TTF files that were sent to me.

[2020-04-23 16:01] MarcusSterz commented on #19
Alright, great! THX for your feedback!
Still working on improving the OTF rendering though.

[2020-04-23 20:37] Eldair commented on #19
Hi, can you include those ttf in the download package?

[2020-04-24 06:55] mariojackson commented on #15
Here is a more minimal configuration while having the same problem

[code]

I've removed everything which is not important (like colors, comments etc.) while still being able to reproduce the problem. The only things needed is actually setting the font and the font size.

[2020-04-24 09:41] Eldair commented on #10
`||` as well

[2020-04-24 17:09] F1LT3R opened #22 "Licensing Question"
I purchased the basic package. Are we allowed to use the font in tutorial videos?

Generally, if we have a video, screenshot, etc. using the MonoLisa font, are we legally ok to share such images/videos?

[2020-04-24 18:14] bebraw commented on #22
Hi Alistair,

For the personal edition, it’s enough if you attribute somewhere and mention which font was used. In YouTube you would use the description field for example and/or mention at the end with other acknowledgments.

[2020-04-24 23:33] F1LT3R commented on #22
Thanks @bebraw - I will definitely give attribution and provide a link. Also happy to personally recommend the font for readability. It's a great font.

[2020-04-24 23:35] F1LT3R commented on #22
It might be worth updating the page here: https://www.monolisa.dev/license

It's not entirely clear to me. (Perhaps it would be clear to someone who understood legal terms.)

[2020-04-28 06:23] bebraw commented on #19
@Eldair I sent you a version to test.

[2020-04-28 06:24] bebraw commented on #21
This is related to #19. Likely when that's solved, then this one is as well.

[2020-04-28 06:37] bebraw commented on #15
@mariojackson Thanks for the simple repro. I've reproduced the issue:

<img width="414" alt="Screenshot 2020-04-28 at 9 25 52" src="https://user-images.githubusercontent.com/166921/80454205-5bd0c480-8932-11ea-92f0-d05a7780e15b.png">

For comparison, here's the render from iTerm 2 with MonoLisa:

<img width="386" alt="Screenshot 2020-04-28 at 9 36 03" src="https://user-images.githubusercontent.com/

[2020-04-28 07:45] MarcusSterz commented on #15
@bebraw Kitty seems to have a problem with the fact, that the paths overlap to the following space. When you compare the amount of space after the arrows you can see that after MonoLisa there apperas to be a double space. I guess Kitty has a problem interpreting the overlapping ligature and makes it smaller to fit somehow. We should let the makers of Kitty know about this.

[2020-04-28 08:04] bebraw commented on #15
I opened an issue (https://github.com/kovidgoyal/kitty/issues/2599) with the basic info at Kitty so we can get feedback from its creator.

[2020-04-28 08:33] bebraw commented on #15
Based on the author, Kitty will resize the glyphs when they are too large to fit into the cells they are supposed to fit in. They explain the full behavior at https://sw.kovidgoyal.net/kitty/faq.html#some-special-symbols-are-rendered-small-truncated-in-kitty .

The next question is, why does that happen in case of MonoLisa?

Does anyone know another wider than usual monospaced font we could use fo

[2020-04-28 09:24] MarcusSterz commented on #15
No idea so far. Every ligature overlaps. Fira Code and Jetbrains Mono’s ligs overlap backwards, MonoLisa forward which means the script creates 1 or more extra spaces to make room for the lig. That is ONE difference. Another one might be in the script.

But Kitty says in the link (last sentence):
‘The exception is if these characters are followed by a space or empty cell in which case kitty makes

[2020-04-28 09:39] Eldair commented on #19
@bebraw ttf is much better

14px (!= is the only issue):
![image](https://user-images.githubusercontent.com/470003/80471905-58463900-8944-11ea-9617-11a84bbb8b11.png)
13px:
![image](https://user-images.githubusercontent.com/470003/80471979-701dbd00-8944-11ea-9304-170d7cba1f45.png)
12px:
![image](https://user-images.githubusercontent.com/470003/80472025-7dd34280-8944-11ea-8b7b-5a23e82a1c95.png)
15px

[2020-05-01 06:06] waynehoover commented on #10
I second the www Ligatures.

[2020-05-04 14:09] MarcusSterz commented on #16
Sorry, for replying late. This happens because it renders the first 2 symbols as one ligature and simply adds the second asterisk which lokks slightly different to match normal text size.
THX for the feedback!

[2020-05-04 14:12] MarcusSterz commented on #18
Of course many symbols could be implemented. A version including greek is around the corner!

[2020-05-04 14:24] MarcusSterz commented on #10
• MonoLisa contains an ellipsis [...] already.
• Not sure about the www ligature. What is the advantage of such a symbol? Wouldn’t it look even more confusing when the w’s were connected?

[2020-05-05 04:35] F1LT3R commented on #10
@MarcusSterz ...

### Connected WWW's

Connected WWW's look great, they are less confusing than three regular W's. It's a nice signifier that the parser will do something with that string. They should do the same for protocols imo, http, https, ftp, etc.

Fira Code:

<img width="394" alt="CleanShot 2020-05-05 at 00 32 35@2x" src="https://user-images.githubusercontent.com/1218446/81035190-f156e180-

[2020-05-05 04:53] okonet commented on #10
I disagree with `www` and believe it’s just a gimmick. I personally dislike it and would not add it.

[2020-05-05 05:04] okonet commented on #16
@MarcusSterz maybe we should move all asterisks closer to the baseline and make them bigger by default? Look how it’s also look wrong on the line with

[code]

In markdown it’s used as a bullet point and it makes sense to vertically align it with the text. Also it’s used to emphasize when used inline `*italics*`.

Another example is multiple: `5 * 8` where it should also be placed in the middle of

[2020-05-05 16:25] bebraw commented on #14
Let's close as duplicate of #19 (assuming it's Windows).

[2020-05-05 16:25] #14 closed

[2020-05-05 18:36] MarcusSterz commented on #16
@okonet I will make the regular asterisk as big as the ones in the ligature if that is required.
Also I will make the smaller asterisk a stylistic set, so users have a choice.

[2020-05-05 18:53] okonet commented on #16
Yeah I think that should work.

[2020-05-06 13:25] F1LT3R commented on #10
@okonet what are your thought's on the Ellipsis not working?

[2020-05-06 13:26] F1LT3R commented on #10
@waynehoover - I'm interested to know why you seconded the www ligature, are you writing a lot of markdown documentation? (This is the reason I find it useful)

[2020-05-06 15:45] MarcusSterz commented on #10
@F1LT3R
Ellipsis: in what way ‘not working’? You mean you cannot type it (alt+period) or you mean it does not change automatically into an ellipsis?
MonoLisa has **A** the symbol ‘elipsis’ [...] which uses one space and **B** a triple period ligature which uses 3 spaces (same with Fira Code by the way). If all other ligatures work the triple period ligature will work, too.

www: I agree with @okon

[2020-05-06 17:46] waynehoover commented on #10
Yes, I write a lot of markdown and the www ligature would be useful there. As a community we could create our own ligatures to add too, like how https://github.com/kiliman/operator-mono-lig has.

[2020-05-06 19:00] F1LT3R commented on #10
@MarcusSterz - what happens when you create a `.js` file with the following...

[code]

... are ligatures used for the triple-dot with MonoLisa for you?

It does not work for me. It's a very common feature of the language that looks great in FiraCode and does nothing in MonoLisa. It's the single most dissappointing thing about MonoLisa to me.

[2020-05-06 19:20] okonet commented on #10
It works for me but it's quite subtle I must admit.

![CleanShot 2020-05-06 at 21 17 55](https://user-images.githubusercontent.com/11071/81218813-1588fe80-8fdf-11ea-9ca4-f81f4b509331.gif)

Compared to FiraCode:

![CleanShot 2020-05-06 at 21 19 09](https://user-images.githubusercontent.com/11071/81218902-3f422580-8fdf-11ea-90f5-781d1a44e476.gif)

or JetBrains Mono:

![CleanShot 2020-05-06 at 21 19

[2020-05-12 09:47] alexeyten opened #23 "Provide TTF files"
On Linux (Ubuntu) there is some issues with rendering otf files, or at least rendering differs from ttf.
So could you please provide ttf files?

[2020-05-12 09:54] bebraw commented on #23
ttf is planned for the next release that will likely go out this week.

[2020-05-12 11:22] bebraw commented on #23
@alexeyten ttf is included now. Please re-download the font using the original link in the Paddle email and let me know how it goes.

[2020-05-12 11:23] bebraw commented on #19
ttf is included to the official release now. Please use the download link in the email you received from Paddle to get it.

Open separate issues for any further rendering related problems. 👍

[2020-05-12 11:23] #19 closed

[2020-05-12 11:45] alexeyten commented on #23
It's there, but it's 1.303 version.
[code]

[2020-05-12 11:50] Eldair commented on #19
Is that the same version you sent via email earlier ?

[2020-05-12 11:56] bebraw commented on #23
@alexeyten Thanks for the heads up. Looks like the release process picked up the older one. Now you should get the same version for both after downloading.

[2020-05-12 11:57] bebraw commented on #19
@Eldair I think there were some fixes since so it's better to download the newest version and then report against that.

To verify the version you are using, you can use `otfccdump MonoLisa-Regular.otf  | jq .head.fontRevision`. Both otfccdump and jq need to be available in the system for this to work, though.

[2020-05-12 12:13] alexeyten commented on #23
Works now. Thank you!

[2020-05-12 12:13] bebraw commented on #23
Awesome. 👍

[2020-05-12 12:13] #23 closed

[2020-05-12 12:24] Eldair opened #24 "Windows rendering (ttf 1.400)"
After testing the latest ttf version on windows, this is still the same

14px (!= is the only issue unless it should be small like this):
![image](https://user-images.githubusercontent.com/470003/80471905-58463900-8944-11ea-9617-11a84bbb8b11.png)
13px:
![image](https://user-images.githubusercontent.com/470003/80471979-701dbd00-8944-11ea-9304-170d7cba1f45.png)
12px:
![image](https://user-images.git

[2020-05-16 17:23] yalelo commented on #5
Hello,

I also noticed the same thing, not only on Sublime text, but also on some other editors like Gnatstudio (on Debian linux). Unfortunately, not all editors have the possibility to edit padding parameters.

[2020-05-16 17:31] yalelo opened #25 "slashed zero"
Hi,

It would be great to have a slashed zero glyph.
Personally, I like slashed zeros more and would have make it the default but that's a personal taste. I would be happy if there is a stylistic alternate too.

Thanks

[2020-05-16 18:19] yalelo opened #26 "weird vertical line spacing"
Hi

I use the font on Debian Linux in various text editors for coding.

My first thought using it was that the vertical spacing feels a bit weird, somehow too narrow.
I use the font a small size 12px which make this issue even more noticeable.

Now, I opened the font in Glyphapp to see line spacing parameters. After experimenting a bit, I found that adding  the hheaLineGap  = 210 makes it much bet

[2020-05-16 18:43] yalelo opened #27 "vertical space between the two bars of `=>` ligature"
Hi,

I think the vertical space between the bars in ligatures like '=>'  is too narrow at small size (like 12px). Could be a hinting issue. But, I think it could be better to add some space between the bars to let them breath.
What do you think ?

Thanks

[2020-05-20 01:09] kevinsperrine opened #28 "Thin font weights unaffected by editor.fontWeight in vscode on macOS"
The `editor.fontWeight` settings in VSCode don't have any effect when attempting to use the "MonoLisa" font family.  However, if I explicitly set the weight by using the PostScript name of the thin weights it works as expected. This same issue doesn't seem to affect the medium, bold, or black weights.

I think this video shows the issue pretty clearly.
[https://www.dropbox.com/s/5larqkz2t62067g/Sc

[2020-05-20 06:50] anasansari157 opened #29 "Typo in pricing in monalisa.dev"
On monalisa.dev, the pricing format is incorrect for INR (Indian currency).

[2020-05-20 06:57] bebraw commented on #29
Can you provide more info? Which browser are you using? What should the formatting be like?

Currently we rely on the browser APIs for handling formatting.

[2020-05-20 09:36] anasansari157 commented on #29
I am accessing [this url](monolisa.dev/buy) from Chrome 81 on Linux. The price shows like this: Rs 2.999,00 ([link to the image](https://freeimage.host/i/JMpK5G)) but it should be like Rs 2,999.00.

[2020-05-20 09:42] bebraw commented on #29
Hi,

Looks like it's coming from this:

<img width="258" alt="Screenshot 2020-05-20 at 12 41 32" src="https://user-images.githubusercontent.com/166921/82431444-4f560c80-9a97-11ea-9029-84c34c38aff8.png">

Here's the code in an easier to copy format:

[code]

The next question is, why is the standard behavior wrong and how to fix it?

[2020-05-20 09:53] anasansari157 commented on #29
@bebraw The problem is in defining the first argument in `Intl.NumberFormat`. Instead of using 'in', 'en-IN' solves the problem.

This works perfectly as you'd want it:
[code]

[2020-05-20 10:00] bebraw commented on #29
@anasansari157 Ok, makes sense. I think I'll need to add some logic to map specifically to `en-IN` so it renders correctly. Thanks!

[2020-05-20 10:08] anasansari157 commented on #29
You're welcome, @bebraw. Happy to help.

Have a nice day!!
P.S. It was really hard to find the repo related to the website where I can suggest the changes.

[2020-05-20 10:10] bebraw commented on #29
@anasansari157 I think I'll add a feedback link to the footer. Good call. :)

[2020-05-20 10:33] bebraw commented on #29
@anasansari157 Can you check https://www.monolisa.dev/buy now? I added a small transformation to `en-IN` but I don't have an easy way to validate this as the solution resolving country is IP based.

There's a feedback link at the footer (just made sure). Any ideas how to do that better?

[2020-05-20 11:01] anasansari157 commented on #29
@bebraw The error persists.
It is still showing like this:
[Price tags](https://i.imgur.com/qwisyVs.png).
However, if I click on it to purchase, it shows the correct pricing like this:
[Purchase link](https://i.imgur.com/hIOlzy2.png?1)
I think prices in both the images are using different APIs. Is it like that?

Yes, the footer is there in the right place. I checked it just now.

[2020-05-20 11:13] bebraw commented on #29
@anasansari157 It's a little different, yeah. The problem is that I don't know what Paddle is returning as a country for India so I made a guess on that and it wasn't correct.

I think I'll have to try to look at it from another angle and see what they return in order to patch the behavior.

[2020-05-20 11:16] bebraw commented on #29
I see now. They are returning `IN` for the country so I'll have to map against that.

[2020-05-20 11:20] bebraw commented on #29
@anasansari157 I applied the `IN` fix. Fingers crossed. Give it a go. :)

[2020-05-20 11:22] anasansari157 commented on #29
Hey, @bebraw . You did it!!!
It works like a charm :)

[2020-05-20 11:22] bebraw commented on #29
Perfect. 👍

[2020-05-20 11:22] #29 closed

[2020-06-05 18:03] devinjameson commented on #15
Is there any hope of a fix for this?

Here is a relevant [thread on the Kitty repo.](https://github.com/kovidgoyal/kitty/issues/2599)

It seems the size of the ligatures is reduced because they do not fit within 2 character widths.

[2020-06-05 18:10] devinjameson commented on #15
Perhaps this comment from the creator of Kitty could also be helpful. It's in reference to a different font, but still may apply.

https://github.com/kovidgoyal/kitty/issues/182#issuecomment-357192618

[2020-06-09 15:18] JobLeonard opened #30 "The website shows two different currencies for me, is that intended?"
So guess which country I'm visiting your website from ;)

<img alt="image" src="https://user-images.githubusercontent.com/259840/84166035-aa669800-aa74-11ea-82e5-d025b5a13b2b.png">

Not sure if this is a bug or by design (I don't know, maybe there is some legal reason for this?), but just mentioning it in case this wasn't intentional.

(If it was it might be nice to add a little disclaimer explain

[2020-06-09 15:25] bebraw commented on #30
Hi,

Thanks for bringing this up. For some reason the professional edition was missing Swedish price and I added it there so it should show up now.

The currency is going through `Intl.NumberFormat` and we can add an exception for Sweden there.

[2020-06-15 09:32] okonet commented on #2
@mitsuhiko do you have any idea how triple quote ligature could look like?

We decided to implement the `-*-` one

[2020-06-15 10:05] bebraw commented on #27
@yalelo Can you provide more information? I'm mainly interested in the OS and the editor. A screenshot would help in debugging as well. Thanks!

[2020-06-16 12:26] MarcusSterz opened #31 "Regular looking Bold in VS Code"
Apparently for some user Regular looksBold in VS Code
![image](https://user-images.githubusercontent.com/51958720/84773851-4cd6cc00-afdd-11ea-9d03-684f3234d44f.png)
![image](https://user-images.githubusercontent.com/51958720/84773861-506a5300-afdd-11ea-9829-f43a6f60c247.png)
![image](https://user-images.githubusercontent.com/51958720/84773872-52ccad00-afdd-11ea-9623-af4657af7b3a.png)
![image](http

[2020-06-16 13:18] bebraw commented on #31
Here's render from my system when using the newest distribution version (1.401, personal edition):

<img width="898" alt="Screenshot 2020-06-16 at 16 16 56" src="https://user-images.githubusercontent.com/166921/84779281-e063c900-afec-11ea-90f6-f90f2d702a9f.png">

I'm using MacOS.

Do you know the operating system of the reporter? Is the behavior the same with other editors?

[2020-06-16 13:18] bebraw commented on #28
Are you using the personal or the professional edition (includes all weights)?

[2020-06-16 13:22] bebraw commented on #28
I am using VS Code and macOS Catalina. If I use font name "MonoLisa" (1.401) and vary the font weight using the professional edition, it's changing the weight as expected.

I wonder what could be the difference. Are you using the otf versions of the font?

[2020-06-16 13:24] MarcusSterz commented on #31
No, he insists on being serviced via email ...(forwarded to you)

[2020-06-16 13:30] bebraw commented on #31
Ok, looks like it's a Mac.

I would say let's keep this open to see if anyone else can reproduce the issue.

[2020-06-16 14:26] kevinsperrine commented on #28
@bebraw, Yes, I'm using the OTF files from the Professional version. It's still happening on VSCode 1.46.0, but I'm still on Mojave. It might be an issue there. I'll just continue using the postscript name of the fonts. Thanks for checking into it.

[2020-06-16 14:42] bebraw commented on #28
Alright. 👍

[2020-06-19 09:04] emanuelpesendorfer opened #32 "»Unwanted« Ligature"
OS: MacOS
Editor: Sublime 3
Browser: Chrome

When typing a . (dot) and - (hyphen) next to each other I get an unwanted Ligature (see Screenshot on the left). The Browser shows the two characters as expected. Not a big issue but it got me confused ^^

<img width="1405" alt="Screenshot 2020-06-19 at 10 39 01" src="https://user-images.githubusercontent.com/2571129/85115767-7b8eb580-b21c-11ea-92b2-b81

[2020-06-19 09:24] bebraw commented on #21
Closing in favor of #24.

[2020-06-19 09:24] #21 closed

[2020-06-22 11:42] bebraw commented on #28
I can reproduce this particularly for *light* weights (100-300) now so I'm re-opening the issue.

[2020-06-24 10:25] okonet commented on #32
I'm removing `bug` label since we intentionally added this ligature but we're considering adding stylistic sets for ligatures in the future so this problem can be solved as well.

[2020-06-29 22:04] calebeaires opened #33 "Excessive padding-bottom on Webstorm UI"
While using Webstorm, inside editor, terminal and inputs the font goes very well, but on the Webstorm interface UI it is not. Se the image below. With others fonts (JetBrains, SourceCode... etc) it is ok.

<img width="1099" alt="Screen Shot 2020-06-29 at 18 57 28" src="https://user-images.githubusercontent.com/794195/86060513-38fa8380-ba3b-11ea-8b25-6eacc9f3d6ef.png">

[2020-06-30 05:57] okonet commented on #33
We are aware of this and working on the fix currently. It will be released very soon.

Duplicate of #26

[2020-06-30 05:59] okonet commented on #5
Just a follow up: we are working on the fix for this one and we’ll release it soon.

[2020-06-30 13:28] calebeaires commented on #33
Cool!
How do I follow the updates. Does the update comes by email to purchased ones?

[2020-06-30 13:54] bebraw commented on #33
@calebeaires If you've subscribed to the updates when buying, you'll get email. Also [@facetype](https://twitter.com/facetype) will announce new releases through Twitter.

[2020-07-02 14:51] bebraw commented on #2
Both `"""` and `'''` have been added.

@MarcusSterz @okonet What's the deal with `-*-`? Would it make sense to support it in a Python specific stylistic set?

[2020-07-02 14:52] bebraw commented on #5
This has been fixed in 1.500 (available now).

[2020-07-02 14:52] #5 closed

[2020-07-02 14:52] bebraw commented on #33
Duplicate of #5. The issue should be fixed now.

[2020-07-02 14:52] #33 closed

[2020-07-02 14:53] bebraw commented on #28
We looked into it and my understanding is that we cannot fix this at the font side. I've documented the issue at the font FAQ so VS Code users are aware of the limitation.

[2020-07-02 14:53] #28 closed

[2020-07-02 14:54] bebraw commented on #17
Support for Vietnamese has been added in 1.500 available now.

[2020-07-02 14:54] #17 closed

[2020-07-02 15:14] dinhquochan commented on #17
Wow, thanks @bebraw

[2020-07-03 04:25] mWaltari opened #34 "Version 1.5 truetype problems on windows"
Apps can't render whole row height.

![Screenshot 2020-07-03 07 20 45](https://user-images.githubusercontent.com/4082975/86431788-61fe6b00-bcfe-11ea-9830-1fb6d9b3af6d.png)
![Screenshot 2020-07-03 07 22 51](https://user-images.githubusercontent.com/4082975/86431789-632f9800-bcfe-11ea-8611-34c74fd295c7.png)

[2020-07-03 06:58] MarcusSterz commented on #2
@bebraw
We discussed that in Slack recently. I tried it out and making it a ligature does not really change how it looks so it makes no sense to create one.
https://component-driven.slack.com/archives/CSHAXUV19/p1592393667015000

[2020-07-03 07:56] bebraw commented on #2
@MarcusSterz Ok, thanks for confirmation.

@mitsuhiko As discussed above, we won't implement `-*-` as it's not going to change the way it's rendered. `"""` and `'''` are in place.

[2020-07-03 07:56] #2 closed

[2020-07-04 14:52] rcapraro commented on #34
Same issue in Intellij 2020.1.2, but no issue in Visual studio code or Windows terminal.
![image](https://user-images.githubusercontent.com/245490/86515060-b5fc7300-be16-11ea-9e37-cb678986382d.png)

[2020-07-06 11:28] bebraw commented on #34
I've included the previous version (1.401) to the zip. Please use that as a fallback for ttf until our designer has time to troubleshoot this one better.

You can find the zip from your email. It's the same link in the Paddle email you used to download the font earlier.

[2020-07-16 07:24] okonet opened #35 "Customize the personal package"
From email:

[2020-07-16 07:50] bebraw commented on #35
Would it make sense to let people choose between light/normal/medium for the personal edition since we seem to get requests that are to this direction?

If yes, here's what would have to change:

1. Instead of generating one personal edition, we would generate three zip files with the right combinations. Technically this isn't a big deal as the zip generation code is designed alternations in mind.

[2020-07-17 18:56] chmanie commented on #15
Is there a way to disable ligatures altogether, as a stop gap solution?

I tried

[code]

but it doesn't do the trick.

[2020-07-17 19:04] WilHall commented on #15
@chmanie

`disable_ligatures` only works on programatic ligatures (https://github.com/kovidgoyal/kitty/issues/2738#issuecomment-639959429)

Does `font_features` work if you target the font directly?

[code]

This is what I do in my own config.

[2020-07-17 19:12] chmanie commented on #15
@WilHall Yes, that works! Wonderful. This will do until there's a resolution for this (or forever) :)

[2020-07-18 07:56] chmanie commented on #15
@WilHall Actually for some reason this breaks the usage of the italic version. When changing it from `font_family MonoLisa` to `font_family MonoLisa-Regular` all the italics are not italic anymore. Do you encounter similar behavior?

[2020-07-18 17:27] WilHall commented on #15
@chmanie To the same effect, you should also be able to pass just the font family name to `font_family` instead of explicitly specifying `bold_font`, `italic_font`, and `bold_italic_font`.

That doesn't work with `font_features` though, which does require the fully qualified font name.

[code]

[2020-07-21 12:41] okonet commented on #26
Could you please update to the latest font version (1.500) since it should be fixed there. Check out [FAQ](https://www.monolisa.dev/faq) on how to update the font version.

[2020-07-21 12:44] okonet commented on #27
Duplicate of #19. Closing it. Let us know if it should be re-opened.

[2020-07-21 12:44] #27 closed

[2020-07-21 12:48] okonet commented on #24
Is this still an issue? I see your comment in https://github.com/MonoLisaFont/feedback/issues/19 and not sure now if we should be investigating it still.

[2020-07-21 12:57] okonet commented on #32
This should be solved with https://github.com/MonoLisaFont/website/issues/359

[2020-07-21 13:01] okonet commented on #11
Should be fixed when https://github.com/MonoLisaFont/website/issues/359 is done

[2020-07-21 13:02] okonet commented on #25
We will introduce stylistic sets. Related to https://github.com/MonoLisaFont/website/issues/359

[2020-07-21 13:04] okonet commented on #4
Related discussion: https://component-driven.slack.com/archives/CSHAXUV19/p1592393534012800

[2020-07-21 15:56] Eldair commented on #24
Hi, yeah, it is still the same, on version 1.5

[2020-07-21 16:13] bebraw commented on #24
@Eldair Which resolution are you using on your display? That's a good extra piece of information to have.

[2020-07-21 16:15] Eldair commented on #24
Same thing on both 1920x1080 (24") and 2560x1440 (27")

[2020-07-21 16:17] bebraw commented on #24
Ok, thanks!

Is it the same regardless of the editor (VS Code and others)?

[2020-07-21 16:51] Eldair commented on #24
Sublime is the same but for different font size (their 10 is the same as vscode 14)

![image](https://user-images.githubusercontent.com/470003/88083114-f122d400-cb82-11ea-8468-79c71de63dbe.png)
![image](https://user-images.githubusercontent.com/470003/88083142-f7b14b80-cb82-11ea-8bda-2f2e1e59b30f.png)
![image](https://user-images.githubusercontent.com/470003/88083164-ff70f000-cb82-11ea-8963-cedaeb

[2020-07-22 12:21] MarcusSterz commented on #34
We were able to reproduce the issue. The upcoming version 1.501 fixes this problem.

[2020-07-22 12:23] MarcusSterz commented on #34
Closed.

[2020-07-22 12:47] mekkablue commented on #15
I reported the Kitty rendering bug here:
https://github.com/kovidgoyal/kitty/issues/2872

[2020-07-22 13:00] WilHall commented on #15
@devinjameson filed https://github.com/kovidgoyal/kitty/issues/2599 which was closed. For issues like this, the author has cited that [kitty will resize a glyph when it is too large to fit in the cells it is supposed to fit in](https://github.com/kovidgoyal/kitty/issues/2599#issuecomment-620460195) which is [addressed in the FAQ](https://sw.kovidgoyal.net/kitty/faq.html#some-special-symbols-are-re

[2020-07-22 13:27] mekkablue commented on #15
The readme also cites an exception for glyphs followed by spaces. Which is what MonoLisa does:

https://github.com/kovidgoyal/kitty/issues/2599#issuecomment-662451880

[2020-08-09 17:14] HKervadec opened #36 "Some long (3+) ligatures break on Sublime"
Hello,

Some ligatures (v1.500) aren't displayed properly on Sublime (build 3211), while it seems to be working on VSCode:

![ligatures_cmp](https://user-images.githubusercontent.com/4191866/89737750-9a057600-da41-11ea-8751-ee2119be7b64.png)

I am on Linux (kernel 5.7.8-zen2-1-zen), with Xorg/Cinnamon.

The test text as reference:
[code]

[2020-08-11 07:24] bebraw commented on #36
@MarcusSterz Here's the render against the current development version on MacOS. Sublime Text on left, VS Code on right.

<img width="563" alt="Screenshot 2020-08-11 at 9 21 29" src="https://user-images.githubusercontent.com/166921/89869168-a19d5a00-dbbc-11ea-8fdf-aba7a0b675a4.png">

Here's reference for testing: https://www.sublimetext.com/, https://www.sublimetext.com/docs/3/ligatures.html .

@H

[2020-08-11 18:30] HKervadec commented on #36
Hello, thank you for taking the time to investigate it.

I do not have any font options for now:
[code]

Let's note that I tried by installing the OTF only, TTF only, or having both available. Is there one that I should prefer over the other ? My current fc-list:
[code]

[2020-08-11 18:49] bebraw commented on #36
@HKervadec My understanding is that OTF is often the best option. TTF is provided specifically for Windows.

I tested using OTF.

[2020-08-15 01:37] HKervadec commented on #36
I uninstalled the TTF then, and also rebuild the cache/rebooted -- the problem is the same. I am disabling the ligatures until this is resolved.

Another data point: those ligatures work fine on Sublime with Fira Code, but I don't know if they had to add some dedicated workaround for Sublime.

[2020-08-15 07:10] bebraw commented on #36
That's valuable information. Both MonoLisa and Fira use Glyphs (a popular font app) to manage source. I imagine there's some subtle difference that breaks the output for Sublime Text and it's worth looking into (cc @mekkablue).

[2020-08-15 08:41] mekkablue commented on #36
AFAICS we have not pinned down whether it is an installation problem or a configuration issue, which seems likely because the same app on different systems does not exhibit the issue. Since I do not have access to a Linux machine, can you verify the following please:

* Is the font unavailable in other apps as well? Or is just Sublime affected?
* Have you tried on a different machine, or at least

[2020-08-15 08:47] bebraw commented on #36
@mekkablue Note that I can see the ligature issue on my system (MacOS) with the current OTF (see render above) so it seems like it's not limited to Linux alone.

[2020-08-16 10:25] mekkablue commented on #36
I finally could reproduce the render issue by switching through font sizes with Cmd +/−. It seems like in certain pixel sizes, SublimeText does not scale the rendering area for the glyph horizontally, it only scales it vertically. For instance, going from 15px to 16px, the horizontal width stays the same but the glyphs are scaled nonetheless:

![sublimetext-fontscaling-15-16](https://user-images.g

[2020-08-16 10:30] bebraw commented on #36
@mekkablue Ok, is this something to report to upstream then? I wonder if Sublime operates on some assumption related to glyph width there.

[2020-08-16 12:03] mekkablue commented on #36
I reported the issue on the SublimeText forum, hoping for a response from the devs:
https://forum.sublimetext.com/t/ligature-glyphs-cut-off-horizontally/53275

[2020-08-16 12:13] bebraw commented on #36
Great, thanks. 👍

[2020-08-19 07:59] mekkablue commented on #36
Just got confirmation that this is indeed an issue of ST3. There is going to be a fix in an upcoming version of ST.

[2020-08-19 08:17] bebraw commented on #36
Awesome. 🥁

[2020-08-19 15:03] nloding commented on #31
I am experiencing the same issue, with VS Code on Windows 10. It occurs regardless of the theme I'm using, font size, etc. I've also explicitly set VS Code to use "MonoLisa Regular" and the weight doesn't change. There is a slight but visible change if I increase the font weight to 700+, but the "normal" weight is definitely not rendered correctly.

[2020-08-20 14:53] bebraw commented on #31
@nloding Can you do a couple of screenshots?

Here's mine on MonoLisa/MonoLisa-Regular on MacOS with VS Code:

<img width="199" alt="Screenshot 2020-08-20 at 16 51 33" src="https://user-images.githubusercontent.com/166921/90787900-e5573880-e30d-11ea-8989-97b6157b0f4f.png">

I wonder if there's something system specific we're missing.

[2020-08-20 15:07] nloding commented on #31
@bebraw here's a screenshot of the same text as the samples above. Maybe it's just my eyes and not being used to a wider font (coming from Dank Mono) but it just seems heavier in VS Code (regardless of theme) than it does when I view the MonoLisa website or screenshots from other users.

![monolisa-sample2](https://user-images.githubusercontent.com/328425/90789561-94881580-e2f6-11ea-8fcb-3ef354dc6

[2020-08-20 15:32] bebraw commented on #31
@nloding I think I see what's up. My render was with `fontSize` set to 12.

Here's a comparison with `fontSize` set to 16:

<img width="325" alt="Screenshot 2020-08-20 at 17 30 11" src="https://user-images.githubusercontent.com/166921/90792601-551bf200-e313-11ea-88f7-87e3ae56004e.png">

Below with `MonoLisa-Light`:

<img width="294" alt="Screenshot 2020-08-20 at 17 30 20" src="https://user-images.

[2020-08-20 15:55] nloding commented on #31
@bebraw unfortunately 12 is too small on my monitor, and the Thin variant isn't available in the personal edition :(

[2020-08-20 15:59] bebraw commented on #31
@nloding Yeah, let's wait for some feedback from the designer. Ideally we would be able to provide weights one by one to cover these kind of cases. 😄

[2020-08-21 00:42] maraisr opened #37 "Looks anything but art on windows"
Using 150 and otf

![image](https://user-images.githubusercontent.com/599459/90839316-8ee40b80-e39a-11ea-8fd6-f36e3491817a.png)

As you can see the font is being cut off on the top.

for comparison here is the same settings, but using DankMono.

![image](https://user-images.githubusercontent.com/599459/90839364-b33fe800-e39a-11ea-91e9-fe262dcf1dff.png)

I've tried the ttf, and otf.

Details:
- OS:

[2020-08-21 07:03] bebraw commented on #37
@maraisr Can you re-download the font using the original download link at the email? I've included the current development build that **should** fix the issue. There are three builds in the zip now.

[2020-08-21 07:04] bebraw commented on #34
@mWaltari I've included the development version to test. You can get if you re-download the font using the original link. Let me know if the fix works for you.

[2020-08-21 07:04] bebraw commented on #37
I'm closing this as a duplicate of #34.

@maraisr Let me know how it goes with the development build.

[2020-08-21 07:04] #37 closed

[2020-08-21 07:07] maraisr commented on #37
I've downloaded the `-dev` font, installed.

Its definitely better. The `if` and `import` statements are still cut off. cc @bebraw

![image](https://user-images.githubusercontent.com/599459/90862457-ca013180-e3d0-11ea-9dc3-6b08a75b8039.png)

[2020-08-21 07:09] maraisr commented on #34
Re the development copy, I have grabbed that. Its definitely better than it was at 500, or 401. That being said, its still cutting the ascendors from what I can see.

[2020-08-21 07:16] bebraw commented on #34
@maraisr I copied your screenshot from https://github.com/MonoLisaFont/feedback/issues/37#issuecomment-678082132 here so we have the info at the right place:

![cutting-if](https://user-images.githubusercontent.com/166921/90863147-3cedb680-e397-11ea-8ca2-52b3e7008d4b.png)

CC @MarcusSterz @mekkablue - note the cut `if` and `import` statements. It's better but no cigar.

[2020-08-21 08:01] mekkablue commented on #34
Which OS, which app?
Cache issue excluded?

[2020-08-21 08:14] maraisr commented on #34
Yes, yes and yes. As outlined in my other ticket and also the title of this issue.

Its Windows 10 Pro, and in my case Intellij's Webstorm.

[2020-08-27 12:11] phortuin opened #38 "Low legibility on 13px (MacOS non-retina screen)"
I am on a non-retina screen and work with a font-size of 13px because I am fairly close to my screen. I noticed the legibility of MonoLisa severely suffers on this font size. At 11px or 12px, to an extent, it is more legible, and at 14px it most certainly is too. Possibly this is a hinting/antialiasing issue.

I am on MacOS 10.15.6 with a mid 2015 MacBook Pro, screenshots taken on a ~2007 24" Appl

[2020-08-27 12:15] bebraw commented on #38
@phortuin Can you provide information about your operating system and display resolution? That will help debugging the issue further as then we can replicate the problem easier.

I can see it's a bit blurry compared to the other fonts.

[2020-08-27 14:22] phortuin commented on #38
@bebraw Added info in my initial post. Sorry for omitting at first. Yes it’s mostly blurry, although PragmataPro (for instance) advertises that the font is optimized at font-sizes up to as small as 9pt. So that might be the reason it's still very crisp at 13px.

Although it might be a technical issue, I think some glyphs could have more distinct forms, the caret, tilde, backtick and curly bracket

[2020-08-27 18:54] phortuin commented on #38
This is Mono Lisa at 13px downscaled from a retina screen (1440x900 @2x). Much more legible. Not sure if this is useful, but it does point in the direction of the MacOS rendering engine making things muddy (whereas it does a better job with some other fonts, as speculated in my initial post).

![monolisa-downscaled](https://user-images.githubusercontent.com/137299/91482803-ed335180-e8a6-11ea-98ea-

[2020-08-28 05:17] okonet commented on #38
There are some hints on how font rendering works in this article: https://tonsky.me/blog/monitors/

As a suggestion: try using one font size smaller or bigger since it’s often solves the hinting issues.

[2020-09-03 07:55] phortuin commented on #38
@okonet I have a pretty good idea how font rendering works and I've read the article before, thanks. I just hoped to point out that — in contrast to some other popular monospaced fonts — Mono Lisa doesn’t perform well at 13px, which by chance is the font size I feel the most comfortable with in my setup, the quality of my screen and distance to my eyes, etc. Like you suggested, I already had bumpe

[2020-09-03 09:42] MarcusSterz commented on #38
@phortuin We can certainly work on the i-issue, thx for pointing it out.
The differentiation between ^ and ~ has already been taken into account – will be more distinguishable in next version.
I do not necessarily agree on the { ( topic.
Same with ' and `. We had no complaints regarding these two so far, looks OK on the screenshot as well – also in comparison to most other examples provided.

[2020-09-04 13:28] mekkablue commented on #38
Hinting information that is stored in the font is ignored by the CoreText renderer. IOW you cannot influence hinting on the Mac with the hinting info you put inside the font.

You can try toggling the font smoothing setting and different sizes. No font can render crisp in all pixel sizes.

[2020-09-07 10:24] phortuin commented on #38
@MarcusSterz thanks, good to hear. Looking forward to these updates

@mekkablue Good stuff, thanks for pointing that out. I thought that hinting info was used for just that: influencing the font renderer. Is it just that MacOS doesn’t play nice, or is it simply dependent on too many variables to get right?

[2020-09-16 14:55] mekkablue commented on #38
The CoreText renderer ignores the hinting information built into the font. It autohints the font on the fly when you install it the first time.

[2020-09-25 08:11] bebraw commented on #34
@maraisr To make sure it's not a caching issue, can you erase your font cache on Windows and try with the `dev` version again?

[2020-09-25 08:40] bebraw commented on #34
@maraisr I found https://troubleshooter.xyz/wiki/rebuild-font-cache-in-windows-10/ related to rebuilding the font cache. Please let me know how it goes with cache.

[2020-09-25 10:04] bebraw commented on #4
Hi,

We discussed through the issue as a team and we looked into implementing the ligature. The outcome of our discussion was the in our opinion, the `__`/`___` case works the best the best without a specific ligature since whitespace between the characters gives the character combination legibility by itself.

It sounds like a little counter-intuitive conclusion but in this case it seems like doi

[2020-09-25 10:04] #4 closed

[2020-09-25 10:06] benjaminreid commented on #4
No problem, thank you for taking the time to consider it.

[2020-09-25 12:38] mekkablue commented on #34
Upcoming MonoLisa 1.501 in WebStorm 2020.2.2, build form Sept 14, 2020, on Windows 10:

![Screenshot 2020-09-25 at 14 34 55](https://user-images.githubusercontent.com/1103103/94267899-a6378b00-ff3c-11ea-868e-8ca9e79509e8.png)
![Screenshot 2020-09-25 at 14 34 01](https://user-images.githubusercontent.com/1103103/94267903-a8014e80-ff3c-11ea-81b9-95dfc7e26db8.png)

I cannot find any clippings. The is

[2020-09-25 12:49] bebraw commented on #34
@mekkablue Ok, thanks. I'll close on the next release then. 👍

[2020-10-09 12:41] alexeyten commented on #25
Looks like slashed zero was added as `ss02`.
May I suggest to use `zero` as it is exactly what it should be
https://docs.microsoft.com/en-us/typography/opentype/spec/features_uz#tag-zero

![image](https://user-images.githubusercontent.com/44377/95583832-65b03500-0a45-11eb-8ae6-9c86e96487f7.png)

[2020-10-09 13:00] bebraw commented on #25
@alexeyten Hi, it's not officially released yet (not in docs yet) but it's a great idea to use `zero` for its name (cc @MarcusSterz).

[2020-10-11 16:11] bebraw opened #39 "Support Persian language"
Please 👍 this issue if you would like to see support of Persian in the typeface.

[2020-10-13 12:31] okonet commented on #25
Yes, we agreed it should be `zero` so I'm confused why it's in `ss02` now.

[2020-10-13 12:37] bebraw commented on #25
The current release doesn't have the new naming yet.

[2020-10-16 11:44] bebraw opened #40 "Support Hebrew language"
Please 👍 this issue if you would like to see support of Persian in the typeface.

[2020-10-17 10:22] bebraw opened #41 "Ligatures don't render in MacOS terminal"
I tested MonoLisa against MacOS default terminal. Renders below:

**Fira Code**

<img width="88" alt="Screenshot 2020-10-17 at 12 20 11" src="https://user-images.githubusercontent.com/166921/96334753-b80fd800-107b-11eb-9256-d3fb3aada797.png">

**MonoLisa**

<img width="99" alt="Screenshot 2020-10-17 at 12 20 51" src="https://user-images.githubusercontent.com/166921/96334763-c100a980-107b-11eb-8ae4

[2020-10-17 10:25] okonet commented on #41
Confirming this. Not sure how I didn't notice this before...

[2020-10-17 10:27] bebraw commented on #41
Given both Fira and MonoLisa have been authored using Glyphs, I imagine it's some difference in output settings or perhaps ligature groups. Reference for comparison: https://github.com/tonsky/FiraCode .

[2020-10-18 13:36] BtM909 commented on #11
Your link doesn't work.

[2020-10-18 14:12] bebraw commented on #11
We are tracking some of the issues internally. That's why the link doesn't work.

[2020-10-26 19:07] bebraw opened #42 "Linux - JetBrains Rider - Only "MonoLisa Bold" is shown in the monospaced font list"
See gif below:

![monolisa](https://user-images.githubusercontent.com/166921/97216941-36345300-17cf-11eb-9c1d-6a347a99a1f1.gif)

The correct behavior would be to show "MonoLisa Regular" and possible other options as well in addition to "MonoLisa Bold".

[2020-11-04 00:46] nloding commented on #31
Wanted to follow up on this. I've gotten used to the bold look, but don't want to give up! :)

[2020-11-04 10:04] MarcusSterz commented on #41
@mekkablue Can you have a look?

[2020-11-04 10:05] MarcusSterz commented on #42
@mekkablue Can you have a look?

[2020-11-04 15:47] mekkablue commented on #42
Which OS?

[2020-11-04 16:01] bebraw commented on #42
@mekkablue It looks like some Windows or Linux but I'll ask the reporter to know for sure. I wonder if the issue is specific to this specific IDE. Could it be that some metadata is off or can the issue be on their side?

[2020-11-04 19:24] lzybkr commented on #42
This is Windows 10. I wouldn't rule out anything, but I reported the issue here first because one of the styles is handled correctly.

[2020-11-07 22:50] RajcsanyiZ opened #43 "Ligature request: Laravel Blade Template comment"
Helo,

I often use mixed HTML and blade comments within a source code.

HTML comment has a ligature, but Blade comment has not yet.

Blade comment format is:
{{-- something -->

Documentation is here: https://laravel.com/docs/8.x/blade#comments

Sketch:
![image](https://user-images.githubusercontent.com/1152691/98452840-61b22880-2153-11eb-81b8-71a00eefd12e.png)

Zoltan

[2020-11-14 15:33] bebraw commented on #41
I think the difference might be due to https://github.com/tonsky/FiraCode/issues/854 . It seems FiraCode is using `calt` (contextual alternates) for these so we would have to move the ligatures to that group to have them enabled everywhere by default.

[2020-11-14 15:50] okonet commented on #41
I'm not sure how `call` and ligatures are related (afaik they are not) but since https://github.com/MonoLisaFont/website/issues/55 is still open I guess we also use `calt`. @MarcusSterz any comments?

[2020-11-27 10:25] bebraw commented on #34
This should be resolved in 1.6 (please use the original download link). Closing.

[2020-11-27 10:25] #34 closed

[2020-11-27 10:25] bebraw commented on #7
This should be resolved in 1.6 (please use the original download link). Closing.

[2020-11-27 10:25] #7 closed

[2020-11-27 10:27] bebraw commented on #25
This has been implemented in 1.6 (please use the original download link). Closing.

More info on usage at https://www.monolisa.dev/releases . You'll have to enable `zero` explicitly in your editor.

[2020-11-27 10:27] #25 closed

[2020-11-27 10:28] bebraw commented on #16
There's an alternate asterisk in 1.6 (use the original download link). More info: https://www.monolisa.dev/releases .

[2020-11-27 10:31] bebraw commented on #24
Can you check with 1.6 as there were ttf rendering improvements there? You can use the original download link.

[2020-11-27 10:32] bebraw commented on #38
Note that ^ and ~ have been improved in 1.6 so it should render better now. You can use the original download link to get the new release.

[2020-11-27 10:50] Eldair commented on #24
Hello,

13px and 14px are perfect on both 1440p (27") and 1080p (23")

12px
![image](https://user-images.githubusercontent.com/470003/100441062-23e75680-30a6-11eb-9d89-b4566b7b570f.png)
11px and below have an issue with .= only
![image](https://user-images.githubusercontent.com/470003/100441102-33ff3600-30a6-11eb-8ad2-2abcb441ab72.png)
15px
![image](https://user-images.githubusercontent.com/470003

[2020-11-27 10:56] bebraw commented on #24
@MarcusSterz Can you comment when you have time? TTF looks better now and I guess the question is, can the rest be improved?

I know there are inherent limitations in font rendering so the problem often is that you cannot make each size perfect especially on lower resolutions. Based on that it's possible we won't be able to make it perfect on each but let's see what Marcus has to say.

[2020-11-27 11:00] alexeyten opened #44 "Copyright ligature `(c)` should be disabled"
Version 1.6
https://www.monolisa.dev/playground

When I type `(c)` it becomes narrower than 3 chars thus changing alignment of the text.
Also this (artificial) example looks weird:
[code]
![image](https://user-images.githubusercontent.com/44377/100442330-de805480-30b8-11eb-9bc2-6ccf69c3beef.png)

[2020-11-27 11:21] bebraw commented on #44
@MarcusSterz I guess this would be a good fit for a stylistic set? Keeping it enabled by default feels like the wrong choice for programming as the combination can come up in functions as in the example above.

[2020-11-27 12:09] bebraw opened #45 "Suggest complementary fonts for editor UI"
It would be great to figure out non-monospaced fonts to suggest to use with MonoLisa. That's good info for the FAQ.

Feel free to comment in this thread if you've found ones that work particularly well.

[2020-11-27 13:42] bebraw opened #46 "Attribution badge for MonoLisa to embed"
Likely this should be in SVG format and easy to embed.

**References:**

* https://creativecommons.org/ - good size.
* https://github.com/badges/shields

[2020-11-27 13:49] robinpokorny commented on #46
The version for slides could include the URL, too. And it should be available also in PNG for easy use as most presentation software don't like SVGs.

[2020-11-27 14:48] okonet commented on #44
Thanks for reporting this! Yes, it should be put into a stylistic set.

[2020-11-27 14:51] okonet commented on #44
Hmm, I'm trying to reproduce it in my editor, but it works as expected:

<img width="437" alt="CleanShot 2020-11-27 at 15 50 22@2x" src="https://user-images.githubusercontent.com/11071/100460907-45f1d080-30c8-11eb-8353-3ecb102bc6cd.png">

Are you sure it's not a text substation of the OS kicking in?

[2020-11-27 15:04] bebraw commented on #44
I have the same in VS Code when ligatures are enabled:

<img width="104" alt="Screen Shot 2020-11-27 at 16 02 52" src="https://user-images.githubusercontent.com/166921/100462086-64f56000-30d2-11eb-8281-a4b22655523e.png">

I can also see the problem in the playground.

You may be right in that it's MacOS that's kicking in, though, as the replacement it's doing is fairly aggressive.

Likely the thin

[2020-11-27 15:16] bebraw commented on #8
I have a related report from a user. Screenshot below to illustrate:

![image](https://user-images.githubusercontent.com/166921/100463282-3d9f9280-30d4-11eb-9e8d-368c643cf14a.png)

Quote: "...at the top of my head I can only think of that I'm not really a fan of the italic f which I think is a little bit big compared to the rest and usually comes in the way of the previous character as shown below

[2020-11-27 15:26] msallent commented on #8
Quote and screenshot above are mine.

I do agree that a change here would be nice. I often found myself trying to rename variables as to not include the letter f because depending on the word, it looked weird compared to the other characters.

IMO, I feel it's a bit too tall and that's why it stands out so much.

[2020-11-27 18:53] alexeyten commented on #44
My screenshot is from site’s playground in Firefox on Ubuntu

[2020-11-27 19:33] MarcusSterz commented on #44
Yes, I can disable it and make it a stylistic set, no prob.

[2020-11-27 23:19] MarcusSterz commented on #44
It is a common ligature trick. You normally add ligature-like features like this to make the workflow faster for people who write text.
I can delete it easily. Making it a stylistic set is not a good option since a stylistic set replaces a glyph with another. Here you have 3 glyphs being replaced by 1 symbol.

[2020-11-28 10:53] okonet commented on #44
Since we have a dedicated symbol for it I don't feel the need for it especially for developers.

Interesting question is why it's not reproducible for me on v1.600 on Mac neither in IDE nor on the website playground.

[2020-11-29 10:59] bebraw commented on #32
@emanuelpesendorfer We separated these type of ligatures to `liga` in 1.600. If you enable only `calt`, then it's not going to render combinations like `.-`. See more at https://www.monolisa.dev/releases .

I guess the remaining question is, does Sublime Text provide enough control for this?

Let me know if the current solution works for you or if we should iterate further.

[2020-11-29 11:01] bebraw opened #47 ""Normal" width version"
From email:

The idea would be to provide a normal width version of MonoLisa. As far as I understand, that would mean redoing all characters, though, so the amount of work might be quite big.

[2020-11-29 12:46] bebraw commented on #32
@emanuelpesendorfer I came by https://www.sublimetext.com/docs/3/ligatures.html . I think you should be able to get the behavior you want by setting `"no_liga"`. The caveat is that doing this will lose **shape replacing** ligatures.

[2020-11-30 11:07] okonet commented on #47
But why? That's the main differential factor for it. If they don't like this they why using ML? But maybe Marcus can comment too?

[2020-11-30 11:09] bebraw commented on #47
Yup, let's wait for a comment from Marcus.

I agree it's a differentiating factor so it would be tricky to remove without losing something of value.

[2020-11-30 14:09] okonet commented on #32
I think this one is a great one for [stylistic sets](https://github.com/MonoLisaFont/website/issues/408). @MarcusSterz what do you think?

[2020-12-03 12:58] bebraw commented on #42
Based on a user, this occurs in PhpStorm as well on Windows.

[2020-12-03 12:58] TiiFuchs commented on #42
That user be me, so if there are any further questions. I'm happy if I can assist in some way. :)

[2020-12-03 13:02] bebraw commented on #42
@TiiFuchs Note that workaround shown in the gif - you can select `MonoLisa` if you uncheck the "show monospaced fonts". Somehow it seems to get categorized wrongly.

[2020-12-03 13:03] TiiFuchs commented on #42
@bebraw Good to know. That worked. Thanks for the workaround! :)

[2020-12-04 09:59] okonet commented on #41
Apparently Terminal only support `calt` so starting from v1.600 all ligatures from `calt` (i.e. non-symbols) will be visible in Terminal. Unfortunately we can't do much about symbols from `liga` and because the separation of those is a "feature" we won't act on this one anymore.

[2020-12-04 10:06] okonet commented on #11
We are going to propose something in https://github.com/MonoLisaFont/font/issues/1

[2020-12-04 10:09] okonet commented on #44
We decided to drop the _ligature_ but keep the symbol in the font.

[2020-12-04 10:11] BtM909 commented on #11
Do you mean: https://github.com/MonoLisaFont/feedback/issues/1?

[2020-12-04 10:12] okonet commented on #38
Can we close it? @phortuin can you try the latest version v1.600 and see if it has improved for you?

[2020-12-04 10:15] okonet commented on #18
@kfollesdal we do have a greek alphabet support. Are you missing: a glyph or a specific ligature? If the later, what kind of combination it is suppose to be applied to?

[2020-12-04 10:16] okonet commented on #1
We can also tackle this in stylistic set. See https://github.com/MonoLisaFont/font/issues/1

[2020-12-04 10:17] okonet commented on #3
We decided not to act on it now.

[2020-12-04 10:17] #3 closed

[2020-12-04 11:30] okonet commented on #11
No, we have a separate issue to track the work. Sorry for the confusion.

[2020-12-04 12:22] bebraw commented on #36
@HKervadec Can you check this? My understanding is that Sublime has done some fixes.

[2020-12-04 12:23] bebraw commented on #31
@nloding We've set up a Plus package that includes more weights. Send me email if you haven't received it as our earlier customer and I'll make sure you have access.

I wonder if we should close this issue now.

[2020-12-06 04:43] alessandrodn commented on #41
What's does it mean in practice? I installed version v1.600 and I don't see any difference...

[2020-12-06 07:48] okonet commented on #41
It means that support for ligatures is limited it Terminal and you will only see a subset called contextual alternatives defined in `calt` as per https://www.monolisa.dev/specimen

[2020-12-06 11:21] okonet commented on #31
I wonder if it's related to https://github.com/MonoLisaFont/feedback/issues/42

[2020-12-06 11:22] okonet commented on #31
How did you install the font? What font files did you use to install?

[2020-12-06 21:37] kfollesdal commented on #18
@okonet thank you for following up :-) Greek letters and then lambda is added after I write my issue. I close the issue since I now have what i need.

[2020-12-06 21:37] #18 closed

[2020-12-07 16:31] HKervadec commented on #36
I've done some quick tests -- so far it is not working. But I am not on my main dev setup, I'll come back at you in a few days, with more details.

[2020-12-09 14:47] MarcusSterz commented on #24
I will pass the torch to @mekkablue – Is there a final answer to this?

[2020-12-10 08:34] bebraw opened #48 "Support long arrow ligatures"
Example below:

![Hinzugefügte Grafik-Thu Dec 10 2020 092323 GMT+0100 (Mitteleuropäische Normalzeit)](https://user-images.githubusercontent.com/166921/101742846-411f1a80-3ad3-11eb-9f2e-71b7d2104733.png)

Fira Code implements the feature (good reference).

[2020-12-14 11:10] MarcusSterz commented on #48
Reason?

[2020-12-14 11:12] MarcusSterz commented on #47
Clear nope from me. I would have to make every update twice. Also, we agreed on the wider approach because of the obvious advantages.

[2020-12-14 11:18] bebraw commented on #48
This was a request from one of our users. I imagine they're using the characters in their work.

[2020-12-14 11:18] bebraw commented on #47
Ok, let's close. 👍

[2020-12-14 11:18] #47 closed

[2020-12-14 12:20] MarcusSterz commented on #42
@mekkablue Any idea what could be the problem?

[2020-12-15 08:44] bebraw opened #49 "Provide a version without ligatures"
To quote the user:

I know I can turn them off on some editors and terminals but this isn't possible with macOS' Terminal.app so it would be very nice to have a version that I can use. As far as I know PragmataPro Mono, Iosevka, and JetBrains Mono provides two versions of their fonts: with and without ligatures.

[2020-12-15 16:16] okonet commented on #49
Do we know what exactly he doesn't like about them?

[2020-12-15 16:21] bebraw commented on #49
No. I asked for more info.

[2020-12-15 17:13] bebraw commented on #49
Reply:

So it's about matching the behavior seen in the other fonts (maybe a sight issue?).

[2020-12-15 17:15] okonet commented on #49
What is the effort on our end to do so?

[2020-12-15 17:15] bebraw opened #50 "Rust - .., .= and ..= ligatures don't fit together"
To quote:

[2020-12-15 17:17] bebraw commented on #49
I think @MarcusSterz knows the best as he is building the font.

I tried setting up a standalone script but it's crashing on something within the source file and to figure that one out we would likely need Rainer as the error is rather cryptic.

[2020-12-17 05:24] HKervadec commented on #36
So I did more thorough tests, and also upgraded to the latest version of Monolisa (1.600 OpenType installed). Notice that there hasn't been a release in SublimeText in the meantime (v3211).

The change in https://github.com/sublimehq/Packages/pull/2449 seems to update only the syntax for markdown -- meaning that even if it was working, having the ligatures to properly work across languages would r

[2020-12-17 08:43] bebraw commented on #36
@mekkablue When you have time, could you please check this one? It seems the issue still persists.

The weird thing is that both Fira Code and MonoLisa are based on a Glyphs definition. I wonder if it's something within MonoLisa definition that's tripping Sublime Text.

[2020-12-17 17:26] HKervadec commented on #36
I just did the same test (increasing and decreasing the font size), I can notice a similar (small) effect, though unlike you `###` is cut after 2 chars only and not 3.

[2020-12-17 20:37] pkazmier commented on #15
I, too, am having this issue. I was so excited today when I bought the font until I opened my terminal 😢

[2020-12-17 21:05] Nodman commented on #15
Bought the font today and also encountered few issues with kitty:

* also small ligatures
* underline placement seem a bit of (you can see it on the screen where error and paren match
* very strange behaviour, when `=>` becomes `= ` when underlined

this behaviour only happens in Kitty and only with this MonoLisa =(

I really love this font and if I want to keep I should move to iTerm which is muc

[2020-12-18 02:49] dinhquochan commented on #38
Nah, @okonet  It's still low legibility! Looks `=`, `<` and `>` so bad.

MonoLisa 13px
![image](https://user-images.githubusercontent.com/9979458/102568237-a5fef400-4115-11eb-9eec-3186c6c88c48.png)

Hack 13px
![image](https://user-images.githubusercontent.com/9979458/102568263-b57e3d00-4115-11eb-9bee-003e83c8a176.png)

Menlo 13px
![image](https://user-images.githubusercontent.com/9979458/102568313

[2020-12-18 03:01] dinhquochan commented on #38
14px is good!

![image](https://user-images.githubusercontent.com/9979458/102569369-efe8d980-4117-11eb-8b91-1c803b43dbce.png)

[2020-12-18 07:35] okonet commented on #15
Judging by your screenshots it doesn't look you even have ligatures enabled so it's probably not related to it. I see the `!==` not being replaced with the ligature.

[2020-12-18 11:49] bebraw commented on #15
For reference, here's a technical explanation of what's going on https://github.com/kovidgoyal/kitty/issues/297#issuecomment-360969999 (see the following comment as well).

To fix, we'll have to change the way the ligatures are defined and after that it should work in Kitty without breaking other targets.

Kitty expects a specific format for performance reasons so for a font to work there, it has

[2020-12-18 15:13] Nodman commented on #15
@okonet My bad, I had to mention that I turned ligatures off (due to their size in kitty), and I just wanted to mention those few  issues that I had in Kitty without creating new issue.

The thing with missing `>` in `=>` (which is not ligature) is kinda related, I think it's because initially I turned off  ligatures only for regular font so when  italic (error decorator)  kicks in - kitty outputs

[2020-12-18 15:44] okonet commented on #15
None of them are font related TBH. It's the way Kitty works unfortunately. We could try mitigate some of them probably but I'm not sure if we can fix them. @bebraw can you post links you showed me that explain how it works here?

[2020-12-18 15:46] bebraw commented on #15
Sure, here's the explanation from the author of kitty: https://sw.kovidgoyal.net/kitty/faq.html#kitty-is-not-able-to-use-my-favorite-font .

In other words, as a result of its heavily optimized rendering, not all fonts work without rework adjusting to the way Kitty renders.

[2020-12-18 17:22] #44 closed

[2020-12-18 17:22] #8 closed

[2020-12-21 17:16] dinhquochan commented on #16
@bebraw It's fixed. I confirm.

![image](https://user-images.githubusercontent.com/9979458/102803481-e054e380-43ea-11eb-8085-b57d2b42b54f.png)

[2020-12-21 18:05] bebraw commented on #16
Yeah, this has been fixed. We also improved the following case in 1.601:

[code]

The *'s align now as you might expect.

[2020-12-21 18:05] #16 closed

[2020-12-21 18:07] bebraw commented on #32
Is there a valid use case for the middle dot and dash ligature?

Since for most, not transforming is the right option, I would say this should go behind a stylistic set as well.

[2020-12-21 18:09] bebraw commented on #30
@JobLeonard Can you check this? We've done a bunch of work on the site so it's possible this has been fixed now.

[2020-12-21 18:44] okonet commented on #32
I'd drop it for now and revisit as a stylistic set option.

[2020-12-22 12:33] JobLeonard commented on #30
It's been reversed! Hahaha, don't you just love software development? ;)

![image](https://user-images.githubusercontent.com/259840/102889053-3ad95880-445a-11eb-978d-e544bf2a717b.png)

[2020-12-22 13:18] bebraw commented on #30
@JobLeonard Ok, that's one step forward, one step backward. I clicked some buttons to match personal/plus with professional, can you check now?

[2020-12-28 13:51] bebraw commented on #36
@HKervadec Can you test the nightly build of Sublime Text? My understanding is that the issue may have been fixed there already.

[2020-12-28 14:06] mekkablue commented on #42
I could not replicate the menu issue exactly like in the screenshots. But something similar: It displayed te regular MonoLisa _and_ the Bold Italic in the menu

Will try again with 1.60X and introduce PANOSE settings, perhaps the app scans for those.

[2020-12-28 15:12] HKervadec commented on #36
As far as I know there is no nightly build for Sublime Text3, but the beta for ST4 ( https://aur.archlinux.org/packages/sublime-text-4-dev/ ) seems to have fixed it :)

![st4](https://user-images.githubusercontent.com/4191866/103223966-14516c80-48f5-11eb-8d91-f911a1b0a75b.png)

I am closing this one for now

[2020-12-28 15:12] #36 closed

[2020-12-28 15:18] bebraw commented on #36
Ok, cool. Thanks for confirming!

[2020-12-28 17:39] JobLeonard commented on #30
Sorry for reacting slowly, got your email on my phone but don't have access to GH there, then forgot about it when checking my mail on my desktop until after Christmas.

The good news is that I see SEK on every item!

![image](https://user-images.githubusercontent.com/259840/103232888-f22f0d00-493b-11eb-8eb4-ef54f0d73ba6.png)

[2020-12-28 17:43] bebraw commented on #30
No worries (I'm taking some time off as well). Let's close this one then. 👍

[2020-12-28 17:43] #30 closed

[2020-12-31 15:27] mitsuhiko commented on #11
FWIW I have stopped using ligatures. I made another attempt just now and on the latest font version it still renders like this so I wouldn't consider this issue fixed for me.

[2020-12-31 16:14] bebraw commented on #11
@mitsuhiko Depending on your editor, it may possible to disable the shape altering ligatures now. For VS Code, you would do it like this for example:

That `calt` group contains only spacing altering ones while `liga` contains everything. I believe enabling `calt` might do the trick for you.

[2021-01-04 14:40] bebraw commented on #1
I think #50 is related to this. Since we're talking about Rust-related group of characters, I suppose a good thing to do would be to handle characters like `..=`, `.=`, `..` in it so that they make sense.

Can someone that's using Rust comment on the issue regarding which characters should have ligatures there? I am primarily interested in how a stylistic set should be implemented for it and what

[2021-01-08 08:21] bebraw opened #51 "Support Chinese language"
Please 👍 this issue if you would like to see support of Chinese in the typeface.

[2021-01-13 16:01] bebraw opened #52 "Visual Studio 2019 - Ligatures don't work"
Apparently this might be an issue on Visual Studio 2019 side based on https://developercommunity.visualstudio.com/idea/591741/font-ligatures-not-working.html and not something that can be fixed in the font itself.

If anyone is using Visual Studio 2019 and has experience with ligatures, please comment on this thread.

[2021-01-21 10:25] bebraw commented on #42
@mekkablue I tested the fixed version with PANOSE settings under Windows 10. It seems adding that metadata doesn't fix the issue.

I found out that you can see the faulty name even in Windows 10 itself if you navigate to `C:\Windows\Fonts`. It shows the font family name as `MonoLisa Bold` there and I believe it's possible JetBrains editors pick up the name from the system level so the issue may no

[2021-01-22 08:56] bebraw commented on #42
@mekkablue To provide more info, I tested using the ttf format (copied over to the Fonts directory) with the Plus package.

Likely the main thing would be to get the issue reproduce for you under Windows 10. As mentioned above, you should be able to see the wrong name in Windows itself.

[2021-01-22 14:42] bebraw commented on #42
@mekkablue I have more info. I found this service: https://fontdrop.info/ . Check out the output for MonoLisa Black:

<img width="536" alt="Screen Shot 2021-01-22 at 15 39 55" src="https://user-images.githubusercontent.com/166921/105504559-2fcb4f80-5cc8-11eb-9411-4c67f05fd680.png">

Here's Fira Code for comparison (otf, though):

<img width="534" alt="Screen Shot 2021-01-22 at 15 41 14" src="https

[2021-01-22 14:45] mekkablue commented on #42
No. You compared a RIBBI font with a non-RIBBI font. What you suggest only applies to a RIBBI font.

[2021-01-22 15:05] bebraw commented on #42
Ok, regardless it's maybe worth checking the font metadata.

I guess ideally you would have Windows 10 available somehow. Even a virtual machine is enough for testing this and you won't need even JetBrains to see the behavior as it's visible in Windows itself.

[2021-01-27 19:37] bebraw opened #53 "1.602 - Backticks render wrongly"
![image-1](https://user-images.githubusercontent.com/166921/106043974-685f9480-60df-11eb-8083-48d0a8bed80a.png)
![image-2](https://user-images.githubusercontent.com/166921/106043978-6990c180-60df-11eb-9cf6-1431ea3669a8.png)

[2021-01-27 19:52] bebraw commented on #53
Based on the user report it's on MacOS but I cannot reproduce this one on my system (Big Sur). Please comment here if you can reproduce it.

[2021-01-27 20:13] petrisoralexandru commented on #53
Hi, I'm the one who reported this. The problem is tested on the operating systems: macOS High Sierra & Windows 10 as well as on your website (Playground).

I have attached some more animated images.
![Proof1](https://user-images.githubusercontent.com/34144926/106047726-a4e5bd00-60ec-11eb-896b-f44079b2f5f0.gif)
![Proof2](https://user-images.githubusercontent.com/34144926/106047728-a57e5380-60ec-11e

[2021-01-27 20:40] bebraw commented on #53
@MarcusSterz Is it possible there's some automatic replacement causing this? Can you reproduce the issue?

[2021-01-27 21:01] bebraw commented on #53
Hi,

Just to verify, if you change the font in the playground, does it give the expected result (separate characters)? If not, that would imply some replacement on the system level.

[2021-01-27 22:00] petrisoralexandru commented on #53
Did you mean to switch to MonoLisa to Fira Code/Jetbrains/Source Code?

[2021-01-27 22:04] petrisoralexandru commented on #53
Sure!

![Proof3](https://user-images.githubusercontent.com/34144926/106060186-635d0e00-60fc-11eb-96d5-99ad8c5e13ed.gif)

[2021-01-28 04:55] pkazmier commented on #53
For another data point, I'm on a Mac (Catalina) and backticks work as expected in both playground and my editor (emacs 28).

[2021-01-28 05:57] petrisoralexandru commented on #53
I don't know, I think this is on a system level. I tested it on my Android phone and my laptop (Windows & Ubuntu) and the playground works well, but the same issue in VS Code.

[2021-01-28 08:43] MarcusSterz commented on #53
Cannot reproduce this in playground in any browser so far. Looks good in VS Code, too.

[2021-01-28 11:11] petrisoralexandru commented on #53
Maybe is from keyboard?

https://github.com/microsoft/vscode/issues/93567#issuecomment-663862573

[2021-01-28 16:31] petrisoralexandru commented on #53
@bebraw What replacement on the system level do you recommend?

[2021-01-28 16:49] bebraw commented on #53
@petrisoralexandru You could try https://stackoverflow.com/a/12759063/228885 . I wonder if this is related to input source.

If I'm interpreting right, it's doing a replacement for the diacritic character ù on your system. I don't understand why this doesn't happen for the other font families, though.

[2021-01-28 16:55] petrisoralexandru commented on #53
Thanks, it will be great if you recommend some settings for Windows as well.

joi, 28 ian. 2021, 18:50 Juho Vepsäläinen <notifications@github.com> a
scris:

[2021-01-28 17:01] bebraw commented on #53
@petrisoralexandru https://superuser.com/questions/1236768/how-do-i-disable-automatic-diacritics seems related for Windows. It looks like there may be some automation in place as well that's causing the behavior.

[2021-01-28 20:42] karlhorky opened #54 "Lowercase `i` looks like a `1`"
Hi @okonet and @bebraw ! 👋

First of all, thanks for your tireless work on MonoLisa! It's great to see this passion in the industry 🙌

So now that CodeSandbox is using MonoLisa as the default font, I see it on a lot of different monitors at a lot of different resolutions. 🎉

Very often it is on a cramped 13" MacBook screen over [Zoom](https://zoom.us/) remote screensharing (often from a monitor la

[2021-01-28 20:43] karlhorky commented on #38
I've also opened https://github.com/MonoLisaFont/feedback/issues/54 for this one issue as per wishes from @bebraw

[2021-01-28 20:46] bebraw commented on #54
@MarcusSterz Can you check this one again? In the online service above, it's using the newest fix but it looks like it's not enough in all cases. I wonder if there's any more that could be done.

[2021-01-28 21:30] MarcusSterz commented on #54
Looking at the ‘f’ I bet that this is not 1.602 🧐

[2021-01-28 21:34] MarcusSterz commented on #54
@karlhorky Are you certain, this is 1.602?
We improved the terminal of f, too. It should look different in the current version. But then it’s a screen shot so it’s hard to tell.

[2021-01-28 21:36] karlhorky commented on #54
I don't know - I tried getting the person to look in the Network panel, but there was no version information there. How do I find out?

[2021-01-28 21:38] karlhorky commented on #54
One additional piece of info here is that the person on the other end is on Windows, in case that makes a difference.

[2021-01-28 21:54] bebraw commented on #54
The version on Codesandbox has only your i/1 fix as the f fix was implemented after it.

[2021-01-28 21:54] MarcusSterz commented on #54
Can you could magnify the font up to i e 20 or bigger and make a screenshot of the ’f‘? Then I can tell.

[2021-01-28 21:56] MarcusSterz commented on #54
True. 1.602 is 2021 already.

[2021-01-28 21:57] bebraw commented on #54
It's not possible to tell based on f alone as that wasn't included to the early test version with the i/1 fix provided to Codesandbox.

Here the problem is made worse by a combination of Windows, low resolution, and poor connection.

[2021-01-28 22:01] MarcusSterz commented on #54
So codesandbox is not using our cutting edge latest version?

[2021-01-28 22:02] bebraw commented on #54
Just a sidenote, it looks like Nokia Font solved the issue by having lower angle at the "1" top. It was designed with extremely low resolutions in mind.

Maybe that and adding a tiny bit more spacing to "i" would help in telling them apart in extreme cases?

[2021-01-28 22:03] bebraw commented on #54
Codesandbox is using the version with your fix as the fix was made for them but it doesn't have the new f.

[2021-01-28 22:06] MarcusSterz commented on #54
That’s  awkward, isn’t it?

[2021-01-28 22:10] bebraw commented on #54
Pushing the new f wouldn't solve the issue with i/1.

It takes engineering effort to test/validate a new version on their side. Just let me know when to do it.

[2021-01-28 22:11] MarcusSterz commented on #54
What do you mean?

[2021-01-28 22:16] bebraw commented on #54
Asking them to update to 1.602 would not fix the problem we are seeing here since the version we provided to Codesandbox already contains your i/1 fix. As it's there already, it would not change the situation when it comes to this issue.

[2021-01-29 04:53] pkazmier opened #55 "Dot position above ‘i’ and ‘j’"
Does anyone else feel the dot above the ‘i’ and ‘j’ could be slightly shifted to the left to provide a more visual balance? Because the dot is wider than the stem, when centered over it as it is now, it looks out of place.

I’ve never noticed such a small detail before in any font, but it just stands out at the size I use MonoLisa. So, I went and checked a few other fonts I use to see if purposely

[2021-01-29 08:55] bebraw commented on #55
@MarcusSterz What do you think? Maybe it's good to tune this while doing the general i/j fix for extremely low resolutions?

[2021-01-29 11:02] MarcusSterz commented on #55
We did exactly that in 1.602

[2021-01-29 11:06] okonet commented on #55
@MarcusSterz can you please make a comparison of 1.601 and 1.602 with similar zoom levels?

[2021-01-29 11:45] bebraw commented on #54
@karlhorky Can you ask the person using Zoom if the i and 1 look good locally? If that's the case, I suspect it might be Zoom that's decreasing the quality here since there's some compression on the stream. It's still something to fix but this information would help to narrow down **when** the problem occurs.

[2021-01-29 12:35] bebraw commented on #32
For reference, JetBrains Mono dropped the character (https://github.com/JetBrains/JetBrainsMono/issues/76) and there's a related open issue for FiraCode at https://github.com/tonsky/FiraCode/issues/670.

[2021-01-29 13:17] pkazmier commented on #55
The Monolisa screenshot came from the website, but maybe my browser has a cached version of the font? Here is another screenshot straight from my Font Book app on the Mac where I installed 1.602. It still looks like the dot is centered over the stem:

<img width="360" alt="image" src="https://user-images.githubusercontent.com/747855/106279265-c1bfe480-6201-11eb-80c6-f964bdecc502.png">

And the inf

[2021-01-29 14:40] karlhorky commented on #54
Sure, will ask :) Maybe we'll get a screenshot too.

[2021-01-29 14:54] karlhorky commented on #54
Ok, so the answer is: it's still pretty bad, without Zoom.

Here's a screenshot:

![image](https://user-images.githubusercontent.com/1935696/106289884-171fe400-624a-11eb-83f0-fffb54beb759.png)

Again, in case this is relevant, this is on a Windows 10 machine.

[2021-01-29 14:59] bebraw commented on #54
@karlhorky Can you get the system display resolution so we can validate locally?

[2021-01-29 15:01] okonet commented on #54
@karlhorky can that person go to https://www.monolisa.dev/playground and try it there so we can at least be sure about the font version?

[2021-01-29 15:53] karlhorky commented on #54
cc @Josehower

[2021-01-29 16:21] Josehower commented on #54
Hi, on the playground is looking a lot better

windows 10

![image](https://user-images.githubusercontent.com/61600906/106300152-666c1180-6256-11eb-96da-97313503e1cc.png)

[2021-01-29 17:05] bebraw commented on #54
Thanks for the info.

I think I may have found the root of the issue. It seems after our fix for the "i", something changed in Codesandbox deployment and they reverted to an earlier version. I explain more at https://github.com/codesandbox/codesandbox-client/pull/5337#issuecomment-769928678 .

[2021-01-29 17:16] bebraw commented on #54
@Josehower We traced it down to service worker caching at https://github.com/codesandbox/codesandbox-client/pull/5337 . That would explain the difference. You can try to verify this by using another browser (Firefox for example) or by removing entire service worker for Codesandbox in Chrome through dev tools.

[2021-01-29 19:26] petrisoralexandru commented on #53
@bebraw Today I needed to get on IntelliJ IDEA and I told myself to try if I can replicate the bug in this compiler as well. It seems that I don't have any problems here, I don't know if it's from OS or VSCode, in IntelliJ IDEA the rendering is done correctly.

[2021-01-29 19:50] bebraw commented on #53
On my system, I'll have to do shift-backtick-space to make a standalone backtick (Finnish layout). Without the space, it's going to merge the accent to the following character. This seems like standard OS behavior to me. Screenshot below:

<img width="80" alt="Screen Shot 2021-01-29 at 20 48 41" src="https://user-images.githubusercontent.com/166921/106320596-60385e00-6273-11eb-89d1-ddf542bf2ce0.pn

[2021-01-29 20:20] petrisoralexandru commented on #53
Yes, in Windows I have to do `+Space (instead of just press `) to render correctly, but if I want to delete, the problem appears again because of missing space.

[2021-01-30 08:56] MarcusSterz commented on #54
Great job @bebraw !

[2021-01-30 11:04] karlhorky commented on #54
Great! @Josehower if you confirm that it looks fine after removing the service worker from the Application tab of the DevTools, I will close :)

[2021-01-30 11:08] bebraw commented on #54
Hi,

It's a bit more complex than that. It seems Codesandbox is using Cloudflare with long cache times (my font file was from mid-December). I am currently discussing what to do about that. Hopefully I know more next week.

[2021-01-30 21:44] aignas opened #56 "1.602 release date clarification"
Hi, I noticed, that the year for the 1.602 release is still 2020 and given the ordering I think it should be 2021.

Link:
https://www.monolisa.dev/releases

[2021-02-01 09:58] petrisoralexandru commented on #53
@bebraw @MarcusSterz How can we solve this problem? Do you know? If not, I could change the font and move the backticks from italic to regular, as I said, there are no problems with italics.

[2021-02-01 09:59] bebraw commented on #53
@petrisoralexandru So far the problem is that we've been unable to reproduce it on our systems. There's some difference I don't understand yet.

[2021-02-03 01:16] lzybkr opened #57 "Consider providing NerdFonts compatible releases"
Popular tools like [starship](https://github.com/starship/starship) and [lsd](https://github.com/Peltoche/lsd) require glyphs from [NerdFonts](https://www.nerdfonts.com/).

NerdFonts provides patched versions of most popular fonts, but obviously that isn't possible for a paid font. While one can patch MonoLisa themselves, it's a bit of a pain to do so, it would be nice if a patched version was pro

[2021-02-03 10:27] mekkablue commented on #42
The RIBBI style linking was wrong for Bold Italic and Black Italic 1.602. Fixed in my most recent commit.

[2021-02-03 10:44] bebraw commented on #42
@mekkablue Cool to hear you found a fix. 👍

[2021-02-04 08:47] bebraw commented on #56
Thanks for the heads up. I think it will be fixed with the next release. 👍

[2021-02-04 08:50] bebraw commented on #54
I've opened a follow-up issue on Codesandbox side at https://github.com/codesandbox/codesandbox-client/issues/5444 about the caching problem.

It's best to follow that as there's nothing we can do on the font side.

[2021-02-04 08:50] #54 closed

[2021-02-04 11:41] karlhorky commented on #54
Thanks for following up here @bebraw , will continue watching over there!

[2021-02-04 17:12] bebraw opened #58 "Support Bash specific ligatures"
- bash process substitution -> https://www.gnu.org/software/bash/manual/html_node/Process-Substitution.html
- bash command substitution -> https://www.gnu.org/software/bash/manual/html_node/Command-Substitution.html
- bash redirections -> https://www.gnu.org/software/bash/manual/html_node/Redirections.html

Please 👍 this issue if you would like to see these in the font family.

[2021-02-04 22:08] okonet commented on #58
What kind of ligatures do you have in mind?

[2021-02-05 07:17] bebraw commented on #58
Looking at the links sent by the user:

* <(
* >(
* $(
* >&
* &>
* &>>
* <&
* <>
* <<
* >&-
* <&-
* &>> (not as important as the others are more common?)

I think some of these exist already and it's possible I didn't catch them all (if someone uses Bash, please comment in the thread).

[2021-02-05 11:01] fredericrous commented on #58
That's the list @bebraw 👍

The most common operators are, without a doubt, output redirection and command substitution:

[code]

I often use these as well:

[code]

the others are less common, IMO.

I think only these ones are already implemented

[code]

[2021-02-05 12:14] bebraw opened #59 "Stylistic set for Go"
My understanding is that Go is well supported by ligatures already. Here's a complete set of characters to validate: https://golang.org/ref/spec#Operators_and_punctuation .

[code]

[2021-02-05 15:56] fredericrous commented on #52
hey! the link you shared is about Visual Studio 2019 and not VS Code (current version is 1.52.1)

[2021-02-05 15:59] bebraw commented on #52
Ah, good point. I had a typo - I meant Visual Studio in particular. It's a separate product from VS Code.

Ligatures work perfectly in VS Code but it's Visual Studio that's more problematic.

[2021-02-05 16:44] fredericrous opened #60 "Add a section in the FAQ regarding TextMate keywords configuration"
Hey, here is a suggestion for the FAQ page

OS: MacOS Big Sur 11.2
Editor: VS Code 1.52.1

If I navigate to the monolisa.dev website, I see the following on the Javascript page

<img width="500" src="https://user-images.githubusercontent.com/702227/107059302-8b6c0180-67cd-11eb-83d7-5d246fb9ff4d.png">

the keywords `import, export, if, for, const, return, undefined` are in italic.

My VS Code confi

[2021-02-05 18:34] okonet commented on #60
We could add this but isn't it related to the theme you're using?

[2021-02-05 18:42] fredericrous commented on #60
I honestly don't know, I use the default theme, "Default Dark+"

[2021-02-05 19:28] fredericrous commented on #60
On IntelliJ Idea, the configuration is done per theme however, I'm putting the screenshot here for reference

![image](https://user-images.githubusercontent.com/702227/107079655-0d692400-67e8-11eb-8198-648ca74e5230.png)

[2021-02-06 20:30] jaacko-torus opened #61 "Website Playground - Fira Code"
I know this is about another font, but since you're trying to allow us to see the differences between the fonts, then I suggest updating all the fonts you include in the playground. For example Fira Code (my daily driver) has updated to 5.2 last year, with it come a lot of updates and adjustments, but I don't know if I should buy MonoLisa (for $60) because I can't compare them fairly.

Again, sorr

[2021-02-07 11:14] okonet commented on #61
We are using latest versions of all fonts provided to us by Google Fonts. If they don't have an updated version I suggest to send the inquiry there.

[2021-02-08 18:37] dongheeleeme opened #62 "Regular font doesn't support Powerline"
I'm using MonoLisa with Regular on Vim. But I got a problem displaying Powerline font.
As a result of m tests, `Regular Italic`, `Bold` and `Bold Italic` doesn't have a problem displaying Powerline font.
Would you please check it? Thank you!

### Screenshot
![Screenshot 2021-02-08 at 19 31 55](https://user-images.githubusercontent.com/38916112/107265421-882e7b00-6a44-11eb-941f-93f195ef7914.png)

[2021-02-08 18:40] dongheeleeme opened #63 "Support Korean language"
Hi team,

Thank you for the great font ever but have one request.
It would be great if this font supports Korean. Would you please consider this?

Thanks!

[2021-02-11 06:20] okonet commented on #62
What version of the font you're using?

[2021-02-11 08:54] dongheeleeme commented on #62
Hi @okonet, I'm using the latest version.

[2021-02-11 08:57] okonet commented on #62
Just to confirm: `1.602` right?

[2021-02-13 10:07] bebraw commented on #15
@mekkablue Based on https://github.com/kovidgoyal/kitty/issues/2599#issuecomment-778566181, the author of Kitty has acknowledged the issue so maybe the best thing to do is to wait for now? It would be great to have a fix on Kitty side as it would fix other fonts as well (now Cascadia Code broke in Kitty).

[2021-02-15 10:22] bebraw commented on #15
It looks like a fix for Cascadia Code has landed in Kitty at https://github.com/kovidgoyal/kitty/commit/912c46fc57362d3bd2a2f82b4b0a2ef939d6e1ec .

If someone has time, could you please try a patched version to see if it fixes rendering for MonoLisa as well? Thanks!

[2021-02-15 11:46] app opened #64 "FAQ update for Cyrillic languages"
Nice shaped font!
Do not found Russian among supported languages looking at FAQ page.
But found in releases page.
Thanks!

[2021-02-15 12:29] okonet commented on #64
Oh that's embarrassing 😳 Thanks for mentioning this. I'll add this to FAQ.

[2021-02-15 12:29] okonet commented on #64
@MarcusSterz fyi

[2021-02-15 12:38] dongheeleeme commented on #62
Hi @okonet, I tried to reinstall the font, and then the issue was fixed so far.
(I don't know why it was fixed 😅 )
Thank you for your reply and I'll create an issue again if I get an issue again.

[2021-02-15 12:51] MarcusSterz commented on #64
Oops 😬

[2021-02-15 17:56] CarsonHoffman commented on #15
kovidgoyal/kitty@912c46f appears to have resolved this issue! On Big Sur, manually checked out to 912c46f:
![image](https://user-images.githubusercontent.com/19721219/107979692-003cf980-6f8d-11eb-9af4-7388138b82df.png)

[2021-02-15 18:02] bebraw commented on #15
@CarsonHoffman Great! Thanks for confirmation.

It's time to close this issue. 🎊

[2021-02-15 18:02] #15 closed

[2021-02-17 08:17] bebraw commented on #62
Cool, let's close. Feel free to open a new issue if you encounter the glitch again. 👍

[2021-02-17 08:17] #62 closed

[2021-02-17 19:53] #64 closed

[2021-02-18 09:21] MarcusSterz commented on #55
This issue has been taken care of and you will see improvement in upcoming v1.603.

[2021-02-18 09:56] #55 closed

[2021-02-18 10:10] bebraw commented on #56
Fixed.

[2021-02-18 10:10] #56 closed

[2021-02-18 10:41] bebraw commented on #31
@nloding Can you download the recent 1.603 and try now? We've fixed #42 so that the names should work as you expect on that platform.

[2021-02-18 10:47] bebraw commented on #61
Yup, as we depend on Google Fonts CDN, it's best if you can re-open the issue there so their consumers get the newest version: https://github.com/google/fonts . Thanks!

[2021-02-18 10:47] #61 closed

[2021-02-18 19:01] nloding commented on #31
@bebraw it looks _much_ better now, pretty much how I expect it to. Thank you!

[2021-02-19 05:36] bebraw commented on #31
I think I finally understand what happened here. The original reporter must have been using a TTF under MacOS (I assume it works) instead of OTF (which I did). That explains why I didn't see the difference in the first place.

Now that the font name has been fixed in TTF, I don't think we'll encounter this one again even if someone accidentally uses TTF over OTF under MacOS.

[2021-02-19 05:36] #31 closed

[2021-02-19 10:59] bebraw opened #65 "Wider dash for em and em dashes?"

[2021-02-19 20:37] carlomunguia opened #66 "More Unique Parentheses?"
Absolutely smitten with Monolisa, and have been using it on every IDE / console that I use for work & personal use.

One thing I do note though, is that the parentheses are a bit flat on top/bottom of each glyph & a bit vague/ non-unique compared to other monospace fonts - compare for example [Monaco](https://www.cufonfonts.com/font/monaco) or [Mononoki](https://madmalik.github.io/mononoki/)

I'm

[2021-02-23 01:58] imjma opened #67 "condensed style"
Would like to have a condensed style to save space on each line.

[2021-02-23 19:13] vikky49 opened #68 "A ligature request for |="
A ligature request for |=

This is how it looks in MonoLisa
<img width="524" alt="1" src="https://user-images.githubusercontent.com/180512/108895169-1a4b8d00-75c8-11eb-81d3-ad7832bf573d.png">

This is how it looks in Jetbrains Mono
<img width="542" alt="2" src="https://user-images.githubusercontent.com/180512/108895259-35b69800-75c8-11eb-8549-05efca97917e.png">

[2021-02-24 10:29] bebraw commented on #67
We discussed this in #47 as there was an earlier request.

Extra width is considered a **feature** as it allows our font designer to put extra effort into wide characters such as "m". Doing a condensed ("normal width") version of MonoLisa would require a full redesign and I believe the other popular font families cover that niche well enough.

I use MonoLisa for my editors (legibility matters) and

[2021-02-24 10:29] #67 closed

[2021-02-26 19:27] okonet commented on #68
I guess we could also add `|->` as well. It looks much better in JBM.

[2021-03-03 23:23] cmconnelly commented on #65
(This is one I asked about by e-mail.)

[2021-03-03 23:34] cmconnelly opened #69 "Missing Cascadia Code Ligatures"
I'm working on getting MonoLisa working in GNU Emacs (using [Mickey's `ligature.el` package](https://github.com/mickeynp/ligature.el)), and have found that the following ligatures are defined in Cascadia Code but not in MonoLisa:

[code]

One of these, `|=` is in #68; another, `www`, in #10.

(BTW, I got the list of ligatures for MonoLisa from the website's specimen page.  It would be easier if th

[2021-03-09 09:37] ninthspace commented on #42
I still have this issue with 1.603 and PhpStorm. Below screenshot illustrates that assigning anything Bold makes the corresponding text appear as Bold Italic. I'm also trying to diagnose with JetBrains' assistance. https://youtrack.jetbrains.com/issue/IDEA-262765

![Screenshot from 2021-03-09 09-33-21](https://user-images.githubusercontent.com/248954/110449860-88a94880-80ba-11eb-85f4-774426fa6134.

[2021-03-14 11:43] bebraw opened #70 "Arch Linux - MonoLisa is rendered faint compared to other fonts"
To quote George from email:

Screenshots below:

**Fira Code**

![fira](https://user-images.githubusercontent.com/166921/111067100-ce06b500-84c2-11eb-8072-f779d4c0b348.png)

**MonoLisa**

![monolisa](https://user-images.githubusercontent.com/166921/111067104-cf37e200-84c2-11eb-956f-4703ea2d90e8.png)

[2021-03-14 13:42] bebraw commented on #70
It looks like it was a cache issue. Closing.

[2021-03-14 13:42] #70 closed

[2021-03-20 03:18] polarmutex commented on #57
second this

[2021-03-22 09:13] bebraw opened #71 "Brackets aren't centered as in JetBrains Mono"
This was raised up by a user. Examples below:

**MonoLisa:**

<img width="348" alt="Screenshot 2021-03-22 at 11 08 18" src="https://user-images.githubusercontent.com/166921/111966316-13486980-8af7-11eb-8c31-09980b28df89.png">

**JetBrains Mono:**

<img width="331" alt="Screenshot 2021-03-22 at 11 08 57" src="https://user-images.githubusercontent.com/166921/111966342-193e4a80-8af7-11eb-9b64-5a79b59

[2021-04-06 10:08] MarcusSterz commented on #58
Would we make them LIGA or CALT?

[2021-04-06 10:09] MarcusSterz commented on #1
@bebraw Is there a comprehensive list regarding Rust Attributes?

[2021-04-06 11:15] bebraw commented on #1
@mitsuhiko Are there **specific** ligatures that should be added to improve the UX with Rust? How can we make the typeface better for Rust users?

As mentioned above, one option is that we'll provide a Rust specific stylistic set that's specifically designed for the language. I know at least VS Code lets you enable it specifically for Rust.

[2021-04-06 11:17] bebraw commented on #58
@MarcusSterz I think the basic rule is that if it's only spacing alterations, it should go to `calt` but if entire characters are replaced then `liga`. Most likely this has to be decided per case.

[2021-04-06 11:26] MarcusSterz commented on #58
Some are definite candidates for `liga`.

[2021-04-08 07:14] bebraw commented on #11
Let's close as it has been moved to `liga` (not in `calt` anymore). You'll get the character replacement only if you enable ligatures (`liga` group).

[2021-04-08 07:14] #11 closed

[2021-04-08 07:22] bebraw commented on #53
@petrisoralexandru Do you still have the issue? The problem is that nobody has been able to reproduce it so far making it difficult to troubleshoot and debug.

[2021-04-08 07:31] bebraw commented on #65
I just had a chat with our designer about this and it's something we cannot fix as em dash is already at its maximum width. :)

[2021-04-08 07:31] #65 closed

[2021-04-08 07:45] bebraw commented on #71
The feature has been already implemented in the typeface but you have to enable it separately like this (VS Code):

<img width="286" alt="Screen Shot 2021-04-08 at 10 43 03" src="https://user-images.githubusercontent.com/166921/113987693-5e80ad00-9857-11eb-83c6-c759641ac119.png">

Enabling the feature will change the orientation of the following characters:

[code]

[2021-04-10 08:27] wip0 opened #72 "Hard to differentiate ligature between == and !="
Hi,

I have attached the image from my IDE in C#
![2564-04-10_15h24_43](https://user-images.githubusercontent.com/20312631/114263655-22914780-9a11-11eb-88ec-b5966c968b5c.png)

Please make "!=" be easier to read. It is hard for me to tell that they are "==" or "!="

IDE: Visual Studio 2017
Font size: 10
OS: Windows 7

[2021-04-14 01:34] chmanie opened #73 "Adding nerd-fonts"
I was wondering whether anyone has managed to inject the nerd-fonts (https://github.com/ryanoasis/nerd-fonts) glyphs into this font. I tried but with no luck.

These two glyphs for example are not displayed properly: , 

[2021-04-14 03:04] dinhquochan commented on #72
I think you should use a bigger font size. Below is in Sublime Text 4 at 13px.

![image](https://user-images.githubusercontent.com/9979458/114648189-9d57ac80-9d08-11eb-824b-a54537c2d769.png)

[2021-04-14 06:20] Lyrillind commented on #53
Same problem here. It happens everywhere.

[2021-04-14 06:41] bebraw commented on #53
@mekkablue How would you debug something like this? We're having trouble reproducing the backtick rendering issue here.

@Lyrillind Which system language do you use?

[2021-04-14 06:46] Lyrillind commented on #53
System language is Chinese.

[2021-04-14 07:22] bebraw commented on #53
Can you see the issue when the system language is set to English?

[2021-04-14 07:50] mekkablue commented on #53
We need to verify if the backtick is defined as combining mark or if it occurs in a ligature. Will have a look at this today.

[2021-04-14 14:15] Lyrillind commented on #53
@bebraw Same problem under English

[2021-04-14 15:44] mekkablue commented on #53
I cannot reproduce the issue in 1.604, it works as expected for me in this version, including on the web page:

![image](https://user-images.githubusercontent.com/1103103/114739059-d57edf80-9d48-11eb-912b-52a2bd00aaf9.png)

(tested in both Chrome and Safari on macOS X 10.15)

* Can you paste the character stream here between triple backticks?
* Which input methods are you using and which key seque

[2021-04-14 16:41] mekkablue commented on #24
Will employ ‘natural’ rather than ‘quantized’ gridfitting, which will deliver a smoother scaling across sizes at the cost of a bit more antialiasing (i.e., a bit more fuzziness). This should be a slight improvement.

However it is not mathematically possible to always gridfit three equally distant stems at equal pixel distances in _all_ pixel sizes, and line them up with the rest of the font at th

[2021-04-15 03:14] Lyrillind commented on #53
Confirmed this issue is fixed in 1.604 as followed screenshot.

<img width="216" alt="CleanShot 2021-04-15 11 14 09@2x" src="https://user-images.githubusercontent.com/4125903/114808918-cac15a80-9ddb-11eb-923d-5a4970fc2e48.png">

[2021-04-15 06:52] bebraw opened #74 "Vertical spacing"
Compared to Cascadia, vertical spacing is different (MonoLisa takes more space). See below:

**Cascadia Code**

![cascadia nerd](https://user-images.githubusercontent.com/166921/114826404-25ed5000-9dd0-11eb-96d4-09ab7864fe3e.png)

**MonoLisa**

![monolisa-1](https://user-images.githubusercontent.com/166921/114826418-2b4a9a80-9dd0-11eb-8fda-aad400ac48d9.png)

I guess the question is, can this be co

[2021-04-15 08:57] MarcusSterz commented on #53
Great!
Please make sure to have the latest version when reporting bugs.

[2021-04-16 13:00] bebraw commented on #24
The fix has been included to the newly published 1.700.

[2021-04-16 13:00] #24 closed

[2021-04-16 13:01] bebraw commented on #38
We've done a fix for this in 1.700.

[2021-04-16 13:01] #38 closed

[2021-04-16 13:01] bebraw commented on #68
The two ligatures have been added in 1.700.

[2021-04-16 13:01] #68 closed

[2021-04-16 13:37] bebraw commented on #66
Starting from 1.700, { and } have been redone. Let us know what you think. 👍

[2021-04-17 00:08] Pyre909 opened #75 "v 1.700 Bold and Bold Italic TTF thin font weights."
Hi,

Not sure if this is expected, but I'm noticing that when using the TTF font files the weight on bold regular and italic are looking thin. This does not happen on the OTF font files.

Please see the attached screenshots.

<img width="1918" alt="font_preview" src="https://user-images.githubusercontent.com/3960786/115095443-92567500-9ede-11eb-8996-4439310051c6.PNG">
<img width="280" alt="notepad

[2021-04-17 00:09] Pyre909 commented on #75
oh Im on Windows 10 20h2 if that helps any.

[2021-04-18 11:58] alexeyten commented on #75
Same here. 1.7 is way too thin

1.7
![Terminal with MonoLisa 1.7](https://user-images.githubusercontent.com/44377/115144619-4f1f1200-a056-11eb-83b2-b37194b1a932.png)
1.602
![Terminal with MonoLisa 1.602](https://user-images.githubusercontent.com/44377/115144622-4fb7a880-a056-11eb-8dc2-72d3ce7aefeb.png)

[2021-04-18 12:09] okonet commented on #75
@mekkablue can you please take a look at this one? Seems like a regression.

[2021-04-18 12:13] mekkablue commented on #75
There was indeed an error in the first batch of TTF exports in 1.700 due to an incompatibility of software versions used.

The good news: This has been addressed already. New exports are in the 1.700/TTF folder.

[2021-04-18 12:24] alexeyten commented on #75
I've redownloaded archive.
It is good now.

[2021-04-18 14:40] okonet commented on #75
I’m closing this one. If you still experience it please re-download the font.

[2021-04-18 14:40] #75 closed

[2021-04-19 13:01] calebeaires opened #76 "MonoLisa at Macbook M1"
Hey! I have set up MonoLisa at Macbook M1 and while using Intellij apps the font does work well as expected. **The font is too thin, more than expected**. I have to change the settings randomly to take the correct behavior, but I had no success.

Version
MonoLisa Plus 1.7

This print is from a Macbook M1

![image](https://user-images.githubusercontent.com/794195/115239933-a1fbd680-a0f5-11eb-91eb-d

[2021-04-19 13:42] okonet commented on #76
Can you please make suer you're installing _only_ the OTF version of the font? The first M1 screenshot looks completely wrong to me.

[2021-04-20 23:22] benspaulding commented on #9
It appears that support for Esperanto was add in [v1.500](https://www.monolisa.dev/releases), so this can be closed.

Thank you!

[2021-04-21 08:44] bebraw commented on #9
Good point. Let's close. 👍

[2021-04-21 08:44] #9 closed

[2021-04-21 08:46] bebraw commented on #72
@wip0 Make sure to download the most recent release (1.700). Rendering was changed there and I believe it might help in your use case. If you check, let me know how it goes.

[2021-04-21 10:55] bebraw opened #77 "Cursive italics"
As an alternative, there could be cursive version of italics. Here's an example from Dank Mono:

![Attachment](https://user-images.githubusercontent.com/166921/115542680-322e4d00-a2a9-11eb-94ed-728b68511c11.png)

[2021-04-22 09:39] fredericrous opened #78 "unwanted ligature in handlebars files"
I have been working with emberjs recently. It uses handlebars templating (file extension: `.hbs`).
`{{` and `}}` are used to delimit a handlebars statement.
At the end of a statement we can use the `as |something|`. In the example below, I use the [each](https://handlebarsjs.com/guide/builtin-helpers.html#each) keyword to define a loop, its iterator variable is defined with `as | ... |` . Closing

[2021-04-22 18:40] flowchartsman commented on #59
Heavy Go user here, would love to see some of these before taking the plunge.

[2021-04-27 11:00] bebraw commented on #78
I can see three ways to solve this one:

1. Define a ligature for `|}}` (doesn't feel right)
2. Push `|}` within a stylistic set so it can be optionally enabled
3. Drop the `|}` ligature (what's the use case for this?)

[2021-04-27 16:57] duien commented on #69
In case it's helpful, all of those ligatures appear the same to me in Doom Emacs as they do in TextEdit, so looking at the ligature configuration there may provide some clues. A few of them do have either very subtle or no ligatures, but they're consistent between Emacs and other text rendering.

<img width="423" alt="Screen Shot 2021-04-27 at 9 54 57 AM" src="https://user-images.githubusercontent

[2021-04-30 09:00] bebraw commented on #73
It wouldn't be possible for us to include nerd-fonts to the typeface due to licensing reasons. We cannot support the use case officially but at the same time we cannot prohibit you from patching the font. 😄

[2021-04-30 09:00] #73 closed

[2021-04-30 09:02] bebraw commented on #74
There's no standard for leading and it wouldn't make sense to change this in MonoLisa itself and it's a feature of the typeface. That said, it might be possible for you to change this in the editor itself. Consider adjusting the line height to a lower value (less than 100%).

[2021-04-30 09:02] #74 closed

[2021-04-30 09:10] bebraw commented on #78
We discussed this and we'll make sure that we use the same form for all the brackets and also align them even when ligatures are used so combinations like `|}}` look visually better.

[2021-04-30 09:23] cmconnelly commented on #69
GNU Emacs on the Mac doesn't use Harfbuzz either (seems to use macOS font rendering engine; 2021-04-29 build from master branch; macOS 11.3/Big Sur).

After adding the  "missing" ligatures to the elisp code that specifies the ligatures, I'm seeing some of them working, but others are still missing.  Specifically, with MonoLisa 1.700,
[code]
don't work (these glyphs are not in the fonts, so you wou

[2021-05-04 09:52] bebraw opened #79 "Alternate @"
I just would put on the „personal taste“ plate.

This might be something for a stylistic set if there's enough interest. 😄

[2021-05-06 07:52] bebraw commented on #76
@calebeaires Can you confirm that you are using the OTF version of the font? That's the optimal version for MacOS. TTF is something for Windows only and using that leads on MacOS to subpar rendering as far as I understand.

[2021-05-06 08:24] mWaltari opened #80 ""Thousand separator on Windows fixed width True Type Font" - issue"
Default float Format : "12 345 678,99"
DateSeparator        : "."
DecimalSeparator     : ","
ThousandSeparator    : " "

![2021-05-06_11h17_01](https://user-images.githubusercontent.com/4082975/117266044-831f7300-ae5d-11eb-923e-499d4858f104.png)

Tested with two unrelated editor in which I use MonoLisa in.

[2021-05-06 13:45] okonet commented on #80
We would need steps to reproduce this in order to investigate. What editors and what part of the editor are you referring to?

[2021-05-06 16:17] mWaltari commented on #80
Delphi IDE and https://texteditor.pro/

Interestingly enough Notepad with MonoLisa works OK. Hmmm... Have to also report this tpo TestEditorPRo programmer. Have no other text editor available with now.,

[2021-05-06 16:31] okonet commented on #80
We have tested in WebStorm on windows without any issues. Maybe try it too just to confirm?

[2021-05-07 03:47] mWaltari commented on #80
I tested this with few older versions of MonoLisa, and it did not help. I am pretty sure that I saw those working on TextEditorPro earlier.

So this most likely is not MonoLisa problem after all. I'll get back to this later when I've got more info.

[2021-05-07 04:38] mWaltari commented on #80
Not and thousand separator after all, sorry 'bout that.

It seems to be "NO-BREAK SPACE"
https://www.fileformat.info/info/unicode/char/00a0/index.htm

And Seems that MonoLisa has no "character" for that and some editors Circumvent that. Is that standard behavioir or coudl you add the NO-BREAK SPACE in it.

What you suggest if I report that for the software developers. Also if I am correct that the

[2021-05-07 06:31] okonet commented on #80
Yes, let us take a look. We'll definitively would add it to MonoLisa. Sounds to me like a bug.

[2021-05-07 06:31] okonet commented on #80
@MarcusSterz could you please check it out?

[2021-05-07 07:11] MarcusSterz commented on #80
Yup, will do!

[2021-05-07 09:15] MarcusSterz commented on #80
Not sure what the problem is here. All needed glyphs are within MonoLisa. There are no special glyphs for that purpose that would be missing. More info here:

https://en.wikipedia.org/wiki/Decimal_separator#Unicode_characters

Unicode characters

Used with Western Arabic numerals (0123456789):

    U+0020   SPACE (HTML &#32;)
    U+0027 ' APOSTROPHE (HTML &#39; · &apos;)
    U+002C , COMMA (HTML &

[2021-05-07 09:16] MarcusSterz commented on #80
We could add the last one but I am not sure that is what you are looking for.

[2021-05-07 09:33] okonet commented on #80
I understand the problem is that we’re missing `NO-BREAK SPACE' (U+00A0)`. Could it be the case? I think I actually experienced it myself recently but dismissed by replacing those spaces with normal spaces.

[2021-05-10 08:43] MarcusSterz commented on #80
OK, i ll add it - no problem.

[2021-05-13 08:30] Staubgeborener opened #81 "correct fonts.conf for MonoLisa (spacing 100) for kitty terminal - only italic fonts"
I would like to use the MonoLisa Font with the Kitty Terminal. (Debian 10.2.1).  I can only use some Italic-Font-Versions, but not the bold or regular version. The Kitty FAQ has an interesting post here:

[code]

Some MonoLisa fonts are missing, i.e. `MonoLisa-Bold` and `MonoLisa-Regular`. So i created a new `~/.config/fontconfig/fonts.conf`:
[code]

also tried this:

[code]

after refreshing ever

[2021-05-13 17:44] Staubgeborener commented on #81
Ok, my `fonts.conf` example was correct. I had to do `sudo fc-cache -fr` (so i missed `sudo`). There was no error message without `sudo`, so I couldn't figure it out.

[2021-05-13 17:44] #81 closed

[2021-05-17 10:47] florianbuerger commented on #49
Just to chime in here, I would love to see a version without ligatures as well if this is still considered 😊

I prefer having ligatures enabled in my main editor(s) and in Terminal but they make code reviews a bit harder. So I would love to be able to select a non ligature version various diff tools (and they usually don't provide the level of customization to select a specific font feature). I do

[2021-05-17 11:04] okonet commented on #49
@florianbuerger currently, we don't enable ligatures besides the one that improve the legibility (`calt`) by default.

So, by default, you should only see those "whitespace" ligatures enabled:

<img width="990" alt="CleanShot 2021-05-17 at 13 04 17@2x" src="https://user-images.githubusercontent.com/11071/118478625-66fabc00-b710-11eb-8b63-9d58e9ff040f.png">

Can you confirm that this isn't the case

[2021-05-17 11:10] okonet commented on #49
That being said, I think we should evaluate this option @bebraw

[2021-05-17 11:53] florianbuerger commented on #49
Interesting. I am using [Tower](https://www.git-tower.com/mac) mostly, all ligatures seem to render (same as Terminal, Xcode, TextMate and all other applications that use native macOS text rendering)

![ScreenShot 2021-05-17 at 13 50 50](https://user-images.githubusercontent.com/119219/118483999-0458ee80-b717-11eb-94bd-6dc28c772b19.png)

I have the open type version 1.7 installed on macOS 11.3.1

[2021-05-17 12:02] bebraw commented on #49
@florianbuerger It's possible Tower uses the `liga` set by default as that would explain what you are seeing. Unfortunately many developer tools have poor support for special font features like stylistic sets.

It may be possible for us to change font generation workflow so that there would be a ligature free version available as well. That would sort of bypass the issue and I suppose in this case

[2021-05-17 16:38] nashpatty commented on #42
Also having a similar issue in PHPStorm 2021.1.2. But in my case, MonoLisa isn't showing up in the fonts list at all.
Works great in VSCode and windows terminal etc.

[2021-05-18 02:16] dinhquochan commented on #42
@nashpatty  what's your OS? In below screenshot, in Manjaro with PhpStorm 2021.1.2, It's showing properly. Let's try download newest version, remove/uninstall old fonts and re-install.

![image](https://user-images.githubusercontent.com/9979458/118579953-302cb080-b7b9-11eb-99d6-b97268af3ff0.png)

[2021-05-18 03:03] nashpatty commented on #42
I'm on windows. I installed the OTF version before. I uninstalled and reinstalled TTF, and it shows up again.
Is there a discrepancy for windows/OTF? It was working in everything but PhpStorm.

[2021-05-18 22:32] Cons-Cat commented on #69
It's for C / C++.

[2021-05-19 04:25] dinhquochan commented on #42
@nashpatty @bebraw Just Install OTF version on JetBrains Raider (Windows 10), Do both restart editor and os, but doesn't see MonoLisa on fonts panel. But I remove OTF version and install TTF version, It's worked!

![image](https://user-images.githubusercontent.com/9979458/118756305-d3062d00-b894-11eb-9587-ee12cac48138.png)

[2021-05-20 16:27] maciejszymanski opened #82 "Unwanted characters in JetBrains Rider tooltips"
Hi,
I've started using Monolisa as my default programming font in Rider. I love it but have a small issue with rendering some "x-boxes" inside tooltips.
![image](https://user-images.githubusercontent.com/2227118/119014283-1b5a4380-b998-11eb-8bc2-16343ecdc56e.png)

Font version: 1.700

Rider version:
![image](https://user-images.githubusercontent.com/2227118/119014796-9d4a6c80-b998-11eb-9883-1d9db5

[2021-05-21 22:32] jaredramirez commented on #73
Some terminals use a fallback system if you don't have a Nerd font. Rather than patching you can:
1. Download just the Nerd symbols [here](https://github.com/ryanoasis/nerd-fonts/blob/master/src/glyphs/Symbols-2048-em%20Nerd%20Font%20Complete.ttf)
2. Set` MonoLisa` as your default font on your terminal emulator
3. Set `Symbols Nerd Font` as the fallback font

When the terminal renders it will try

[2021-05-21 23:37] chmanie commented on #73
I actually accomplished the patch in the end. The trick is to use the `--mono` option when [patching](https://github.com/ryanoasis/nerd-fonts#option-8-patch-your-own-font)

[2021-05-22 10:46] okonet commented on #82
This is related to non breaking space missing #80

[2021-05-22 12:31] MarcusSterz commented on #82
These boxes stand for glyphs that are not within ML’s glyphs range.
I would have to know what has been typed.

[2021-05-22 12:43] okonet commented on #82
Judging by the image, it’s non breaking space @MarcusSterz

[2021-05-22 14:46] MarcusSterz commented on #82
It will be in the upcoming release.

[2021-05-25 17:58] adschem opened #83 "= looks like it is not in the middle in vs code?"
Using vs code on Linux (Arch) the = symbol is appearing lower than usual for MonoLisa looks very strange see attached:
![image](https://user-images.githubusercontent.com/14344249/119545780-1972f480-bd8b-11eb-8143-e4955708ca89.png)

The font works very nicely in Pycharm
![image](https://user-images.githubusercontent.com/14344249/119545891-34ddff80-bd8b-11eb-937e-614132931a20.png)

Please help?

[2021-05-26 04:15] bebraw commented on #83
What's your display resolution and font size? Is the behavior the same if you go one font size higher/lower? Are you using OTF?

[2021-05-26 10:41] Eldair commented on #68
Hello,

@bebraw
I think `|=` should be removed when preceded by `|` (there is `||=` assignment in JS which looks bad with aforementioned ligature).

[2021-05-26 10:44] bebraw commented on #68
@Eldair Can you open a separate issue with a couple of screenshots? Thanks!

[2021-05-26 10:49] Eldair opened #84 "Disable |= ligature when preceded by |"
In most recent update `|=` was added but it looks bad when preceded by `|` - which is an assignment operator in javascript `||=`
![image](https://user-images.githubusercontent.com/470003/119647604-c186cd00-be20-11eb-8f42-3aa681ec6f4a.png)

[2021-05-26 10:55] okonet commented on #84
That's a good catch. @bebraw I think we should build a better test suite to catch such regressions in the future. @MarcusSterz can we make the ligature appear only if _it is not preceded_ by `|`?

[2021-05-26 11:56] bebraw commented on #84
Instead of disabling, another option would be to define a ligature for `||=` if disabling based on a rule isn't possible.

We weren't aware of the combination earlier so we missed it.

[2021-05-26 19:02] adschem commented on #83
Display is 1920 x 1080
Font size in image is 12, have also tried 11 and 13 with same results

I installed tff font, is it best to use OTF?

On Wed, 26 May 2021 at 05:16, Juho Vepsäläinen ***@***.***>
wrote:

[2021-05-26 19:07] bebraw commented on #83
I believe OTF may be worth a go. TTF is there primarily for Windows users.

[2021-05-26 19:18] adschem commented on #83
I have tried the OTF font:
[image: image.png]

my settings in VS code are like this :) thanks for the help,
best
Adam

{
"editor.fontFamily": "MonoLisa",
"editor.lineHeight": 0,
"editor.fontLigatures": "'case' on",
"editor.fontSize": 13
}

On Wed, 26 May 2021 at 20:07, Juho Vepsäläinen ***@***.***>
wrote:

[2021-05-26 19:20] bebraw commented on #83
@adschem I cannot see your image. Most likely you have to upload it through GitHub UI.

[2021-05-27 01:49] dinhquochan commented on #83
Here @bebraw 13px on VS Code (ubuntu 20.04)

![image](https://user-images.githubusercontent.com/9979458/119752894-fc900b80-bec7-11eb-8d46-9fd895da1849.png)

16px:

![image](https://user-images.githubusercontent.com/9979458/119752975-2ba67d00-bec8-11eb-9836-909adf4ab743.png)

Iosevka as 16px

![image](https://user-images.githubusercontent.com/9979458/119753082-5b558500-bec8-11eb-8fa4-c64f6d1d22bd.p

[2021-05-27 07:57] adschem commented on #83
![image](https://user-images.githubusercontent.com/14344249/119787723-6957d580-bec9-11eb-9fce-d8856e988d15.png)
with the settings:
{

    "editor.fontFamily": "MonoLisa",
    "editor.lineHeight": 0,
    "editor.fontLigatures": "'case' on",
    "editor.fontSize": 13,
    "editor.renderLineHighlight": "gutter"

}

[2021-05-28 09:33] bebraw commented on #83
@adschem Can you use https://www.monolisa.dev/playground and paste screenshots generated with different fonts and `1 + 1 = 12` for comparison?

[2021-05-28 09:38] bebraw commented on #84
We discussed this, we should add ligatures for both `||` and `||=`.

[2021-05-28 10:20] adschem commented on #83
![image](https://user-images.githubusercontent.com/14344249/119969632-b3fb4f80-bfa6-11eb-8319-e70e6e26e70e.png)

[2021-05-28 10:22] bebraw commented on #83
@adschem Can you paste render from Fira Code or the others as well to compare?

[2021-05-28 10:25] adschem commented on #83
![image](https://user-images.githubusercontent.com/14344249/119970087-3ab02c80-bfa7-11eb-8350-79b64d6931fb.png)
![image](https://user-images.githubusercontent.com/14344249/119970101-3dab1d00-bfa7-11eb-9495-7ea9fe69e431.png)
![image](https://user-images.githubusercontent.com/14344249/119970116-40a60d80-bfa7-11eb-968d-09f26130a145.png)

[2021-05-28 10:25] adschem commented on #83
hope that helps :)

[2021-05-28 10:43] okonet commented on #83
It looks correct to me in the first screenshot: https://github.com/MonoLisaFont/feedback/issues/83#issuecomment-850316177

[2021-05-28 10:50] adschem commented on #83
Yes that is from the playground where it looks different to the screen shot that is from VScode @okonet

in
https://github.com/MonoLisaFont/feedback/issues/83#issue-901163871

[2021-06-01 08:59] sgigou opened #85 "Larger ≤ and ≥ ligatures to match == and != spacing"
`>=` and `<=` ligatures looks rather small compared to other 2-chars comparison operators. The spacing between the ligatured operator and the vars around is wider than other spaces in code. In a dense block of code, it creates holes that break the flow.

Is it possible to stretch the icon to have the same spacing between operators and vars?

Case:
<img width="104" alt="Capture d’écran 2021-06-01

[2021-06-01 15:15] bebraw commented on #85
Do you have any other ligatures in mind that could benefit from a bit of stretching like this?

[2021-06-02 12:45] sgigou commented on #85
All the other ligatures are well balanced! Maybe `|=` is in the same situation, but I do not use this ligature, so I don’t know if it is annoying or not…

[2021-06-03 18:28] bebraw opened #86 "Support ColdFusion comments"
Code:

[code]

How it looks now:

![image001](https://user-images.githubusercontent.com/166921/120694236-9fd9b580-c4b2-11eb-8c8f-5a99100b6b7c.png)

[2021-06-20 17:26] vikky49 opened #87 "Create a separate build for Alternate / Stylistic set"
Is it possible to create a separate build variants for the stylistic sets . For example we still can't use the alternative variants in the most popular IDE like IDEA / Intelli J

[2021-06-21 05:30] okonet commented on #87
What alternative variants are you referring to? I’d suggest to poke JetBrains and ask for the better support of open type features instead. They have it in a tracker and afaik are already working on it.

[2021-06-22 20:01] joshmosh commented on #85
I'd also like to add a +1 to this enhancement as well. I recently switched to MonoLisa after using FIreCode for a long time. I think the greater/less than or equal to ligatures could use some more spacing.

[2021-06-25 09:01] okonet commented on #85
We agreed to update the ligatures for `<=` and `>=` to take 2 spaces and match the width of `==` ligature.

[2021-06-25 09:04] okonet commented on #86
We agreed to add 2 new ligatures to accommodate this use case.

[2021-06-25 17:11] joshmosh commented on #85
@okonet Thank you!

[2021-06-25 18:46] aquarhead opened #88 "Best practice to use as webfont?"
I'm curious if for example you have a CDN already so I can just link to it directly within my website? Or do you expect everyone to basically host their own copy?

I'm also curious if I would violate your license by hosting it, and for example someone else download it and just use it without a license?

I'd appreciate any tips or help for setting up webfont, for example I'd like to use it in my ab

[2021-06-26 20:07] bebraw commented on #88
CDN is something we're considering implementing. How would you expect to consume it? I think we can make it so that you can select the features Google Fonts style for example.

As there's no CDN yet, I've seen people simply host the font on their site.

I might have an option for you, though. We use these resources internally:

* https://www.monolisa.dev/api/fonts/initial
* https://www.monolisa.de

[2021-06-26 22:13] aquarhead commented on #88
The `initial` link works great!

I do also use Google Fonts, providing a simliiar API sounds like an excellent idea :)

Feel free to close this issue, but consider adding a section in FAQ?

[2021-06-28 08:27] bebraw commented on #87
👍 for encouraging JetBrains to add better support for toggling OpenType features.

Doing a font build per each individual feature and their combinations would bloat the font zip a lot so I don't see that as a viable option.

I know there's tooling like https://fonttools.readthedocs.io/en/latest/subset/ for subsetting. To solve the problem at user space, you would have to find a tool similar to thi

[2021-06-28 08:30] bebraw commented on #84
This has been fixed in 1.800.

[2021-06-28 08:30] #84 closed

[2021-06-28 08:31] bebraw commented on #79
This has been done in 1.800. It's behind `ss06` alternate.

[2021-06-28 08:31] #79 closed

[2021-06-28 08:32] bebraw commented on #82
This has been fixed in 1.800. Please report if you can still see it after upgrading (the same download link will work).

[2021-06-28 08:34] bebraw commented on #77
This has been done in 1.800. It's behind `ss02` stylistic set.

[2021-06-28 08:34] #77 closed

[2021-06-28 08:38] bebraw commented on #66
Let's close as this has been done.

[2021-06-28 08:38] #66 closed

[2021-06-28 08:55] bebraw commented on #72
This has been solved in 1.800. You can use the same download link to access it.

[2021-06-28 08:55] #72 closed

[2021-06-28 10:09] Eldair opened #89 "1.800 version weight issue"
Hello,

This is how 1.800 looks like in vscode:
![image](https://user-images.githubusercontent.com/470003/123619495-8570ce80-d809-11eb-9237-77399a1ec245.png)

Unfortunately I didn't keep the previous version but there is some issue with this one.

[2021-06-28 10:10] u01jmg3 opened #90 "Using MonoLisa in a Windows command prompt"
OS: Windows 10 Home (21H1) Build 19043.1055

---

Hello,

I would like to use the MonoLisa font in my Windows command prompt. However, there are several requirements before Windows will provide the font as one to choose.

See here: https://superuser.com/questions/1347724/how-can-i-add-additional-fonts-to-the-windows-console#answer-1381619

- How many of these requirements does MonoLisa pass?
- Is

[2021-06-28 10:14] Eldair commented on #89
It can be seen here as well. Italic version looks like it has the same weight like the previous version but regular (and bold) are much thinner.
![image](https://user-images.githubusercontent.com/470003/123620330-645cad80-d80a-11eb-9048-fd38d46c2553.png)

[2021-06-28 10:17] Eldair commented on #89
OTF files look ok.

otf left vs ttf right
![image](https://user-images.githubusercontent.com/470003/123620675-c74e4480-d80a-11eb-9b15-5a5716bee8d5.png)

[2021-06-28 10:25] mWaltari commented on #80
Tested, works in Delphi and Text Editor Pro without any problems

[2021-06-28 10:28] mWaltari commented on #89
For me also text seems to be way too thin, at least Windows fixed width TTF font.

![image](https://user-images.githubusercontent.com/4082975/123622177-9d9a1b00-d814-11eb-8f3d-956729e443e1.png)

![image](https://user-images.githubusercontent.com/4082975/123622238-ae4a9100-d814-11eb-9596-a7c65a5c76c8.png)

-Tee-

[2021-06-28 10:57] okonet commented on #71
@MarcusSterz i think we should have the default behavior swapped too.

[2021-06-28 10:58] okonet commented on #10
I’d close this issue since it’s not a goal IMO.

[2021-06-28 11:00] bebraw commented on #10
Ok, let's close.

If anyone has ligatures in mind to add, please open separate issues with the combinations and a reason for inclusion.

[2021-06-28 11:00] #10 closed

[2021-06-28 11:03] MarcusSterz commented on #71
Not sure what you mean – can you elaborate

[2021-06-28 11:05] okonet commented on #71
I mean that brackets etc should be aligned like in JetBrains Mono by default

[2021-06-28 11:13] MarcusSterz commented on #71
They are already aligned to the upper case letters as we agreed. Still not sure what you mean.

[2021-06-28 11:24] MarcusSterz commented on #83
The = [equal sign] is centered in all styles as you can see when you type H=H. Different white space occurs naturally since the figures have different side bearings but all have the same width.

[2021-06-28 11:24] #83 closed

[2021-06-28 13:00] carlomunguia commented on #89
I was just about to file a comment (thanks to everyone above) - this is an obvious Thin version of a font, not a Regular version, the fidelity dropped by 30% on my IDE. Please rectify & resubmit correction ◀️

[2021-06-28 13:00] MarcusSterz commented on #89
Interesting. We will have a look into that.

[2021-06-28 14:10] YoEight commented on #89
I don't want to sound pushy but when could we expect a fixed version?

Thanks for your time and work.

[2021-06-28 14:10] bebraw commented on #89
@YoEight We're currently working on it.

[2021-06-28 14:57] bebraw commented on #89
Fixed in 1.801. You can use the same download link to get the new version.

[2021-06-28 14:57] #89 closed

[2021-06-28 16:26] Eldair opened #91 "1.801 !== ligature issue"
Hello,

!== ligature 'broke' with the latest version (1.800 and 1.801). In previous version all three dashes were spaced evenly (same as === ligature).

This is how it looks at 14px size on 1440p screen (27") - vscode on windows.
![image](https://user-images.githubusercontent.com/470003/123671096-32653e80-d83e-11eb-8eb4-9f257c4993c9.png)

[2021-06-28 18:19] bebraw commented on #87
I found this: https://stackoverflow.com/a/14102908/228885 . It looks like [afdko](https://github.com/adobe-type-tools/afdko/) can replace glyphs so maybe that's the way to do this.

[2021-06-28 18:52] vikky49 commented on #87
Actually I used this tool

https://github.com/twardoch/fonttools-opentype-feature-freezer

and then u can modify the font with your favorite alternatives like this

❯ pyftfeatfreeze -n -v -f 'ZERO,ss01,ss04,ss06' <source-font.otf> <output-font.otf>

[2021-06-28 18:52] #87 closed

[2021-06-28 20:28] maciejszymanski commented on #82
I've just upgraded to 1.801 and it seems the problem with Rider still exists.

![image](https://user-images.githubusercontent.com/2227118/123699475-9ea46a00-d85f-11eb-9d36-9fced52686a4.png)

[2021-06-28 20:40] bebraw commented on #82
@maciejszymanski Can you ask JetBrains about what character they use in Rider for that particular purpose? We added a character but it seems like we missed exactly the one they are using. I imagine they must have an issue tracker somewhere as well.

[2021-06-28 20:40] #80 closed

[2021-06-28 20:41] bebraw commented on #76
Let's close as there was no response. Please re-open if you can still see the issue with OTF on M1.

[2021-06-28 20:41] #76 closed

[2021-06-29 07:16] okonet commented on #71
They are not:

![CleanShot 2021-06-29 at 09 15 51@2x](https://user-images.githubusercontent.com/11071/123754016-b826cf80-d8ba-11eb-9ad7-b496a5f3d7e2.png)

[2021-06-29 09:28] #71 closed

[2021-06-29 12:45] bebraw commented on #78
Ok, done (building atm). Closing.

[2021-06-29 12:45] #78 closed

[2021-06-29 12:55] #88 closed

[2021-06-29 17:59] dinhquochan commented on #82
@bebraw  I doesn't see anymore? It's fixed.

<img width="677" alt="image" src="https://user-images.githubusercontent.com/9979458/123845502-76d80380-d93e-11eb-8902-d55587423f04.png">

[2021-06-29 18:34] bebraw commented on #82
@maciejszymanski Can you confirm? Could it have been a font cache issue on your system?

[2021-06-29 19:04] bebraw commented on #90
It would be great if anyone using Windows could comment on this one.

On a quick look, the requirements seem fairly strict and we won't change the font to fit them. That said, if it works there already then it's something good to document.

[2021-06-29 19:16] maciejszymanski commented on #82
@bebraw Still no luck on my side.
What I tried: uninstall/reinstall font via windows fonts settings window, remove fonts from Windows/Fonts folder then reinstall, disable font cache service then clear font cache folder and reinstall.

When using bold variant the issue does not exist:
![image](https://user-images.githubusercontent.com/2227118/123853399-b3dfce00-d91d-11eb-98c4-7f13a58064af.png)

Reg

[2021-06-29 19:18] okonet commented on #90
@bebraw maybe we could provide a sample font file to test?

[2021-06-29 19:20] bebraw commented on #82
That's a good clue, thanks. Based on what you just said, there might be some subtle difference between the font builds on our side. That's something to fix.

[2021-06-29 19:21] bebraw commented on #90
@u01jmg3 Can you send mail to info@monolisa.dev? I will respond with a light version to test against.

[2021-06-29 20:28] u01jmg3 commented on #90
I can already confirm that MonoLisa isn't compatible but I've no idea which rules MonoLisa passes/fails. I was hoping you could tell me and that it passed most of them!

The only guide I have as to why this might be relates to using PuTTY which is capable of determining what it calls fonts that are variable-pitch and those which are not for use in a remote terminal. The reason this is useful is it

[2021-06-30 07:49] MarcusSterz commented on #86
Added. Will be available in 1.802.

[2021-06-30 07:49] MarcusSterz commented on #85
Added. Will be available in 1.802.

[2021-06-30 08:33] bebraw commented on #90
@u01jmg3 Ok, thanks for the info. I think our font designer can comment on the specific criteria. I've listed them before so when he has time he can comment on each.

1. The font must be a fixed-pitch font.
2. The font cannot be an italic font.
3. If it is a TrueType font, it must be FF_MODERN.
4. If it is not a TrueType font, it must contain the OEM_CHARSET.
5. The font cannot have a negative A o

[2021-07-09 12:33] maciejszymanski commented on #82
Hi @bebraw,
Small update, after installing a newer version of Rider IDE (2021.1.3) the problem does not occur anymore. Out of curiosity, I rolled back to 2021.1.2 and the problem came back. So it seems it is related to the Rider version. Anyway, in the latest version, the font is working fine so I'm closing the issue. Thanks!

[2021-07-09 12:33] #82 closed

[2021-07-09 20:09] jjpiv-xerox opened #92 "More symbol support, please 🙏"
I just switched from Meslo LGS NF to MonoLisa and it would be excellent if there were parity with the symbols. For example, the Apple and folder symbols in the attached image.

![Screen Shot 2021-07-09 at 14 05 46](https://user-images.githubusercontent.com/76796019/125130763-c5b03680-e0be-11eb-999b-acea2fe92060.png)

[2021-07-09 20:34] jjpiv commented on #57
Very much want

[2021-07-09 20:37] jjpiv-xerox commented on #92
Closed because I found [https://github.com/MonoLisaFont/feedback/issues/57](Issue 57) addresses this enhancement request.

[2021-07-11 10:31] okonet commented on #92
I’m not sure: are we missing some glyphs in the font?

[2021-07-12 19:19] jjpiv-xerox commented on #92
Yeah, if Meslo LGS NF is selected in iTerm while using [Powerlevel10k](https://github.com/romkatv/powerlevel10k) the Apple logo and folder glyph are visible.
![Screen Shot 2021-07-12 at 13 15 20](https://user-images.githubusercontent.com/76796019/125343767-acec8e80-e313-11eb-9272-c98ffe72254f.png)
Whereas, if MonoLisa is chosen, the question mark boxes are shown.
![Screen Shot 2021-07-12 at 13 15

[2021-07-13 05:48] okonet commented on #92
@MarcusSterz can you please take a look?

[2021-07-13 06:47] MarcusSterz commented on #92
That’s not our notdef symbol so it seems the fallback font does not have the apple logo. Neither do we tbh. We will solve this with our next update.

[2021-07-13 06:51] jjpiv-xerox commented on #92
Excellent news, @MarcusSterz. Thanks to you and @okonet!

[2021-07-13 07:03] bebraw commented on #92
This is duplicate of #57 based on https://github.com/romkatv/powerlevel10k#fonts. To solve fully, Nerd Fonts compatibility would have to be achieved.

[2021-07-13 07:07] jjpiv-xerox commented on #92
@bebraw Is that likely to happen?

[2021-07-13 07:12] bebraw commented on #92
@jjpiv-xerox It's over 3000+ symbols to implement. Due to legal reasons, it's not clear if we can ship with a patched version out of the box. Adding all those would also bloat the size a lot (not good for web usage). For now, it's best to use their patching tool to apply the change. In #57 it's mentioned this should work.

[2021-07-13 07:15] jjpiv-xerox commented on #92
Thanks @bebraw 😊

[2021-07-13 18:07] jjpiv-xerox commented on #57
@lzybkr I can attest to the patching process being a pain as I've not found a way to get this working. The documentation seems fragmented and somewhat incoherent. Do you have any insight to share about how you were able to patch a font?

[2021-07-15 14:21] renkejr-pkwy commented on #90
Microsoft has added support for other fonts, including MonoLisa to the latest Command Prompt and Windows Terminal (1.9).  Windows Terminal may be required to enable the option in Command Prompt.

![image](https://user-images.githubusercontent.com/28737570/125803971-acfea99c-bf46-45e3-a954-5b824e12e4d0.png)

[2021-07-15 14:48] bebraw commented on #90
Ok, that's good news. Let's close this then as there's nothing to fix.

[2021-07-15 14:48] #90 closed

[2021-07-15 17:33] u01jmg3 commented on #90
@renkejr-pkwy: thanks for the tip! It looks like you need the Windows Insider Program Dev Channel build version of Windows as described [in this Windows blog post](https://devblogs.microsoft.com/commandline/windows-terminal-preview-1-9-release/) before it will work because I already have Windows Terminal 1.10 and I don't see MonoLisa listed as a font choice.

---

@bebraw: I guess this won't happe

[2021-07-15 17:36] bebraw commented on #90
@u01jmg3 I asked him personally and he told me it would be tricky to meet the criteria. Now that support is being added on Windows side, is there something specific to do?

[2021-07-15 17:39] u01jmg3 commented on #90
Nope - great that Windows is finally bringing more control over fonts / choice of terminal. As you said before, would be good to document. Appreciate your time.

[2021-07-15 17:53] renkejr-pkwy commented on #90
@u01jmg3 I am **not** running Windows Insider.  I just downloaded Window Terminal 1.9 and Windows Terminal Preview 1.10 from the github [release page](https://github.com/microsoft/terminal/releases).

[2021-07-15 18:59] u01jmg3 commented on #90
@renkejr-pkwy: any ideas why I wouldn't be seeing the same thing? What version of MonoLisa are you using? What build of Windows 10 are you using? I'm on 19043.1110.

---

On the left I have my cmd properties open and on the right is Windows Terminal **Preview** 1.10.1933.0. I also have Windows Terminal 1.9.1942.0 installed but no joy. Not sure how these could enhance cmd.exe

<img width="562" alt=

[2021-07-15 19:38] renkejr-pkwy commented on #90
@u01jmg3 MonoLisa 1.801 personal TTF on Windows 10 Pro 20H2 (19042.928).  I have the same Windows Terminal and Windows Terminal Preview versions.

[2021-07-15 22:13] u01jmg3 commented on #90
I just installed the Windows Feature Experience Pack 120.2212.3920.0 but again, MonoLisa does not show up as a font to choose.

I'm running Home rather than Pro so maybe that could be the difference.

[2021-07-17 12:16] aaronmbos commented on #49
Would love to see a ligature free version available for download as well. I use Visual Studio for most of my day to day development and there is unfortunately no option to disable ligatures.

[2021-07-18 07:55] okonet commented on #49
We exploring options how to make customization possible. Stay tuned.

[2021-07-19 09:06] MarcusSterz commented on #92
@bebraw @okonet So whats the conclusion? Shall we just implement the two bespoken symbols? If not what else?

[2021-07-19 09:28] bebraw commented on #92
@MarcusSterz Adding the two symbols wouldn't help as this is essentially about Nerd Fonts (#57) and there would be always more symbols missing (3000+ of them). I would close this issue as duplicate of that one.

[2021-07-20 12:38] MarcusSterz commented on #50
@bebraw Can you help me with this one? Not sure what the user means by ‘dots are displayed vertically in the middle’.
We already have a double period ligature. On a scale from 1-10 how important is it to change it to match ‘..=’?
Will this create a discrepancy somewhere else?

[2021-07-20 12:52] bebraw commented on #50
@MarcusSterz That's a great point. Would it make sense to have a stylistic set specifically for Rust where we would override `..` with the non-ligature one? In this case we would have to identify which ligatures make most sense to enable for Rust specifically but we would have to figure out the exact set somehow. I think #1 is related and @mitsuhiko is probably the right person to comment on Rust

[2021-07-20 13:11] MarcusSterz commented on #58
@bebraw @okonet Can you have a look? I have now created the listed ligs. Some combinations clearly can be `liga`, while most would be `calt`.
<img width="560" alt="Bildschirmfoto 2021-07-20 um 15 01 43" src="https://user-images.githubusercontent.com/51958720/126329910-10427077-424c-4b8d-9a4e-f72d897bc071.png">

[2021-07-20 15:25] okonet commented on #58
Since I don't really have an opinion on that topic, I'd suggest to ask @fredericrous instead.

[2021-07-22 16:50] dinhquochan commented on #42
Just update the issue, I install latest version (1.801), Windows Jetbrain Rider still ugly.

![image](https://user-images.githubusercontent.com/9979458/126677320-b26ed028-e67b-4559-a97d-b099b0435b12.png)

Below, Jetbrains Mono:

![image](https://user-images.githubusercontent.com/9979458/126677406-ef5fff65-2a89-48db-86db-ae6c9bfe4fb1.png)

[2021-07-22 17:28] dinhquochan commented on #42
I think it is a Windows issue, Windows programs prefer TTF over OTF. Especially the Java ones. It's a weird issue on HiDPI 🤦‍♂️
Below, just remove OTF version and install TFF version.

![image](https://user-images.githubusercontent.com/9979458/126682648-e9747049-df5c-4184-a2de-fda7e9f80625.png)

Ref [tonsky/FiraCode#693](https://github.com/tonsky/FiraCode/issues/693).

[2021-08-01 04:37] Plutonium-239 opened #93 "Doesn't work everywhere on Sublime Text"
Please provide browser and OS so it's easier for us to debug.
Opera GX, Windows 10 Home

## Issue
![image](https://user-images.githubusercontent.com/29684689/127759215-480baf72-bb83-4520-b80c-d3bebd9bc2b6.png)

For some reason, `MonoLisa` is not being used in sublime text's tooltips (and it's subsequently falling back to `Times New Roman`? idk but it's not even the default ST font(`Consolas`) )

#

[2021-08-03 08:12] bebraw commented on #93
Which version of Sublime Text are you using? Can you ask at their support forums as well to see if other users can confirm the issue?

[2021-08-05 16:43] tbremer opened #94 "Spotty ligature support with Hyper terminal"
Ligature support within [Hyper Terminal](https://github.com/vercel/hyper) seems limited in some capacity. Attached are two screen grabs the first is MonoLisa as you can see most ligatures do not work, however, `[|`, `{|`, and `#?`  appear as expected. The second screen grab is Fira Code, not a font I normally use, but I knew it had ligatures.

The application is Electron based, so I assume it uses

[2021-08-05 18:18] bebraw commented on #94
[|, {|, and #? are from the `calt` set. The not rendering ones are from `liga`.

Is there a way to enable specific font features in hyper? I would expect similar setup as in VS Code (explained at https://www.monolisa.dev/faq).

[2021-08-06 06:38] bebraw commented on #94
@tbremer Another question. Do ligatures work for you in VS Code and other environments?

[2021-08-06 18:00] tbremer commented on #94
VS Code handles ligatures fine.

As for specific features, that _might_ be possible in Hyper, but I could not find an immediate way to enable them. They offer the ability to pass CSS into the Terminal to affect it's rendering, so I chose this overly generic / brute force option to try and get the ligatures to render.
[code]

[2021-08-09 00:56] brettcannon opened #95 "Grammatical mistake in the license"
https://www.monolisa.dev/license has a missing comma: "Microsoft Word Adobe Photoshop".

[2021-08-10 20:48] #92 closed

[2021-09-03 19:17] dongheeleeme opened #96 "Vertical align issue on Powerline"
Hi team,

Hi! I'm using MonoLisa font on Terminal but as we can see the powerline fonts are not aligned in the status line. Can we fix this issue as an updated version?

Thank you!

<img width="657" alt="Screenshot 2021-09-03 at 21 12 20" src="https://user-images.githubusercontent.com/38916112/132056102-7a8a206e-2d35-46f0-a4a0-0155c1ffd4fa.png">

[2021-09-04 07:21] okonet commented on #96
@MarcusSterz i guess it might be the line height which is a bit bigger in ML. Could you take a look please?

[2021-09-04 14:38] dongheeleeme commented on #96
Thank you for the reply @okonet. I'm using default line height and I think It should be displayed correctly without changing any configurations.

[2021-09-04 18:04] dinhquochan commented on #96
![image](https://user-images.githubusercontent.com/9979458/132104157-6e821335-f3ce-4244-97dc-02ef3e8590cc.png)

[2021-09-07 09:22] MarcusSterz commented on #96
Had a look at it and it will be fixed with the next update

[2021-09-07 09:28] MarcusSterz commented on #96
@dinhquochan 🤔 Interesting that you see it differently. I can confirm that the block and the arrow element are slightly missaligned.

[2021-09-07 10:10] dongheeleeme commented on #96
Thank you @MarcusSterz 🙇‍♂️  Then, Can I know the next release date?

[2021-09-07 10:15] okonet commented on #96
We don’t have the release date yet but you will get an email if you have us a consent while purchasing. Otherwise follow us on Twitter please.

[2021-09-08 12:49] gsabater opened #97 "False accents and ligatures"
Looks like sometimes, grave accents `` ` ``, are represented as accented letters.
for example, the code for ``await this.$axios.post(`sites`, body)``
is printed as
![image](https://user-images.githubusercontent.com/4948172/132512124-301fc3e8-e406-4d50-a5b4-12d2f21bcbc9.png)

This happens on vscode with theme gruvbox material dark, but the theme has nothing to do with this
I have been looking other

[2021-09-08 13:54] bebraw commented on #97
#53 was an earlier issue like this.

Which version are you using? Can you provide OS/editor as well? Do you see the behavior at monolisa.dev site?

[2021-09-08 15:28] gsabater commented on #97
Hello @bebraw

* According to the file explorer, the font version is 1.7
* On your site I dont see the issue
* OS windows 10, editor VSCODE latest

[2021-09-08 15:40] bebraw commented on #97
@gsabater Let's keep this open.

The problem in the past was that we weren't able to reproduce it. Are you using otf or ttf? Can you see the behavior in the terminal and other editors too?

[2021-09-08 15:40] bebraw commented on #97
For reference, it's preferable to use ttf under Windows as it renders better than otf there.

[2021-09-08 16:02] gsabater commented on #97
I can confirm that i'm using ttf format of the monolisa regular v1.7
On sublime text i have the same issue

![image](https://user-images.githubusercontent.com/4948172/132544191-80d63606-3539-42c4-8173-932c990f9e2f.png)

[2021-09-08 16:04] gsabater commented on #97
On the console (at least cmder) i dont have this issue.
I have checked and changed all settings and everything works good
![image](https://user-images.githubusercontent.com/4948172/132544631-0936c4ea-425e-48c6-908c-fa94fe005613.png)

[2021-09-08 16:09] gsabater commented on #97
On the vscode terminal which I THINK uses the same vscode settings for font and theme colors, the characters work as expected as well. The terminal is powershell
![image](https://user-images.githubusercontent.com/4948172/132545361-832ff2a3-19aa-4a0c-a696-39bb98b75752.png)

[2021-09-08 16:14] gsabater commented on #97
I have rescued an old 1.6 version of the font and the problems are not there, maybe something was introduced in an update?

[2021-09-08 16:29] bebraw commented on #97
@gsabater Just out of curiosity, it might be worth trying VS Code and Sublime with the OTF version. If that works, then that restricts the issue to TTF only.

[2021-09-08 16:33] bebraw commented on #97
Yeah, sounds like a regression.

[2021-09-08 16:40] gsabater commented on #97
I'm sorry but i don't have access to those files

[2021-09-09 10:49] Eldair commented on #91
Hi, any news on this?

[2021-09-10 06:41] bebraw commented on #97
@gsabater Just to confirm, did you see the issue in 1.801 as well? Was that the first version where you encountered the problem? Just check as you were speaking about 1.6 and 1.7.

[2021-09-10 06:56] gsabater commented on #97
@bebraw  I have seen the problem on the 1.7 but not on the 1.6.
I only have those versions of the font

[2021-09-10 07:34] bebraw commented on #97
@gsabater You should be able to access 1.801 through your download link after purchase. Can you send your purchase id to info@monolisa.dev so I can resend the link?

[2021-09-10 08:42] bebraw commented on #93
Based on the screenshot, it seems like you don't have the italics version installed. Can you check your installation of MonoLisa? It's preferable to use TTF over OTF when using Windows.

Let me knows how it goes after this step.

[2021-09-10 09:07] okonet commented on #51
We decided not to pursue this one.

[2021-09-10 09:07] #51 closed

[2021-09-10 09:27] bebraw commented on #94
It looks like there's no way we can fix this at the font itself. We've split the ligatures to `calt` and `liga` groups on purpose as `calt` applies only spacing changes and `liga` can replace entire characters.

To enable ligatures in Hyper, some change would be needed on their side. Sadly there doesn't seem to be enough customizability available.

[2021-09-10 09:27] #94 closed

[2021-09-10 09:56] gsabater commented on #97
Hello @bebraw , I'm sorry but i don't have access to any download links as I haven't purchased the font. I just wanted to provide feedback.

[2021-09-10 10:10] bebraw commented on #97
No worries. Likely we should wait someone to test this against 1.801 then to see if the issue was fixed already. It's definitely interesting 1.6 works and 1.7 doesn't. Something must have changed in between.

[2021-09-10 10:12] gsabater commented on #97
Perfect, just @ me if you need me to do any test or help in any way

[2021-09-15 07:07] tommarien commented on #97
Just tested it on Win10 running latest vscode 1.60.1 and font version 1.801

![code](https://user-images.githubusercontent.com/1032545/133386902-e0251bd2-0a8a-42e7-8d7e-7711f48b2075.png)

[2021-09-15 07:09] bebraw commented on #97
@tommarien Ok, thanks for the info!

Let's close as `wontfix`.

[2021-09-15 07:09] #97 closed

[2021-09-15 09:14] okonet commented on #91
We are looking at it...

[2021-09-16 09:11] MarcusSterz commented on #91
This is a tricky one since !== is using === as a component. Not clear why this happens.

[2021-09-20 13:07] bebraw commented on #96
Fixed in 1.802.

[2021-09-20 13:07] bebraw commented on #58
Implemented in 1.802.

[2021-09-20 13:07] #58 closed

[2021-09-20 13:07] bebraw commented on #86
Implemented in 1.802.

[2021-09-20 13:07] #86 closed

[2021-09-20 13:08] bebraw commented on #85
Fixed in 1.802.

[2021-09-20 13:08] #85 closed

[2021-09-20 13:08] bebraw commented on #91
Fixed in 1.802.

[2021-09-20 13:08] #91 closed

[2021-09-20 13:13] bebraw commented on #42
Let's close as a solution was found. To solve, please use TTF on Windows.

[2021-09-20 13:13] #42 closed

[2021-09-20 13:14] bebraw commented on #93
I'm closing this due to inactivity.

If you get around to providing more information, let's re-open.

[2021-09-20 13:14] #93 closed

[2021-09-21 23:42] cmconnelly opened #98 "Feedback on Script Variant"
I voted via the link in the email announcing 1.802, but I was hoping there would be an option to say a bit more than yes or no, so I'm making one here.  :)

I don't use the script SS, but that's mostly because my editor-of-choice (GNU Emacs) doesn't support stylistic sets at this time.  Having looked at it in action in TextEdit, however, I like some of the chanacters, but some feel "too noisy" to

[2021-09-26 08:59] YoEight opened #99 "Powerline issue on Alacritty and other GPU-rendered terminals"
Greetings!

![Screenshot from 2021-09-26 10-47-30](https://user-images.githubusercontent.com/144545/134800944-fb6b56e5-6931-4147-8527-591987b64c80.png)

I got issues with those characters in particular: '◣', '◢'. This is not a regression, I had the issue before 1.8002. I specifically said GPU-rendered issue because I don't have that issue with gnome-terminal for example. Those characters are align

[2021-09-26 17:09] YoEight commented on #99
Turns out I got also this issue with KDE Konsole terminal.

[2021-10-10 05:05] tiagovla opened #100 "Vertical borders discontinuous"
### OS/Terminal/Editor
- Arch;
- Alacritty;
- Neovim.

### Problem
Vertical borders are discontinuous unlike other fonts.

![image](https://user-images.githubusercontent.com/30515389/136682774-4c01cdad-33ca-491b-bbdd-7d695d28d0d3.png)

#### Characters:
"─", "│", "─", "│", "╭", "╮", "╯", "╰".

[2021-10-11 07:45] bebraw commented on #100
Which OS and version of the font are you using?

[2021-10-11 10:30] bebraw commented on #100
One more question, are you using otf or ttf? I would recommend otf on Linux/MacOS.

[2021-10-12 23:30] tiagovla commented on #100
Arch Linux, v1.8.  Tested with alacritty, but the same happens with xterm.

otf

#### Firacode:
![image](https://user-images.githubusercontent.com/30515389/137042052-9b5455dc-3340-4dec-bc43-1aef5286a53c.png)

I ended up manually stretching the glyth ``u2502`` a little bit to solve it.

[2021-10-14 20:55] Christian-Martinez1 opened #101 "Unnecessarily Bold Font"
Does anyone else have the issue of the font being unnecessarily bold/blocky in VS Code?

VS Code Screenshot:
![Code_wcmmozWO3v](https://user-images.githubusercontent.com/43798323/137393612-fea30438-b906-45e1-bcd0-460383a31bff.png)

Screenshot from MonoLisa site:
![msedge_G0S86kcpGh](https://user-images.githubusercontent.com/43798323/137393692-aeca533a-94ee-467f-a066-60186dea4ff2.png)

Ignoring the

[2021-10-15 03:40] aaronmbos opened #102 "Italic Lowercase 'o' and 'a' Look Similar"
OS: MacOS
Font Version: 1.802
Editor: VS Code
Font Size: 14px

I noticed that the lowercase italic `o` and `a` characters look similar when placed side by side. Wondering if it would be possible to add a "tail" on the lowercase `a` or some other way to make it more distinct when next to the italic `o`.

![Screen Shot 2021-10-14 at 10 39 49 PM](https://user-images.githubusercontent.com/24758740/137

[2021-10-16 07:22] bebraw commented on #102
For reference, can you paste a couple of screenshots with different fonts on your system with the same font size? That might give some idea on how to solve this one. Thanks!

[2021-10-16 13:56] aaronmbos commented on #102
Some fonts use a slanted version of the regular `a` for italic. I really like the way Operator Mono differentiates the `a` and `o` with a "tail" at the bottom.

![Screen Shot 2021-10-16 at 8 48 46 AM](https://user-images.githubusercontent.com/24758740/137590058-409f0e46-43bc-4bac-8c52-f782051c1741.png)
![Screen Shot 2021-10-16 at 8 50 02 AM](https://user-images.githubusercontent.com/24758740/13759

[2021-10-31 04:53] mittalyashu opened #103 "pricing: non-commercial use with all font weights"
Can you add a new plan non-commercial (usage) with all font-weights?

[2021-10-31 07:08] okonet commented on #103
It's a Professional bundle still.

[2021-10-31 18:25] mittalyashu commented on #103
"Commercial use" in professional plan increase the price a lot.

That's why I was looking for pricing plan with all options included in professional plan except for "commercial use".

[2021-10-31 20:14] okonet commented on #103
It's actually the other way around. In order to make the type as affordable as possible we add restrictions to cheaper bundles.

[2021-11-02 04:26] mittalyashu commented on #103
I understand that, I was just looking for all the features included in professional plan, with only personal use.

For example:  If the professional costs $330^ and commercial usage costs $200^. Then I can get the professional plan (only for personal use) for $130^

^ approx. converted to USD from my local currency as shown on monolisa website

[2021-11-02 10:47] tnaseem commented on #103
Unless I'm missing something, isn't the Plus plan the one you want (ie. it's the same as Professional but without the commercial usage?

![image](https://user-images.githubusercontent.com/1317345/139832536-276f142b-846f-472a-b7b6-3d70cbfe0b0c.png)

[2021-11-02 11:00] mittalyashu commented on #103
@tnaseem It's missing 6 font weights (include 3 italics version) which is not included in "Plus" plan.

[2021-11-02 11:14] tnaseem commented on #103
Ah yeah. I misread the first two lines. Thanks for the heads up! :)

[2021-11-04 07:26] jjpiv commented on #57
@tiagovla Thank you so much for the help! I don't know why it was so difficult the last time I attempted to do this, but your explanation made all the difference.

[2021-11-08 01:15] emigdio821 opened #104 "More powerline arrows"
Hi, I recently purchased the font (plus variant). Is there any chance to add these arrows or similar ones?
Thanks in advance.

![image](https://user-images.githubusercontent.com/6751108/140669960-a69c6aa6-3bc4-4b8d-a9fb-68e084616ac9.png)

[2021-11-08 07:14] okonet commented on #104
Thanks for your feedback! We will look into it. I don't see a reason why we shouldn't add those but I'll let @MarcusSterz investigate first.

[2021-11-08 08:37] MarcusSterz commented on #104
Sure, no prob!

[2021-11-08 12:52] fabiochelly opened #105 "Expose older versions of your characters as stylistic variants"
Hi,

Personally (and my whole team agrees with me), I really prefered the original glyphs for ≤ and ≥.
The new ones are stretched to the point that they became ugly and almost unreadable.

I understand that it can be a matter of taste. So is it possible to add old glyphs as stylistic variants so no update could become a regression?

Thanks,
Fabio Chelly

[2021-11-09 21:32] emigdio821 commented on #105
I second this.

[2021-11-11 22:08] fabiochelly commented on #105
As a workaround, is it possible to download the previous version (1.801) without the "stretched" characters? I bought the pro package but I can only download the latest one.

[2021-11-12 06:47] okonet commented on #105
We're looking into your suggestions. Meanwhile I'll try to provide links to all versions of the font so you can download the one you want. Sorry for the inconvenience.

[2021-11-14 17:14] rphii opened #106 "Ligature #("
The ligature `#(` is broken (as in the parenthesis disappears) in vscode and looks as follows:
![image](https://user-images.githubusercontent.com/46871963/141690995-7a7303c1-8010-4e27-b578-fd034ad999a0.png)
(I typed `#()` and left my cursor in the middle to let vscode indicate there is indeed a parenthesis after the `#`)
When checking out the specimen it does not look like that.

I'm using version

[2021-11-14 17:31] okonet commented on #106
@MarcusSterz could you please check this out?

[2021-11-17 10:38] MarcusSterz commented on #106
Looking into it.
@okonet Have you experienced the same?

[2021-11-17 14:00] sgigou opened #107 "Right arrows ligatures and ss02 not working in Sublime Text"
In Sublime Text, I cannot manage to make those ligatures / stylistic sets working. Here is the result:

<img width="323" alt="Screenshot 2021-11-17 at 14 58 19" src="https://user-images.githubusercontent.com/33257100/142214407-8074513a-adc3-476c-9ed1-57f4c070ddc2.png">

My configuration is:

[code]

Is there any trick? Is it Sublime Text's fault — once again?

[2021-11-18 05:56] okonet commented on #106
Nope. I'm also wondering if TTF or OTF file format was installed.

[2021-11-18 09:25] glenjamin opened #108 "Allow custom fonts in the website playground"
Hello, I just came across your font and I'm tempted by it - but I was hoping to do a side-by-side comparison with my existing font, which has been Monaco for years.

The playground on your site only offers a fixed comparison between 3 other popular fonts - would it be possible to get the option to modify one of the tabs to a local font of my choosing?

I suppose failing that my best bet is to down

[2021-11-18 09:40] MarcusSterz commented on #106
Interestingly I can reproduce it. Still no clear what is hapening here since similar ligs work without a problem.

[2021-11-18 09:51] MarcusSterz commented on #106
Alright, found the problem.

[2021-11-18 11:37] okonet commented on #108
Yeah we have been thinking about this kind of feature for a while. I think that comparing the Trial version locally is the best way for now since I'm not sure if we even can implement this feature for legal reasons (not all fonts are freely available) but we'll investigate later.

[2021-11-18 11:40] glenjamin commented on #108
If you take whatever value is enterered and use it directly as the `font-family` CSS property, then it'll use the local font stack of whoever is visiting. This shouldn't affect your font licensing, as you're not distributing anything - just using whatever your visitor has installed.

[2021-11-18 16:48] okonet commented on #108
Yes that's exactly how I thought we could solve it but it makes it a bit challenging UI wise :)

[2021-11-19 07:17] okonet commented on #105
We have released a new version of the website where you can download past versions of the font: https://www.monolisa.dev/orders

[2021-11-19 14:25] fabiochelly commented on #105
Thanks a lot!

[2021-11-20 22:41] rphii commented on #106
Weird, now the ligature works fine. (Which to me, it seems like it was a vscode issue...)

[2021-11-24 08:34] bebraw commented on #107
Sublime Text doesn't support all font features by design.

Here's a quote from the author ([source](https://forum.sublimetext.com/t/todo-ligatures-in-pragmata-pro-font-not-displaying/47940/7)):

There's more info at the thread.

[2021-11-24 14:22] sgigou commented on #107
Thanks for the link. Maybe it can explain the `ss02` problem.

But as written in [this documentation](https://www.sublimetext.com/docs/ligatures.html), it seems that `-`, `=` and `<` are supported characters.

Actually I just noticed that today, working ligatures are inverted… `->` now works, but no longer `<-`… 😞

[2021-11-26 07:08] MarcusSterz commented on #106
Well I did have problems in some apps. So I turned the bracket component into curves. Now it works at least for me. Will be available with the upcoming version.

[2021-12-06 14:15] MarcusSterz commented on #102
MonoLisa offers this as well with our script variant. But with the upcoming update the italic lower case ‘a’ will be optimized, too.

[2021-12-06 15:20] rphii opened #109 "Ligature <<<< and >>>>"
Hello again, I stumbled upon another set of ligatures that look a bit off. Any sequence of eigher < or > with at least 4 consecutive characters looks a bit broken.
![image](https://user-images.githubusercontent.com/46871963/144872316-d4581f9d-922f-4a1e-b324-93c688b098e9.png)

[2021-12-06 15:39] okonet commented on #109
@MarcusSterz could you please take a look?

[2021-12-09 11:45] bebraw commented on #104
Published in 1.803.

[2021-12-09 11:45] #104 closed

[2021-12-09 11:45] bebraw commented on #106
Published in 1.803.

[2021-12-09 11:45] #106 closed

[2021-12-09 11:46] bebraw commented on #102
Published in 1.803.

[2021-12-09 11:46] #102 closed

[2021-12-09 13:01] dongheeleeme opened #110 "Font weight issue on 1.803"
Hi, I just downloaded the latest version(1.803) and installed it on my machine. As we can see, It looks like the regular font is lighter than before. Would you please check on it? Thank you!

<img width="195" alt="Screenshot 2021-12-09 at 13 58 22" src="https://user-images.githubusercontent.com/38916112/145400761-72007151-2641-43bb-991b-eb89943ad0d2.png">
<img width="393" alt="Screenshot 2021-12-0

[2021-12-09 14:03] bebraw commented on #110
Which version (otf, ttf) are you using?

[2021-12-09 14:19] fabiochelly commented on #110
I have the same problem (in IntelliJ) with the TTF version (IntelliJ doesn't recognize the OTF ones).

After update:
![after-update](https://user-images.githubusercontent.com/4060753/145413126-a33941f6-1fea-4156-bd46-c56bd2a4352e.png)

Before update:
![before-update](https://user-images.githubusercontent.com/4060753/145413135-f7df9c09-1f1f-458c-9d76-871cdd8af368.png)

[2021-12-09 14:30] bebraw commented on #110
It looks like the issue is limited to ttf. We'll do a small patch release tomorrow to amend this.

[2021-12-09 16:18] deankarn opened #111 "BoldItalic 6 & 9 don't render properly 1.803"
I'm on macOS Montery and the 6 & 9 character in BoldItalic do not display properly.

![image](https://user-images.githubusercontent.com/8068371/145434351-32498e3e-cdc6-4060-aff1-9a3d334efbcb.png)

[2021-12-09 17:32] bebraw commented on #111
Are you using otf or ttf?

[2021-12-09 17:47] deankarn commented on #111
`otf`

[2021-12-09 17:48] bebraw commented on #111
Ok, we found the issue. I'll publish a fixed version tomorrow.

[2021-12-10 05:53] bebraw commented on #111
Fixed in 1.804 (available now).

[2021-12-10 05:53] #111 closed

[2021-12-10 05:53] bebraw commented on #110
Fixed in 1.804 (available now).

[2021-12-10 05:53] #110 closed

[2021-12-12 10:48] aleksejsolovev opened #112 "Font weights are broken in 1.804 TTF"
Hi, I'm using TTF fonts under Linux Mint 19.3, after upgrade from 1.801 to 1.804 Bold font is displayed as Normal. Seems like font weight was fixed after issue [#110](https://github.com/MonoLisaFont/feedback/issues/110) only for Normal weight.

For version 1.804 `fc-scan` reports
[code]

For reference, `fc-scan` applied to version 1.801 reports
[code]

The same is for Italic variant. OTF fonts for

[2021-12-13 05:56] mWaltari commented on #112
Seems that 1.803 is already has regression/bug.
![1 802_A](https://user-images.githubusercontent.com/4082975/145760021-e4d68f43-e51c-45bf-b687-880cc821a11c.png)
![1 802_B](https://user-images.githubusercontent.com/4082975/145760024-ab51f200-8b9e-428f-9063-0f6e58597dc7.png)
![1 803_A](https://user-images.githubusercontent.com/4082975/145760027-7b8933f4-8a2d-4ce9-92e6-4345a2bc2ba7.png)
![1 803_B](ht

[2021-12-13 10:36] aleksejsolovev commented on #112
A bit more info, in Qt Creator 5.0 under Linux using TTF version 1.804 looks like this

![Снимок экрана от 2021-12-12 14-45-21](https://user-images.githubusercontent.com/96003044/145795730-4edd73c0-281e-430f-8cde-b358faaaabf5.png)

Note that keywords should be bold, but shown as normal. For reference, with 1.801 this looks correct:

![Снимок экрана от 2021-12-12 14-47-06](https://user-images.githu

[2021-12-13 13:23] MarcusSterz commented on #112
Thanks for heads up – we are looking into it. Will be solved asap.

[2021-12-13 18:38] bebraw commented on #112
Fixed in 1.805 (available now).

[2021-12-14 02:18] dinhquochan commented on #38
Hi @bebraw, in Monitor (1080x1920, non-retina), `<` and `>` is weird, low legibility on 13px, looks screenshot below:

![image](https://user-images.githubusercontent.com/9979458/145920489-a5fa0a4e-9717-4c33-929a-36a4f1a9a693.png)

On 14px, its seem fixed

![image](https://user-images.githubusercontent.com/9979458/145920567-88debe1e-7817-4db7-b2c3-c164f62c83cd.png)

I try another fonts with 13px: H

[2021-12-14 04:12] bebraw commented on #38
@dinhquochan Can you open a separate issue about that?

[2021-12-14 05:04] dinhquochan commented on #38
Ok @bebraw

[2021-12-14 06:15] dinhquochan opened #113 "The `<`, `>` are weird, low legibility on 13px (macOS with non-retina monitor)"
Dear MonoLisa team,

Ref #38, i mention that in Monitor (1080x1920, non-retina), `<` and `>` is weird, low legibility on 13px, looks screenshot below:

![image](https://user-images.githubusercontent.com/9979458/145920489-a5fa0a4e-9717-4c33-929a-36a4f1a9a693.png)

On 14px, its seem fixed

![image](https://user-images.githubusercontent.com/9979458/145920567-88debe1e-7817-4db7-b2c3-c164f62c83cd.png)

[2021-12-15 11:04] bebraw commented on #101
@Christian-Martinez1 When you have time, can you provide the information I was requesting? Make sure to test against the newest version available through https://www.monolisa.dev/orders .

[2021-12-15 13:34] Christian-Martinez1 commented on #101
Apologies for not replying, I completely forgot to oof.. It was the OTF font, TTF cleared it right up.

Thanks!

[2021-12-15 13:34] #101 closed

[2021-12-23 14:30] grpnpraveen commented on #90
I am also facing the same issue , I think there is no fix that I know about but fyi,the command prompt is in the MonoLisa font inside vscode.

[2021-12-29 01:05] mayaul commented on #63
I am also looking forward to Korean language support soon.

[2021-12-30 10:10] ms3056 opened #114 "Release script version as a separate font"
Please release the script version as a separate font - it would make things easier for tools such as Logseq.

[2021-12-30 10:18] okonet commented on #114
We're about to release a feature that will solve this. Stay tuned!

[2021-12-30 13:58] ms3056 commented on #114
Awesome! Looking forward to it, thank you for your response!!!!

[2022-01-04 15:17] gterez opened #115 "Legibility of Greek lowercase letters"
![Screenshot of implementations in different monospace fonts](https://user-images.githubusercontent.com/118370/148079545-da60dcff-3d8b-4482-a4af-7f6cfcb55592.jpg)
I have a couple of niggles regarding the readability of some lowercase Greek characters (I’m Greek in case it's not obvious :-)):
- ψ (psi) is my biggest issue, the low stem is highly unusual and creates a situation where ψ looks like ω

[2022-01-04 20:47] ankidoc opened #116 "VS Code"
MacOS Big Sur latest

Problem: Font not working completely on VS Code.
![CleanShot 2022-01-04CleanShotCleanShot at 21 46 17](https://user-images.githubusercontent.com/81517565/148122129-1eeb333e-6f4b-47c1-9308-f52d96b70d3a.png)
![CleanShot 2022-01-04CleanShotCleanShot at 21 46 48](https://user-images.githubusercontent.com/81517565/148122152-a9e76aeb-1b33-48a8-9279-b55b5c38a36e.png)

the font overa

[2022-01-05 07:26] bebraw commented on #116
Can you paste your `"editor.fontLigatures"` as well? See https://www.monolisa.dev/faq and "How to enable stylistic sets and the script variant?" (sadly I cannot link directly).

[2022-01-05 09:28] dinhquochan commented on #109
@MarcusSterz  I can verify this issue.

![image](https://user-images.githubusercontent.com/9979458/148194160-d4ae42cb-2d98-4b73-a654-6a0c3b088bce.png)

[2022-01-05 10:23] MarcusSterz commented on #109
We do not have a quadruple > ligature at this point so thats’s why this looks weird. WIll take a look.
Is ‘>>>>’ a common programming ligature?

[2022-01-05 10:32] ankidoc commented on #116
ah thanks!
I looked into the link and adding "editor.fontLigatures": true, into the settings.json made it work!

[2022-01-05 10:32] #116 closed

[2022-01-05 10:53] okonet commented on #115
Thanks for such great feedback! @MarcusSterz let's take a look and consider it in further updates please.

[2022-01-05 11:43] MarcusSterz commented on #115
Thank you @gterez for the insight. Will look into it asap.

[2022-01-05 13:23] gterez commented on #115
Didn't expect such a quick response! 😃 Thank you so much, they look great!
To be honest I'd like to see the new gamma in a block of text to tell how well it works though.

[2022-01-05 15:42] gterez commented on #115
Looks good 👍, thanks again!

[2022-01-06 04:15] dinhquochan commented on #109
I don't know, but i see it on 'conflict commit'

[code]

[2022-01-11 17:11] rarodja opened #117 "Line height trouble"
Hi!
Using and evaluating MonoLisa I have seen errors in the line height only using this font, I have tried others fonts and it does not happen, my IDE (VSCode) is a clean installation without modifications, it also happens with any visual color theme, so I discarded the latter, attach two diferent example documents.

![Issue_One](https://user-images.githubusercontent.com/74628132/148988224-73338cb

[2022-01-11 20:22] mayureshs opened #118 "Font is bold on Win10"
The font is very bold in VSCode on Win10 even with the fontWeight set to 100

![image](https://user-images.githubusercontent.com/1014702/149015566-254f5d7f-f83b-47cb-bdd3-8df4951b7776.png)

[2022-01-11 21:32] rarodja commented on #118
That is the minimum weight of the font, I think it cannot be finer, that aspect is what makes it beautiful and improves reading, which is what I personally like the most about it, but each person has their own preferences 😊

[2022-01-11 22:07] okonet commented on #118
No, I think it's a bug with the font on windows. Which version (TTF or OTF) have you installed? @MarcusSterz cc

[2022-01-11 22:18] rarodja commented on #118
I have the TTF, I have installed the OTF and I see it the same, what is the difference? Could it have something to do with the error I reported? Thank you so much.

[2022-01-12 00:05] mayureshs commented on #118
Is there a semi-light version of the font ?

[2022-01-12 06:48] okonet commented on #118
@mayureshs What do you mean? There are 7 different weights available but it depends on the bundle you've got. Which did you install on your system? BTW we recommend TTF on windows. @bebraw cc

[2022-01-12 07:21] mittalyashu commented on #103
Any update on this issue? 👀

[2022-01-12 09:11] bebraw commented on #118
@okonet It's the trial version based on email.

@mayureshs What's your display resolution? Can you paste a screenshot with another font with weight set to 400? Can you see the problem in other editors as well?

[2022-01-12 09:13] bebraw commented on #117
@rarodja Which operating system are you using? Are you using otf or ttf?

@MarcusSterz Do you know what might be causing this?

[2022-01-12 10:57] MarcusSterz commented on #118
With the trial version it makes no sense to try change the weight since there is ony one available. The screenshot looks OK to me. No issue here from my point of view.

[2022-01-12 11:43] mayureshs commented on #118
With Personal bundle how many weights do we get ?

[2022-01-12 12:55] okonet commented on #103
We lowered the price of the professional and will remove the mention of commercial from the website later. Let's close the issue?

[2022-01-12 13:18] mayureshs commented on #118
@MarcusSterz, So to get the 7 different weights do I need to look for the feature "script variant" which is only included in Plus and Professional

[2022-01-12 17:55] MarcusSterz commented on #118
@mayureshs
With the Professional set you get all 7 weights.

[2022-01-12 18:40] rarodja commented on #117
@bebraw I am using Windows 11, I think the error comes from the file that I had already installed, I have purchased and installed the new files and the error has disappeared, however which is better to install, OTF or TTF? many thanks for your help.

[2022-01-12 18:54] #118 closed

[2022-01-12 18:56] bebraw commented on #117
For Windows, ttf is the better choice. Thanks.

[2022-01-13 08:17] #117 closed

[2022-01-13 14:36] zhimoe opened #119 "the space between s,i,j letters in italic style need optimize"
just test on official website, the space in 'sam' and 'fij' looks strange
## Issue
<img width="399" alt="iShot2022-01-13 22 30 09" src="https://user-images.githubusercontent.com/24514012/149349726-821a63e5-5f31-4d69-a8a6-31ea52b15194.png">

[2022-01-21 09:31] #105 closed

[2022-01-21 10:49] MarcusSterz commented on #109
@mekkablue Rainer, can you give us some advice? A quadruple : is no problem, for example.

[2022-01-21 10:57] MarcusSterz commented on #119
Thanks for your feedback! All monospaced fonts have a great disadvantage compared to proportional typefaces: space cannot be distributed as evenly as needed due to the fixed width and one of the main design goals is to minimize the consequences. Sometimes certain combinations such as the ones you posted look awkward and there will always be some more. Unfortunately there is no way to prevent this

[2022-01-21 10:57] #119 closed

[2022-01-25 09:12] MarcusSterz commented on #98
Thank you for your thoughts on our script variant and sorry for replying so late. We had some pressing issues to tackle in the meantime.
You are absolutely right that there are problematic letters. Trying to make a monospaced font look handwritten is difficult and there is no 100% perfection since there are combinations that will look awkward—some of them you mentioned already.
When I look into th

[2022-01-25 09:12] #98 closed

[2022-01-25 13:38] MarcusSterz commented on #107
Interesting. There is no reason why it should not behave accordingly from our side. Also replacing italics with ss02 should work and it does so in other apps.

[2022-01-26 10:55] MarcusSterz commented on #100
@tiagovla The box lines come with sufficient overlap per default.
<img width="345" alt="Bildschirmfoto 2022-01-26 um 11 54 34" src="https://user-images.githubusercontent.com/51958720/151150879-0aed8b9c-c0bc-4b97-ab38-632ac7598f4a.png">

Which line height did you use?

[2022-01-27 13:10] MarcusSterz commented on #113
Looking into it. Out of interest: How do the other fonts render in 14 or 12?

[2022-01-27 13:17] MarcusSterz commented on #100
I have now extended the vertical expansion of all border and block symbols (1500 units). Will be fixed in 1.806.

[2022-02-01 23:54] ljdigital-control commented on #114
I would love to see what my website would look like with the script font. Please release this ASAP as I would love to try out. ITs the coolest font I have seen in many a year. It's an epic effort by you all. Keep up the good work ;)

[2022-02-02 06:10] ginkcode opened #120 "Minus symbol (-) should be shorter than Dash (—)"
This font is for developer.
How come it can be a programming font when making mistake like this?

Version: 1.602

[2022-02-02 06:34] bebraw commented on #120
Can you add a screenshot to illustrate?

[2022-02-02 07:00] ginkcode commented on #120
I'm checking the latest version on the playground and the difference is still very small.
Can you detect any difference at `--heading-1:` if I remove the other one?
<img width="630" alt="monolisa" src="https://user-images.githubusercontent.com/9301098/152107871-3feba05e-c08a-47a3-bd7e-7de036db9987.png">

With JetbrainMono, it's much better:
<img width="629" alt="jetbrain" src="https://user-images.

[2022-02-02 07:04] ginkcode commented on #120
I've made a mistake on SQL query and taken hours to detect the issue just because of the dash (—) where it should be the hyphen (-).
So I have to come here to raise a feedback.

[2022-02-02 10:09] MarcusSterz commented on #120
Before we go on, let’s talk about terminology first.
What @ginkcode calls a ‘minus’ is actually called ‘hyphen’. The real minus is a rarely used mathematical symbol.

<img width="543" alt="Bildschirmfoto 2022-02-02 um 11 00 51" src="https://user-images.githubusercontent.com/51958720/152132707-985d9057-72bd-4492-9272-44a9a66ae400.png">

Nonetheless minus AND hyphen are shorter than the ‘Endash (the

[2022-02-02 10:11] bebraw commented on #120
It's probably a worthwhile change esp. if all other typefaces are doing it.

[2022-02-02 10:12] MarcusSterz commented on #120
Alright! Will be updated next version.

[2022-02-02 10:38] okonet commented on #120
I would keep the stroke width intact, though, otherwise we'd need to update all related glyphs like `+` and `=` which are being often used in conjunction with `-`.

[2022-02-02 11:09] MarcusSterz commented on #120
Good point.

[2022-02-02 12:05] ginkcode commented on #120
Sorry I can't figure out how come updating on `+` and `=` can solve the issue I encountered where `1 — 2` is not a valid expression. Just because it's too similar to the hyphen `-`.
In most of IDE the operators are often highlighted by different color. But if we use it in a string like building SQL query it's definitely a potential bug when copy/paste from another rich text editor.

[2022-02-04 00:03] mekkablue commented on #109
Telling from the screenshot, it appears to be two triples, not a quadruple of greater-than signs. What did you type?

[2022-02-04 07:51] krish-r commented on #120
Hello,

One request, please do not make the hyphen too short like JetBrains Mono or Dejavu Sans Mono (it is hard to notice esp. in Dejavu Sans Mono, as a standalone character or even when it is combined with other characters like `=` and numbers).

Attaching other popular monospace fonts (latest version) for comparison:
![image](https://user-images.githubusercontent.com/54745129/152482547-777c665c

[2022-02-04 10:46] sylbru opened #121 "No difference in character width in Sublime Text"
## Background information

* Font edition: Trial version
* Font version: 1.805
* The type of the font file you are using: OTF
* Operating system: Linux Mint
* Display resolution: 1920x1080
* Any other information that might be helpful: Sublime Text build 4126

## Issue

Trying out the trial version in Sublime Text 4, I see strictly no difference in the character width when switching between Fira C

[2022-02-04 13:18] MarcusSterz commented on #120
This is how it looks now. The decrease in width of the hyphen is visible though moderate enough so no other symbols will need a change to match it.
<img width="219" alt="Bildschirmfoto 2022-02-04 um 14 15 44" src="https://user-images.githubusercontent.com/51958720/152535375-b8364ac8-4fc0-44f9-83c2-8d31f15c5025.png">

[2022-02-04 13:33] MarcusSterz commented on #109
Interesting. Which browser?
With Firefox I get this:

<img width="286" alt="Bildschirmfoto 2022-02-04 um 14 32 20" src="https://user-images.githubusercontent.com/51958720/152537488-8b9ce1fb-5c43-41b7-a6c7-bfcbcfdff5ca.png">

[2022-02-04 14:04] okonet commented on #120
I like it! I'd keep the stroke width the same for all of them though including the emdash

[2022-02-04 15:12] Venus007e commented on #114
Yes please, i actaully came to the github to ask the same question. Looking forward to the release!

[2022-02-04 16:00] MarcusSterz commented on #120
The emdash is traditionally longer and thinner than the others. We better keep them different.

[2022-02-07 07:39] jaanus opened #122 "Cannot disable coding ligatures in Xcode"
## Background information

* Font edition (i.e. trial, personal, plus, pro): Professional
* Font version (i.e. 1.805): Not sure. How do I find out? Bought on 2022-02-06. Whatever was current version then.
* The type of the font file you are using (i.e. otf, ttf): OTF
* Operating system (i.e. MacOS, Windows): macOS Monterey 12.2 (21D49)
* Hardware: iMac Retina 5K, 27-inch, 2019
* Display resolution

[2022-02-07 16:51] sylbru commented on #121
But maybe it’s my Fira Code that is too wide. Do you have a way of telling from the screenshots if my MonoLisa seems to be the proper width? Please tell me if more info is needed (screenshots, FontForge info…).

[2022-02-07 21:52] sylbru commented on #121
Ok so comparing the three fonts above in VS Code vs in Sublime Text, it looks like my Fira Code might be too wide in Sublime Text somehow, making it just as wide as MonoLisa. I guess my MonoLisa has the correct width then!

[2022-02-07 21:52] #121 closed

[2022-02-10 17:35] dwhenson opened #123 "Script version doesn't load in sublime text."
I cannot make the script version load naturally in Sublime using the font options. Apparently, it might be because Sublime is particular about character width? I can load it fine in VS Code.

I have forced the script version to load in Sublime by essentially converting the italic version to the script version so it's not the ned of the world, but I couldn't see another mention of the issue here so

[2022-02-12 15:58] nicolaswendling commented on #123
Same issue!
It doesn't work even with VSCode settings from FAQ.
Please fix it.

[2022-02-12 19:07] nicolaswendling commented on #123
@okonet I've just bought **MonoLisa Plus** with script variant feature.

Script variant doesn't display in Sublime.
I succeed to display it in VSCode but impossible to use it with Sublime.

I set up with these options in `preferences.sublime-settings` user file.

`font_options": [ "gray_antialias", "calt", "liga", "clig", "ss02", ]`

Italic font style is displayed but script variant isn't used whi